<div class="cbp-loadMore-block1">
    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/015.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/59.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Shopping Gallery<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Shopping Gallery</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/57.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/63.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Timezone Mgmt<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Timezone Mgmt</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
    </div>
    <div class="graphic logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/98.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/62.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Story Book<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Story Book</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
    </div>
    <div class="identity web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/55.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/15.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Website Lightbox<br>by Paul Flavius Nechita">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Website Lightbox</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Identity</div>
    </div>
</div>
<div class="cbp-loadMore-block2">
    <div class="graphic web-design cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/11.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/01.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Mountaineer<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Mountaineer</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
    </div>
    <div class="identity logos cbp-item">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                <img src="../Content/assets/global/img/portfolio/600x600/94.jpg" alt=""> </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="../Content/assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                        <a href="../Content/assets/global/img/portfolio/1200x900/83.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Archiview<br>by Cosmin Capitanu">view larger</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-l-grid-projects-title uppercase text-center">Archiview</div>
        <div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
    </div>
</div>