<!-- BEGIN HEADER INNER settings.settings.layoutPath -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="dashboard">
            <img src="{{vm.settings.settings.layoutPath}}/img/logo-default.png" alt="logo" class="logo-default" />
        </a>
        <div class="menu-toggler sidebar-toggler" ng-click="vm.showLogo()">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->
    <div class="page-actions">
        <div class="btn-group">
            <button type="button" class="btn btn-circle btn-outline white dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i>&nbsp;
                <span class="hidden-sm hidden-xs">@L("New")&nbsp;</span>&nbsp;
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">


                @if (IsGranted("Pages.Enrollments.Create"))
                {
                    <li ng-if="vm.userBellongToSchool == true">
                        <a href="#/enrollments?origin=new">
                            <i class="icon-docs"></i> @L("Enrollments")
                        </a>
                    </li>
                }

                @if (IsGranted("Pages.Receipts"))
                {
                    <li ng-if="vm.userBellongToSchool == true">
                        <a href="#/receipts?origin=new">
                            <i class="icon-docs"></i> @L("Receipts")
                        </a>
                    </li>
                }

                @if (IsGranted("Pages.Deposits"))
                {
                    <li ng-if="vm.userBellongToSchool == true">
                        <a href="#/deposits?origin=new">
                            <i class="icon-docs"></i> @L("Deposits")
                        </a>
                    </li>
                }
                @if (IsGranted("Pages.Transactions.Create"))
                {
                    <li ng-if="vm.userBellongToSchool == true">
                        <a href="#/transactions?origin=new">
                            <i class="icon-docs"></i> @L("Transactions")
                        </a>
                    </li>
                }

            </ul>
        </div>
        @*<div class="btn-group">
            <button type="button" class="btn btn-circle btn-outline white dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cc-discover"></i>&nbsp;
                <span class="hidden-sm hidden-xs">@L("Reset")&nbsp;</span>&nbsp;
                <i class="fa fa-angle-down"></i>
            </button>
        </div>*@
        </div>
    <!-- END PAGE ACTIONS -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box
        <form class="search-form search-form-expanded" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>
        END HEADER SEARCH BOX -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li ng-if="vm.currentUser.userTenants.length > 1">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group" style="margin-top: 20px; width: 300px;">

                                <select id="tenantChangeCbo"
                                        class="select2me form-control"
                                        ng-options="$helpers.getEditionIdOfTenant(item) as item.tenant_Name for item in vm.currentUser.userTenants"
                                        ng-model="vm.currentTenantId"
                                        ng-class="{'edited':vm.currentTenantId != null}"
                                        data-live-search="true">
                                    <option value=""></option>
                                </select>

                            </div>
                        </div>
                    </div>
                </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-default"> 0 </span>
                    </a>
                    <ul class="dropdown-menu" ng-if="false">
                        <li class="external">
                            <h3>
                                <span class="bold">12 pending</span> notifications
                            </h3>
                            <a href="#">view all</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">just now</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-success">
                                                <i class="fa fa-plus"></i>
                                            </span> New user registered.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">3 mins</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span> Server #12 overloaded.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">10 mins</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-bell-o"></i>
                                            </span> Server #2 not responding.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">14 hrs</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-bullhorn"></i>
                                            </span> Application error.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">2 days</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span> Database overloaded 68%.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">3 days</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span> A user IP blocked.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">4 days</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-warning">
                                                <i class="fa fa-bell-o"></i>
                                            </span> Storage Server #4 not responding dfdfdfd.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">5 days</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-info">
                                                <i class="fa fa-bullhorn"></i>
                                            </span> System Error.
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">9 days</span>
                                        <span class="details">
                                            <span class="label label-sm label-icon label-danger">
                                                <i class="fa fa-bolt"></i>
                                            </span> Storage server failed.
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->


                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-envelope-open"></i>
                        <span ng-if="vm.message.count>0" class="badge badge-default"> {{vm.message.count|number}} </span>
                    </a>
                    <ul class="dropdown-menu" ng-if="vm.message.count>0">
                        <li class="external">
                            <h3>
                                @L("Youhave")
                                <span class="bold">{{vm.message.count|number}} @L("NewMessages")</span>
                            </h3>
                            <a href="#/messages">@L("viewall")</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">

                                <li ng-repeat="item in vm.message.messages">
                                    <a href="#/messages/{{item.id}}">
                                        <span class="photo">
                                            @*<img src="Account/GetUserPicture/{{item.creatorUserId}}" class="img-circle" alt="">*@
                                            <img src="Account/GetUserPicture/0" class="img-circle" alt="">
                                        </span>
                                        <span class="subject">
                                            <span class="from"> {{item.fromUser}} </span>
                                            <span class="time">{{item.time}} </span>
                                        </span>
                                        <span class="message"> {{item.subject}} </span>
                                    </a>
                                </li>

                                @*<li>
                            <a href="#">
                                <span class="photo">
                                    <img src="{{vm.settings.settings.assetsPath}}/pages/media/users/avatar2.jpg" class="img-circle" alt=""> </span>
                                <span class="subject">
                                    <span class="from"> Lisa Wong </span>
                                    <span class="time">Just Now </span>
                                </span>
                                <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                            </a>
                        </li>*@
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <i class="icon-calendar"></i>
                        <span class="badge badge-default"> 0 </span>
                    </a>
                    <ul class="dropdown-menu extended tasks" ng-if="false">
                        <li class="external">
                            <h3>
                                You have
                                <span class="bold">12 pending</span> tasks
                            </h3>
                            <a href="#/todo">view all</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">New release v1.2 </span>
                                            <span class="percent">30%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">40% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">Application deployment</span>
                                            <span class="percent">65%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">65% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">Mobile app release</span>
                                            <span class="percent">98%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">98% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">Database migration</span>
                                            <span class="percent">10%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">10% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">Web server upgrade</span>
                                            <span class="percent">58%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">58% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">Mobile development</span>
                                            <span class="percent">85%</span>
                                        </span>
                                        <span class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">85% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="task">
                                            <span class="desc">New UI release</span>
                                            <span class="percent">38%</span>
                                        </span>
                                        <span class="progress progress-striped">
                                            <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">38% Complete</span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="{{ vm.currentUser.picture || defaultPicture}}" />
                        <span class="username username-hide-on-mobile"> {{vm.getShownUserName}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-if="vm.pagesProfile">
                            <a ui-sref="profile">
                                <i class="icon-user"></i>@L("MyProfile")
                            </a>
                        </li>
                        <li ng-if="vm.pagesProfile" class="divider"> </li>
                        <li ng-if="vm.iduser!=1">
                            <a href="@Url.Action("ChangePassword", "Account")">
                                <i class="icon-lock"></i> Cambiar Password
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","Account")"><i class="icon-key"></i>@L("Logout")</a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN LANGUAGE BAR -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-language">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover="" data-toggle="dropdown" data-close-others="true">
                        <i class="{{vm.currentLanguage.icon}}"></i>
                        <span class="langname"> {{vm.currentLanguage.displayName}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-repeat="language in vm.languages">
                            <a ng-if="language.name != currentLanguage.name" href="#" ng-click="vm.changeLanguage(language.name)">
                                <i class="{{language.icon}}"></i>
                                {{language.displayName}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END LANGUAGE BAR -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended quick-sidebar-toggler" style="display:none;">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->