﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Configuration
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using EasySchoolManager.Configuration
@{
    Layout = null;
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="MetronicApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <title data-ng-bind="'EasySchoolManager | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="EasySchoolManager App" name="description" />
    <meta content="EasySchoolManager App" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Bundles/mandatory-styles/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    @Styles.Render("~/Bundles/theme-styles/css")
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
                var agentPrint = agentPrint || {};
        agentPrint.port = @(System.Configuration.ConfigurationManager.AppSettings["AgentPrint.Port"] ?? "0")
    </script>
    <style type="text/css">
        ul.sub-sub-menu {
            background-color: #76a5f5 !important;
        }

        ul.sub-menu {
            background-color: #2963c6;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body data-ng-controller="MetronicApp.views.layout" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-on-load page-footer-fixed" ng-class="{'page-sidebar-closed': $settings.settings.layout.pageSidebarClosed}">
    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <div data-ng-include="'/App/Main/views/layout/header.cshtml'" data-ng-controller="MetronicApp.views.layout.header as vm" class="page-header navbar navbar-fixed-top"> </div>
    <!-- END HEADER -->
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div data-ng-include="'/App/Main/views/layout/sidebar.cshtml'" data-ng-controller="MetronicApp.views.layout.sidebar as vm" class="page-sidebar-wrapper"> </div>
        <!-- END SIDEBAR -->
        <div class="page-content-wrapper" ng-class="{'view-home': $settings.settings.layout.viewName == 'home'}">
            <div class="page-content">
                <!-- BEGIN STYLE CUSTOMIZER(optional) -->
                <div data-ng-include="'/App/Main/views/layout/theme-panel.cshtml'" data-ng-controller="MetronicApp.views.layout.theme-panel" class="theme-panel hidden-xs hidden-sm"> </div>
                <!-- END STYLE CUSTOMIZER -->
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class="fade-in-up"> </div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div data-ng-include="'/App/Main/views/layout/quick-sidebar.cshtml'" data-ng-controller="MetronicApp.views.layout.quick-sidebar" class="page-quick-sidebar-wrapper"></div>
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- BEGIN FOOTER -->
    <div data-ng-include="'/App/Main/views/layout/footer.cshtml'" data-ng-controller="MetronicApp.views.layout.footer" class="page-footer"> </div>
    <!-- END FOOTER -->
    <!-- END CONTAINER -->
    <!-- BEGIN QUICK NAV -->
    <nav class="quick-nav" style="display:none;">
        <a class="quick-nav-trigger" href="#">
            <span aria-hidden="true"></span>
        </a>
        <ul>
            <li>
                <a href="#" class="active">
                    <span>Opcion 1</span>
                    <i class="icon-basket"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Opcion 2</span>
                    <i class="icon-users"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Opcion 3</span>
                    <i class="icon-user"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Opcion 4</span>
                    <i class="icon-graph"></i>
                </a>
            </li>
        </ul>
        <span aria-hidden="true" class="quick-nav-bg"></span>
    </nav>
    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/Bundles/jquery-plugins/js")
    <!-- END CORE JQUERY PLUGINS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    @Scripts.Render("~/Bundles/angularjs-plugins/js")
    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
        function getRootUrl() {
            return location.protocol + '//' + location.host;
        }
    </script>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <!-- END CORE ANGULARJS PLUGINS -->
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")
    @Scripts.Render("~/Bundles/angularjs-app/js")
    @Scripts.Render("~/Bundles/angularjs-app/js-views")
    @Scripts.Render("~/Bundles/app-services")
    @Scripts.Render("~/Bundles/app-directives")
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>