<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">

        <li class="nav-item" ng-repeat="menuItem in vm.menuItems" ui-sref-active="active">
            <!-- route name -->
            <a ui-sref="{{menuItem.route}}" ng-if="!menuItem.items && menuItem.route.indexOf('http') != 0" >
                <i ng-if="menuItem.icon" class="{{menuItem.icon}}"></i>
                <span class="title">{{left(menuItem.name,vm.lengthMenu)}}</span>
            </a>
            <!-- Static link (starts with 'http') -->
            <a href="{{menuItem.route}}/menu" target="_blank" ng-if="!menuItem.items  && menuItem.route.indexOf('http') == 0" >
                <i ng-if="menuItem.icon" class="{{menuItem.icon}}"></i>
                <span class="title">{{left(menuItem.name,vm.lengthMenu)}}</span>
            </a>
        
            <a href="javascript:void(0);" class="nav-link nav-toggle" ng-if="menuItem.items" >
                <i ng-if="menuItem.icon" class="{{menuItem.icon}}"></i>
                <span class="title">{{left(menuItem.name,vm.lengthMenu)}}</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu" ng-if="menuItem.items">
                <li ng-repeat="subMenuItem in menuItem.items | orderBy:'name'" ui-sref-active="active" ng-class="{ 'nav-item' : subMenuItem.items }">
                    <!-- route name -->
                    <a ui-sref="{{subMenuItem.route}}" ng-if="!subMenuItem.items && subMenuItem.route.indexOf('http') != 0" title="{{subMenuItem.name}}">
                        <i ng-if="subMenuItem.icon" class="{{subMenuItem.icon}}"></i>
                        {{left(subMenuItem.name,vm.lengthMenu)}}
                    </a>
                    <!-- Static link (starts with 'http') -->
                    <a href="{{subMenuItem.route + "/menu'}}/menu" target="_blank" ng-if="!subMenuItem.items && subMenuItem.route.indexOf('http') == 0" title="{{subMenuItem.name}}">
                        <i ng-if="subMenuItem.icon" class="{{subMenuItem.icon}}"></i>
                        {{left(subMenuItem.name,vm.lengthMenu)}}
                    </a>
                    <!-- Has child menu items (so, this is a parent menu) -->
                    <a href="javascript:void(0);" ng-if="subMenuItem.items" class="nav-link nav-toggle" title="{{subMenuItem.name}}">
                        <i ng-if="subMenuItem.icon" class="{{subMenuItem.icon}}"></i>
                        {{left(subMenuItem.name,vm.lengthMenu)}}
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu sub-sub-menu" ng-if="subMenuItem.items">
                        <li ng-repeat="subSubMenuItem in subMenuItem.items | orderBy:'name'" ui-sref-active="active">
                            <!-- route name -->
                            <a ui-sref="{{subSubMenuItem.route}}" ng-if="subSubMenuItem.route.indexOf('http') != 0" title="{{subSubMenuItem.name}}">
                                <i ng-if="subSubMenuItem.icon" class="{{subSubMenuItem.icon}}"></i>
                                {{left(subSubMenuItem.name,vm.lengthMenu)}}
                            </a>
                            <!-- Static link (starts with 'http') -->
                            <a href="{{subSubMenuItem.route}}/menu" target="_blank" ng-if="subSubMenuItem.route.indexOf('http') == 0" title="{{subSubMenuItem.name}}">
                                <i ng-if="subSubMenuItem.icon" class="{{subSubMenuItem.icon}}"></i>
                                {{left(subSubMenuItem.name,vm.lengthMenu)}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</div>
<ul class="page-sidebar navbar-collapse collapse" style="position:absolute;bottom:0px;margin-bottom:0px;height:auto!important">
    <li class="nav-item" id="logo-custom1-sidebar">
        <a>
            <span><img src="~/Content/assets/layouts/layout2/logo/EasySchoolManagerLogo.jpg" /></span>
        </a>
    </li>
</ul>
<style>
    #logo-custom1-sidebar {
        background: #4285f4;
        border: 10px solid #4285f4;
    }

        #logo-custom1-sidebar img {
            width: 167px;
        }

        #logo-custom1-sidebar a {
            padding: 0px;
        }
</style>