
<style>
    .evaluation-legend {
        width: 70px;
    }

    .chosen-container {
        width: 50px !important
    }

    .eva-period {
        width: 70px;
        border-left: solid 1px #1048ad;
        margin: 2px;
        padding: 3px;
        text-align: center;
    }

    .modal-lg {
        width: 98%;
    }

    .fullTable {
        width: 100%;
        border: solid 1px darkblue;
    }

        .fullTable tr {
            min-height: 32px;
        }

        .fullTable caption {
            min-height: 35px;
            background-color: black;
            font-weight: bold;
            color: white;
            text-align: center;
        }

        .fullTable tr:hover {
            background-color: #b3f6ba;
        }

        .fullTable th {
            height: 32px;
            background-color: darkblue;
            color: white;
            font-weight: bold;
        }

        .fullTable td, .fullTable th {
            margin-left: 3px !important;
            height: 50px !important;
        }


    .no-found {
        background-color: #e9baba;
        color: darkred;
        text-align: center;
    }

    .student-count {
        font-size: 21px;
        padding-top: 6px;
        font-weight: bold;
        color: darkgreen;
    }
</style>

<form id="frm_create_evaluation" name="evaluationCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EvaluatingStudent")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>
                            @L("Student") ( {{vm.student.sequence}} ) - <span>{{vm.student.students.firstName}} {{vm.student.students.lastName}}</span>
                        </div>
                        <div class="tools" style="width: 233px;" ng-if="false">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right; margin: -8px;  width: 217px;   ">
                        </div>
                    </div>
                    <div class="portlet-body" style="padding-bottom: 30px;">

                        <div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-12" style="background-color:#f0f7f2;">
                                <table class="fullTable" ng-repeat="($ig,ig) in vm.subject.indicatorGroups">
                                    <caption>
                                        <span>{{ig.name}}</span>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th style="width:60px;"> @L("Sequence")</th>
                                            <th> @L("Indicator")</th>
                                            <th class="eva-period" ng-repeat="ep in vm.evaluationPeriods">
                                                {{ep.name}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" ng-if="vm.indicators.length == 0" class="no-found">
                                                @L("NoIndicatorFound");
                                            </td>
                                        </tr>
                                        <tr ng-repeat="($i, ind) in ig.indicators">

                                            <td style="text-align:center">
                                                {{ind.sequence}}
                                            </td>
                                            <td>
                                                {{ind.name}}
                                            </td>
                                            <td ng-if="ind.evaluations.length == 0">
                                                @L("NoEvaluationFound")
                                            </td>
                                            <td ng-repeat="($e, ev) in ind.evaluations">
                                                <select ng-change="; vm.setLegendToStudent(ev);" class="evaluation-legend" id="cbbEvaluation{{$index}}" chosen
                                                        placeholder-text="'@L("Legend")'"
                                                        ng-model="ev.evaluationLegendId"
                                                        ng-options="c.id as c.name for c in vm.evaluationLegends"
                                                        options="vm.evaluationLegends"
                                                  ng-disabled="vm.isDisabled(ind,ev,$ig,$i,$e)"       
                                                        >
                                                    @*<option value=""></option>*@
                                                </select>
                                              
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>

        <button type="button" class="btn btn-default waves-effect" ng-click="vm.printEvaluation()">
            @L("Print")
        </button>
        @*<button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="evaluationCreateForm.$invalid">
            @L("Save")
        </button>*@
    </div>
</form>
