<form id="frm_edit_evaluation" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditEvaluation")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="evaluationIndicatorId" 
								type="number" name="IndicatorId" 
								ng-model="vm.evaluation.indicatorId" 
								required  
								ng-class="{'edited':vm.evaluation.indicatorId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="evaluationIndicatorId" class="form-label">@L("EvaluationIndicatorId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="evaluationEnrollmentStudentId" 
								type="number" name="EnrollmentStudentId" 
								ng-model="vm.evaluation.enrollmentStudentId" 
								required  
								ng-class="{'edited':vm.evaluation.enrollmentStudentId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="evaluationEnrollmentStudentId" class="form-label">@L("EvaluationEnrollmentStudentId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="evaluationEvaluationPeriodId" 
								type="number" name="EvaluationPeriodId" 
								ng-model="vm.evaluation.evaluationPeriodId" 
								required  
								ng-class="{'edited':vm.evaluation.evaluationPeriodId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="evaluationEvaluationPeriodId" class="form-label">@L("EvaluationEvaluationPeriodId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.evaluation.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_evaluation.$invalid">
            @L("Save")
        </button>
    </div>
</form>
