<form id="frm_create_discountNameTenant" name="discountNameTenantCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewDiscountNameTenant")</span>
        </h4>
    </div>
    <div class="modal-body">
                						
				@*<div class="form-group">
                    <label for="discountNameTenantDiscountName">@L("DiscountNameTenantDiscountName")</label>
                    <select id="discountNameTenantDiscountName"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.discountNames"
                            ng-model="vm.discountNameTenant.discountNameId"
                            ng-class="{'edited':vm.discountNameTenant.discountNameId != null}"
                            data-live-search="true"
                            disabled>
                        <option value=""></option>
                    </select>
                </div>*@
				
								
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="tradeTenantReceiveId">@L("Tenant")</label>
                        <select id="tradeTenantReceiveId"
                                class="select2me form-control"
                                ng-options="$helpers.getEditionId(item) as item.name for item in vm.tenants"
                                ng-model="vm.discountNameTenant.tenantId"
                                ng-class="{'edited':vm.discountNameTenant.tenantId != null}"
                                data-live-search="true"
                                required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <br />
                <br />
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="discountNameTenantCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
