<form id="frm_edit_discountNameTenant" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditDiscountNameTenant")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                								
				<div class="form-group">
                    <label for="discountNameTenantDiscountName">@L("DiscountNameTenantDiscountName")</label>
                    <select id="discountNameTenantDiscountName"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.discountNames"
                            ng-model="vm.discountNameTenant.discountNameId"
                            ng-class="{'edited':vm.discountNameTenant.discountNameId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="discountNameTenantTenantId" 
								type="number" name="TenantId" 
								ng-model="vm.discountNameTenant.tenantId" 
								required  
								ng-class="{'edited':vm.discountNameTenant.tenantId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="discountNameTenantTenantId" class="form-label">@L("DiscountNameTenantTenantId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.discountNameTenant.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_discountNameTenant.$invalid">
            @L("Save")
        </button>
    </div>
</form>
