
<div>
    <div class="page-bar">

        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">
                <span>@L("TenantList")</span>
            </h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="portlet box blue">

                    <div class="portlet-body">

                        <div id="GridMain" ui-grid="gridOptions"></div>

                        <div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-6">
                                <div class="margin-left-standar">
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="First" ng-click="pagination.first()"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="Prev" ng-click="pagination.prior()"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active bordered"><a>{{pagination.currentPage}}</a></li>
                                        <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a></li>
                                        <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Last" ng-click="pagination.last()"><i class="fa fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
