<form id="frm_create_discountNameTenant" name="discountNameTenantList" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("TenantList")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab>

                @*<div class="form-group">
                        <label for="discountNameTenantDiscountName">@L("DiscountNameTenantDiscountName")</label>
                        <select id="discountNameTenantDiscountName"
                                class="select2me form-control"
                                ng-options="$helpers.getEditionId(item) as item.name for item in vm.discountNames"
                                ng-model="vm.discountNameTenant.discountNameId"
                                ng-class="{'edited':vm.discountNameTenant.discountNameId != null}"
                                data-live-search="true"
                                disabled>
                            <option value=""></option>
                        </select>
                    </div>*@

            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</form>
