<form id="frm_create_user" name="userCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewUser")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="user Details">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.appSession.tenant == null">
                            <label for="userServiceTenantId">@L("UserTenantName")</label>
                            <select id="userServiceTenantId"
                                    class="form-control select2me validate"
                                    ng-options="vm.getEditionId(item) as item.name for item in vm.tenants"
                                    ng-model="vm.user.tenantId"
                                    ng-class="{'edited':vm.user.tenantId != null}">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="userUserName"
                                   maxlength="30"
                                   ng-class="{'edited':vm.user.userName != null}"
                                   ng-model="vm.user.userName"
                                   required>
                            <label for="userServiceUserName">@L("UserName")</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="userName"
                                   maxlength="30"
                                   ng-class="{'edited':vm.user.name != null}"
                                   ng-model="vm.user.name"
                                   required>
                            <label for="userServiceName">@L("Name")</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="userSurname"
                                   maxlength="30"
                                   ng-class="{'edited':vm.user.surname != null}"
                                   ng-model="vm.user.surname"
                                   required>
                            <label for="userServiceSurname">@L("Surname")</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="userPhoneNumber"
                                   maxlength="255"
                                   ng-class="{'edited':vm.user.PhoneNumber != null}"
                                   ng-model="vm.user.PhoneNumber"
                                   required>
                            <label for="userServicePhoneNumber">@L("Phone")</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="userEmailAddress"
                                   maxlength="255"
                                   ng-class="{'edited':vm.user.emailAddress != null}"
                                   ng-model="vm.user.emailAddress"
                                   required>
                            <label for="userServiceEmailAddress">@L("EmailAddress")</label>
                        </div>
                    </div>

                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.user.isActive" disabled>
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
                
                <div class="row clearfix">
                    <div class="col-md-12"><p style="margin-bottom: -15px;">Default password is same username</p></div>
                </div>
            </uib-tab>

            <uib-tab heading="User Roles">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-6" ng-repeat="role in vm.roles">
                            <input type="checkbox" name="role" value="{{role.name}}" title="{{role.description}}" class="filled-in" id="role-{{role.id}}" checked="checked" ng-model="role.isAssigned" />
                            <label for="role-{{role.id}}" title="{{role.displayName}}">{{role.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.appSession.tenant == null">
                            <label for="userServicePositionId">@L("Position")</label>
                            <select id="userServicePositionId"
                                    class="form-control select2me validate"
                                    ng-options="vm.getEditionId(item) as item.name for item in vm.positions"
                                    ng-model="vm.user.positionId"
                                    ng-class="{'edited':vm.user.positionId != null}">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>


            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="userCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
