<form id="frm_edit_user" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditUser")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="User Details">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.appSession.tenant == null">
                    <label for="userServiceTenantId">@L("UserTenantName")</label>
                    <select id="userServiceTenantId"
                            class="form-control select2me validate"
                            ng-options="vm.getEditionId(item) as item.name for item in vm.tenants"
                            ng-model="vm.user.tenantId"
                            ng-class="{'edited':vm.user.tenantId != null}">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="userUserName"
                           maxlength="30"
                           ng-class="{'edited':vm.user.userName != null}"
                           ng-model="vm.user.userName"
                           required>
                    <label for="userServiceUserName">@L("UserName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="userName"
                           maxlength="30"
                           ng-class="{'edited':vm.user.name != null}"
                           ng-model="vm.user.name"
                           required>
                    <label for="userServiceName">@L("Name")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="userSurname"
                           maxlength="30"
                           ng-class="{'edited':vm.user.surname != null}"
                           ng-model="vm.user.surname"
                           required>
                    <label for="userServiceSurname">@L("Surname")</label>
                </div>
                
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="userEmailAddress"
                           maxlength="255"
                           ng-class="{'edited':vm.user.emailAddress != null}"
                           ng-model="vm.user.emailAddress"
                           required>
                    <label for="userServiceEmailAddress">@L("EmailAddress")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="userPhoneNumber"
                           maxlength="255"
                           ng-class="{'edited':vm.user.phoneNumber != null}"
                           ng-model="vm.user.phoneNumber"
                           required>
                    <label for="userServicePhoneNumber">@L("Phone")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.user.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>
            <uib-tab heading="User Roles">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="col-sm-6" ng-repeat="role in vm.roles">
                            <input type="checkbox" name="role" value="{{role.normalizedName}}" title="{{role.description}}" class="filled-in" id="role-{{role.id}}" ng-model="role.isAssigned" />
                            <label for="role-{{role.id}}" title="{{role.displayName}}">{{role.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.appSession.tenant == null">
                    <label for="userServicePositionId">@L("Position")</label>
                    <select id="userServicePositionId"
                            class="form-control select2me validate"
                            ng-options="vm.getEditionId(item) as item.name for item in vm.positions"
                            ng-model="vm.user.positionId"
                            ng-class="{'edited':vm.user.positionId != null}">
                        <option value=""></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.resetPassword()">
                    @L("PasswordReset")
                </button>

            </uib-tab>

            <uib-tab heading="@L("Schools")" ng-if="vm.user.tenantId == null">
                <label for="usersTenants">@L("TenantsCanOperate")</label>
                <select id="usersTenants" multiple chosen
                        placeholder-text-multiple="@L("SelectTheTenants")"
                        ng-model="vm.user.tenants"
                        ng-options="s.tenancyName for s in vm.operatedTenans track by s.id"
                        options="vm.operatedTenans">
                    <option value=""></option>
                </select>
            </uib-tab>
</uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_user.$invalid">
            @L("Save")
        </button>
    </div>
</form>
