﻿<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.users.profile as vm">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{vm.user.picture || vm.defaultPicture}}" class="img-responsive" alt="">
                    </div>
                    <div style="text-align:center;margin-top:20px;">
                        <label for="user_pic">
                            <i style="font-size:22px;color:{{vm.user.pictureChanged? 'red' : 'black'}}" class="fa fa-image"></i>
                        </label>
                        <input style="display:none;" id="user_pic" my-file-upload data="vm.user.picture" model="pic.pic" name="pc.name" file-type="pc.type" file-size="pc.size" type="file" />
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">{{vm.user.fullName}}</div>
                        <div class="profile-usertitle-job">{{vm.user.ProfileName}}</div>
                        <div class="profile-usertitle-job">{{vm.user.userName}}</div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="page_user_profile_1_account.html">
                                    <i class="icon-settings"></i>@("AccountSettings")
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">@("ProfileAccount")</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <uib-tabset class="tab-container tabbable-line">
                                    <uib-tab heading="@("PersonalInfo")">

                                        <form id="frm_edit_user" novalidate>

                                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                                <input type="text"
                                                       class="form-control"
                                                       id="userName"
                                                       maxlength="30"
                                                       ng-class="{'edited':vm.user.name != null}"
                                                       ng-model="vm.user.name"
                                                       required>
                                                <label for="userName">@L("Name")</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                                <input type="text"
                                                       class="form-control"
                                                       id="userSurname"
                                                       maxlength="30"
                                                       ng-class="{'edited':vm.user.surname != null}"
                                                       ng-model="vm.user.surname"
                                                       required>
                                                <label for="userSurname">@L("Surname")</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                                <input type="text"
                                                       class="form-control"
                                                       id="userEmailAddress"
                                                       maxlength="30"
                                                       ng-class="{'edited':vm.user.emailAddress != null}"
                                                       ng-model="vm.user.emailAddress"
                                                       required>
                                                <label for="userEmailAddress">@L("EmailAddress")</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                                <input type="text"
                                                       class="form-control"
                                                       id="userPhoneNumber"
                                                       maxlength="30"
                                                       ng-class="{'edited':vm.user.phoneNumber != null}"
                                                       ng-model="vm.user.phoneNumber">
                                                <label for="userPhoneNumber">@L("PhoneNumber")</label>
                                            </div>

                                            <div class="margiv-top-10">
                                                <button type="submit" class="btn green waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_user.$invalid">
                                                    @L("Save")
                                                </button>
                                                <button type="button" class="btn btn-default waves-effect">
                                                    @L("Cancel")
                                                </button>
                                            </div>
                                        </form>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
</div>
<link href="~/Content/assets/pages/css/profile.min.css" rel="stylesheet" />
<style>
    .nav-tabs {
        float: right !important;
        margin-top: -40px !important;
    }

    .tab-container {
        margin-top: -20px;
    }
</style>