<form id="frm_create_evaluationOrderHigh" name="evaluationOrderHighCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewEvaluationOrderHigh")</span>
        </h4>
    </div>
    <div class="modal-body">
                
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="evaluationOrderHighEvaluationPositionHigh">@L("PositionHigh")</label>
                    <select id="evaluationOrderHighEvaluationPositionHigh"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.evaluationPositionHighs"
                            ng-model="vm.evaluationOrderHigh.evaluationPositionHighId"
                            ng-class="{'edited':vm.evaluationOrderHigh.evaluationPositionHighId != null}"
                            data-live-search="true"
                            required>
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-2">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label for="evaluationOrderHighMonth" class="form-label">@L("Month")</label>
                            <input id="evaluationOrderHighMonth"
                                   type="number" name="Month"
                                   ng-model="vm.evaluationOrderHigh.month"
                                   required
                                   ng-class="{'edited':vm.evaluationOrderHigh.month != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>	

			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="evaluationOrderHighDescription"
                           maxlength="15" 

						   ng-class="{'edited':vm.evaluationOrderHigh.description != null}"
                           ng-model="vm.evaluationOrderHigh.description"
                           required>
                    <label for="evaluationOrderHighDescription">@L("Description")</label>
                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.evaluationOrderHigh.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
		

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="evaluationOrderHighCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
