<link href="~/App/Main/views/purchases/purchasesStyles.css" rel="stylesheet" />

<form id="frm_create_purchase" name="purchaseCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPurchase")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                <div class="row">
                    <div class="col-md-2">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="purchaseDate">@L("Date")</label>
                            <datepicker date-format="dd/MM/yyyy"
                                        selector="form-control">
                                <input id="purchaseDate"
                                       class="form-control"
                                       ng-model="vm.purchase.dateTemp" />
                            </datepicker>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="purchaseDocument"
                                   maxlength="25"
                                   ng-class="{'edited':vm.purchase.document != null}"
                                   ng-model="vm.purchase.document"
                                   required>
                            <label for="purchaseDocument">@L("PurchaseDocument")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="purchaseProvider">@L("PurchaseProvider")</label>
                            <select id="purchaseProvider"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.providers"
                                    ng-model="vm.purchase.providerId"
                                    required
                                    ng-class="{'edited':vm.purchase.providerId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="purchaseAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.purchase.amount != null}"
                                   ng-model="vm.purchase.amount"
                                   disabled readonly
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="purchaseName">@L("Amount")</label>
                        </div>
                    </div>

                </div>


                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="purchaseComnent1"
                               maxlength="250"
                               ng-class="{'edited':vm.purchase.comnent1 != null}"
                               ng-model="vm.purchase.comnent1"
                               required>
                        <label for="purchaseComnent1">@L("Description")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="purchaseComment2"
                               maxlength="250"
                               ng-class="{'edited':vm.purchase.comment2 != null}"
                               ng-model="vm.purchase.comment2"
                               required>
                        <label for="purchaseComment2">@L("Commentary")</label>
                    </div>


                    <div class="row adding-product">

                        <div class="col-md-1" style="margin-top:10px;">

                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="number"
                                       class="form-control"
                                       id="purchaseArticleId"
                                       maxlength="9"
                                       ng-class="{'edited':vm.article.id != null}"
                                       ng-model="vm.article.id"
                                       ng-focus="vm.articleIdIsFocused = true"
                                       ng-blur="vm.articleIdIsFocused = false"
                                       onkeypress="return enterToTab(event,this);">

                                <label for="articleArticleId">@L("ArticleId")</label>
                            </div>
                        </div>

                        <div class="col-md-5" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <angucomplete-alt id="ArticleAngu"
                                                  placeholder="@L("SearchArcticle")"
                                                  pause="400"
                                                  selected-object="returnedArticle"
                                                  remote-api-handler="getArticlesByName"
                                                  remote-url-data-field="items"
                                                  title-field="description, price"
                                                  description-field="reference"
                                                  min-length="0"
                                                  input-class="form-control form-control-small"
                                                  onkeypress="return enterToTab(event,this);" />

                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="text"
                                       class="form-control"
                                       id="articleQuantity"
                                       maxlength="100"
                                       ng-class="{'edited':vm.article.quantity != null}"
                                       ng-model="vm.article.quantity"
                                       onkeypress="return enterToTab(event,this);">
                                <label for="articleQuantity">@L("Qty")</label>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="text"
                                       class="form-control"
                                       id="articlePrice"
                                       maxlength="100"
                                       ng-class="{'edited':vm.article.price != null}"
                                       ng-model="vm.article.price"
                                       onkeypress="return enterToTab(event,this);">
                                <label for="articlePrice">@L("Price")</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="button" ng-disabled="vm.article.id == null || vm.article.price == null || vm.article.price == null || vm.article.description == null" class="btn btn-default button-margin" value="@L("Add")" ng-click="vm.appendArticle();" />
                        </div>


                    </div>
                    <br />
                    @*<div id="gridArticle" ui-grid="gridArticleOptions" style="height: 50px; margin-bottom:5px;"></div>*@
                    <div class="">
                        <table id="tbArticle" style="width:100%;">
                            <thead class="cabezaArticulos">
                                <tr style="height:35px;width: 100%;">
                                    <th style="width:50px; text-align:right">@L("Id")</th>
                                    <th style="width:480px;">@L("Article")</th>
                                    <th style="width:60px; text-align:right">@L("Qty")</th>
                                    <th style="width:70px; text-align:right">@L("Price")</th>
                                    <th style="width:100px; text-align:right">@L("Total")</th>
                                    <th style="width:120px; text-align:center">@L("Actions")</th>
                                </tr>
                            </thead>
                            <tbody class="contenedorArticulos">
                                <tr ng-repeat="art in vm.purchase.articles" ng-class="{'odd': (($index % 2) == 0)}">
                                    <td style="width:50px; text-align:right;"> {{art.id}}</td>
                                    <td style="width:480px; padding-right:3px;"> {{art.description}}</td>
                                    <td style="width:60px; text-align:right"> {{art.quantity}}</td>
                                    <td style="width:70px; text-align:right"> {{art.price|number :2}}</td>
                                    <td style="width:100px; text-align:right"> {{art.total |number :2}}</td>
                                    <td style="width:100px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeArticle(art)"><i class="fa fa-times-circle"></i> </span> </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                    <div class="md-checkbox">
                        <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.purchase.isActive">
                        <label for="IsActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>@L("IsActive")
                        </label>
                    </div>


</uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="purchaseCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
