<form id="frm_edit_purchase" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditPurchase")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseDocument"
                           maxlength="25" 

						   ng-class="{'edited':vm.purchase.document != null}"
                           ng-model="vm.purchase.document"
                           required>
                    <label for="purchaseDocument">@L("PurchaseDocument")</label>
                </div>
								
				<div class="form-group">
                    <label for="purchaseProvider">@L("PurchaseProvider")</label>
                    <select id="purchaseProvider"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.providers"
                            ng-model="vm.purchase.providerId"
                            ng-class="{'edited':vm.purchase.providerId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
							
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseComnent1"
                           maxlength="250" 

						   ng-class="{'edited':vm.purchase.comnent1 != null}"
                           ng-model="vm.purchase.comnent1"
                           required>
                    <label for="purchaseComnent1">@L("PurchaseComnent1")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseComment2"
                           maxlength="250" 

						   ng-class="{'edited':vm.purchase.comment2 != null}"
                           ng-model="vm.purchase.comment2"
                           required>
                    <label for="purchaseComment2">@L("PurchaseComment2")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.purchase.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_purchase.$invalid">
            @L("Save")
        </button>
    </div>
</form>
