﻿.mt-radio-inline .mt-radio {
    display: inline-block;
    margin-right: 3px!important;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 21px!important;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.align-right{

    text-align:right;
    align-content:flex-end;
    float:right;
}

.modal-title{
    text-align:center!important;
}

.form-group.form-md-line-input {
    position: relative;
    margin: 0 0 4px!important;
    padding-top: 20px;
}

.tabbable-line > .tab-content {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 0px 0!important;
}

.limpiando-espacio {
    margin-bottom: -18px!important;
}

.paymentBox{
    margin-left:5px;
    padding-left:5px;
    text-align:right;
    height:25px!important;
}


.adding-product{
    border-top-style :solid;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-width:1px;
    border-color:blue;
}

.button-margin{
    margin-top:20px!important;
}

.contenedorArticulos {
    border: 1px solid gray;
    overflow-y: scroll;
    height: 160px;
    display: block;
    width: 100%;
}

    .contenedorArticulos tr {
        height: 30px;
        border-bottom: 1px solid #e9e4e4;
    }

.contenedorArticulos tr td {
    padding-right: 6px;
}

.odd {
        background-color: #fff7e8;
    }
.cabezaArticulos {
    display: block;
}
.cabezaArticulos tr th{
    padding: 5px;
}



    .cabezaArticulos tr {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a0a0a0), color-stop(1, #bababa));
        background: -ms-linear-gradient(bottom, #a0a0a0, #bababa);
        background: -moz-linear-gradient(center bottom, #a0a0a0 0, #bababa 100%);
        background: -o-linear-gradient(#bababa, #a0a0a0);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#a0a0a0', GradientType=0);
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }


.buttonremove {
    color: red;
    font-size: 22px;
}
    .buttonremove:hover {
        color: darkred;
        font-size: 24px;
    }