<form id="frm_create_article" name="articleCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewArticle")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="articleDescription"
                           maxlength="200" 

						   ng-class="{'edited':vm.article.description != null}"
                           ng-model="vm.article.description"
                           required>
                    <label for="articleDescription">@L("ArticleDescription")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="articleReference"
                           maxlength="20" 

						   ng-class="{'edited':vm.article.reference != null}"
                           ng-model="vm.article.reference"
                           required>
                    <label for="articleReference">@L("ArticleReference")</label>
                </div>
				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="articlePrice" 
								type="number" name="Price" 
								ng-model="vm.article.price" 
								required  
								ng-class="{'edited':vm.article.price != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="articlePrice" class="form-label">@L("ArticlePrice")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

								
				<div class="form-group">
                    <label for="articleArticlesType">@L("ArticleArticlesType")</label>
                    <select id="articleArticlesType"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.articlesTypes"
                            ng-model="vm.article.articleTypeId"
                            ng-class="{'edited':vm.article.articleTypeId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
												
				<div class="form-group">
                    <label for="articleUnit">@L("ArticleUnit")</label>
                    <select id="articleUnit"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.units"
                            ng-model="vm.article.unitId"
                            ng-class="{'edited':vm.article.unitId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
												
				<div class="form-group">
                    <label for="articleBrand">@L("ArticleBrand")</label>
                    <select id="articleBrand"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.brands"
                            ng-model="vm.article.brandId"
                            ng-class="{'edited':vm.article.brandId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
				

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.article.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="articleCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
