<link href="~/App/Main/views/masterTenants/masterTenantStyles.css" rel="stylesheet" />
<form id="frm_edit_masterTenant" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditMasterTenant")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab heading="@L("GeneralInformation")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantName"
                           maxlength="200"
                           ng-class="{'edited':vm.masterTenant.name != null}"
                           ng-model="vm.masterTenant.name"
                           required>
                    <label for="masterTenantName">@L("MasterTenantName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantShortName"
                           maxlength="100"
                           ng-class="{'edited':vm.masterTenant.shortName != null}"
                           ng-model="vm.masterTenant.shortName"
                           required>
                    <label for="masterTenantShortName">@L("MasterTenantShortName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantAddress"
                           maxlength="200"
                           ng-class="{'edited':vm.masterTenant.address != null}"
                           ng-model="vm.masterTenant.address"
                           required>
                    <label for="masterTenantAddress">@L("MasterTenantAddress")</label>
                </div>

                <div class="form-group">
                    <label for="masterTenantCitie">@L("MasterTenantCity")</label>
                    <select id="masterTenantCitie"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.cities"
                            ng-model="vm.masterTenant.cityId"
                            ng-class="{'edited':vm.masterTenant.cityId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantPhone1"
                           maxlength="15"
                           ng-class="{'edited':vm.masterTenant.phone1 != null}"
                           ng-model="vm.masterTenant.phone1"
                           required>
                    <label for="masterTenantPhone1">@L("MasterTenantPhone1")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantPhone2"
                           maxlength="15"
                           ng-class="{'edited':vm.masterTenant.phone2 != null}"
                           ng-model="vm.masterTenant.phone2">
                    <label for="masterTenantPhone2">@L("MasterTenantPhone2")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantPhone3"
                           maxlength="15"
                           ng-class="{'edited':vm.masterTenant.phone3 != null}"
                           ng-model="vm.masterTenant.phone3">
                    <label for="masterTenantPhone3">@L("MasterTenantPhone3")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.masterTenant.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>

            <uib-tab heading="@L("AdditionalInformation")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantDirectorName"
                           maxlength="100"
                           ng-class="{'edited':vm.masterTenant.directorName != null}"
                           ng-model="vm.masterTenant.directorName">
                    <label for="masterTenantDirectorName">@L("MasterTenantDirectorName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantAccountantName"
                           maxlength="100"
                           ng-class="{'edited':vm.masterTenant.accountantName != null}"
                           ng-model="vm.masterTenant.accountantName">
                    <label for="masterTenantAccountantName">@L("MasterTenantAccountantName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantTreasurerName"
                           maxlength="100"
                           ng-class="{'edited':vm.masterTenant.treasurerName != null}"
                           ng-model="vm.masterTenant.treasurerName">
                    <label for="masterTenantTreasurerName">@L("MasterTenantTreasurerName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="masterTenantCurrencyCode"
                           maxlength="100"
                           ng-class="{'edited':vm.masterTenant.currencyCode != null}"
                           ng-model="vm.masterTenant.currencyCode">
                    <label for="masterTenantCurrencyCode">@L("MasterTenantCurrencyCode")</label>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="masterTenantCreditCardPercent"
                                   maxlength="100"
                                   ng-class="{'edited':vm.masterTenant.creditCardPercent != null}"
                                   ng-model="vm.masterTenant.creditCardPercent">
                            <label for="masterTenantCreditCardPercent">@L("CreditCardPercentForretention")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <span id="masterTenantCreditCardPercentLabel" class="par-percent"> {{ vm.masterTenant.creditCardPercent * 100 }}%</span>
                        </div>
                    </div>
                </div>



                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label for="catalogForRetention">@L("CatalogForCreditCardRetention")</label>
                    <select id="catalogForRetention"
                            chosen
                            placeholder="'@L("CatalogForCreditCardRetention")'"
                            ng-model="vm.masterTenant.catalogForCreditCardId"
                            ng-options="s.id as s.accountNumber + ' - ' + s.name  for s in vm.catalogs"
                            options="vm.catalogs">
                        <option value=""></option>
                    </select>
                </div>

            </uib-tab>

            <uib-tab heading="@L("ConceptsInformations")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label for="ConceptForInscriptionTransactions">@L("ConceptForInscriptionTransactions")</label>
                    <select id="ConceptForInscriptionTransactions"
                            chosen
                            placeholder="'@L("SelectConceptForInscriptionTransaction")'"
                            ng-model="vm.masterTenant.conceptForInscriptionTransactionsId"
                            ng-options="s.id as s.description for s in vm.conceptForInscriptions"
                            options="vm.conceptForInscriptions">
                        <option value=""></option>
                    </select>
                </div>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label for="ConceptForPaymentTransactions">@L("ConceptForPaymentTransactions")</label>
                    <select id="ConceptForPaymentTransactions"
                            chosen
                            placeholder="'@L("SelectConceptForPaymentTransaction")'"
                            ng-model="vm.masterTenant.conceptForMonthlyPaymentTransactionsId"
                            ng-options="s.id as s.description for s in vm.conceptForPayments"
                            options="vm.conceptForInscriptions">
                        <option value=""></option>
                    </select>
                </div>

            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_masterTenant.$invalid">
            @L("Save")
        </button>
    </div>
</form>
