﻿.form-group.form-md-line-input {
    position: relative !important;
    margin: 0px 0 4px !important;
    padding-top: 17px !important;
}


.par-percent {
    padding-top: 35px;
    font-weight: bold;
    font-size: 28px;
    color: darkgreen;
}