<style>
    .rowpp {
       height:25px;
    }


    .headerpp {
     height:35px!important;
     background-color: #676363;
     color: white;
     font-weight:bold;
    }

    .tablepp {
        width: 820px;
        border: 1px solid #bbbfbb
    }

        .tablepp tbody tr td {
            padding: 2px 2px 2px 2px;
        }

</style>
<form id="configuratePaymentForm" name="configuratePaymentForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("SettingNumberOfPayments") - @L("Tutor") - {{vm.enrollment.firstName}} {{vm.enrollment.lastName}}</span>
        </h4>
    </div>
    <div class="modal-body">
        @*<uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("EnrollmentInformation")">*@
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix" style="text-align:right;">
                    <label for="enrollmentFirstName">@L("CurrentNumberOfPayment")</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="CurrentNumberOfPayment"
                           maxlength="30"
                           ng-model="vm.enrollment.numberOfPayment"
                           ng-focus="vm.numberOfPaymentFocused = true"
                           ng-blur="vm.numberOfPaymentFocused = true"
                           tabindex="12">
                </div>
            </div>
        </div>


        <div class="row">
            &nbsp;
        </div>  
        <div class="row">
            <div class="col-md-12">
                <table class="tablepp">
                    <thead class="headerpp">
                        <tr>
                            <td> @L("Number")</td>
                            <td> @L("Concept")</td>
                            <td> @L("PaymentDate")</td>
                            <td style="width:200px; text-align:right;"> @L("Amount")</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pp in vm.enrollment.tutorPaymentProjection" class="rowpp">
                            <td style="padding-left:5px;"><span>{{pp.sequence}}</span></td>
                            <td ng-if="pp.sequence == 0"><span>@L("Inscription")</span></td>
                            <td ng-if="pp.sequence > 0"><span>@L("MontlyPayment")</span></td>
                            <td style="width:150px;">
                                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                    <input id="paymentProyection{{pp.seqence}}" class="form-control" ng-model="pp.date" />
                                </datepicker>
                            </td>
                            <td style="text-align:right;"> <span>{{pp.amount | number: 2}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div id="GridMain" ui-grid="gridOptions"></div>*@

    </div>


    <div class="modal-footer">
        <button type="button"
                class="btn btn-default waves-effect"
                ng-click="vm.cancel()"
                tabindex="31">
            @L("Cancel")
        </button>
        <button type="submit"
                class="btn btn-primary waves-effect"
                ng-click="vm.save()"
                ng-disabled="configuratePaymentForm.$invalid"
                tabindex="30">
            @L("Save")
        </button>
    </div>
</form>
