﻿.form-group.form-md-line-input {
    position: relative!important;
    margin: 0px 0 4px!important;
    padding-top: 17px!important;
}

.portlet.blue, .portlet.box.blue > .portlet-title, .portlet > .portlet-body.blue {
    background: #4285f4;
    background: -webkit-linear-gradient(top,#43879F,#1b1f23);
}