<link href="~/App/Main/views/transactionShops/transactionShopsStyles.css" rel="stylesheet" />
<form id="frm_create_transactionShop" name="transactionShopCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewTransactionShop")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="row">
                    <div class="col-md-2">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionShopDate">@L("Date")</label>
                            <datepicker date-format="dd/MM/yyyy" 
                                        selector="form-control">
                                <input id="transactionShopDate" 
                                       class="form-control" 
                                       disabled
                                       ng-model="vm.transactionShop.dateTemp" />                                      
                            </datepicker>

                        </div>
                    </div>


                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="transactionShopClientShop">@L("Client")</label>
                            <select id="transactionShopClientShop"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.clientShops"
                                    ng-model="vm.transactionShop.clientShopId"
                                    ng-class="{'edited':vm.transactionShop.clientShopId != null}"
                                    required
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionShopAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transactionShop.amount != null}"
                                   ng-model="vm.transactionShop.amount"
                                   disabled readonly
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionName">@L("Amount")</label>
                        </div>
                    </div>

                </div>


                @*Inicio Barras de botones dinamicos*@
                <div class="row barabotones" ng-repeat="cbar in vm.articlesShopsLines">
                    <button ng-repeat="cbut in cbar"
                            type="button" 
                            id="bt{{cbut.buttonPositionId}}" class="btn btn-success btnToggle" 
                            ng-click="vm.appendArticleShopFromButtonPosition(cbut)">
                            {{cbut.reference}}
                    </button>
                </div>
                @*Fin Barras de botones dinamicos*@


                <div class="row adding-product">

                    <div class="col-md-2" style="margin-top:10px;">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionArticleId"
                                   maxlength="9"
                                   ng-class="{'edited':vm.articleShop.sequence != null}"
                                   ng-model="vm.articleShop.sequence"
                                   ng-focus="vm.articleShopIdIsFocused = true"
                                   ng-blur="vm.articleShopIdIsFocused = false"
                                   onkeypress="return enterToTab(event,this);">

                            <label for="transactionEnrollment3">@L("Id")</label>
                        </div>
                    </div>

                    <div class="col-md-7" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="ArticleShopAngu"
                                              placeholder="@L("SearchArcticle")"
                                              pause="400"
                                              selected-object="returnedArticleShop"
                                              remote-api-handler="getArticleShopsByName"
                                              remote-url-data-field="items"
                                              title-field="description, price"
                                              description-field="reference"
                                              min-length="0"
                                              input-class="form-control form-control-small"
                                              onkeypress="return enterToTab(event,this);" />

                        </div>
                    </div>

                    <div class="col-md-1" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="articleQuantity"
                                   maxlength="100"
                                   ng-class="{'edited':vm.articleShop.quantity != null}"
                                   ng-model="vm.articleShop.quantity"
                                   ng-keypress="vm.enterNewArticle($event);">
                            <label for="articleQuantity">@L("Qty")</label>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="articlePrice"
                                   maxlength="100"
                                   ng-class="{'edited':vm.articleShop.price != null}"
                                   ng-model="vm.articleShop.price"
                                    disabled readonly>
                            <label for="articlePrice">@L("Price")</label>
                        </div>
                    </div>
                    <div class="col-md-1" ng-if="false">
                        <input type="button" ng-disabled="vm.articleShop.id == null || vm.articleShop.price == null || vm.articleShop.price == null || vm.articleShop.description == null" class="btn btn-default button-margin" value="@L("Add")" ng-click="vm.appendArticleShop();" />
                    </div>


                </div>
                <br />
                @*<div id="gridArticle" ui-grid="gridArticleOptions" style="height: 50px; margin-bottom:5px;"></div>*@
                <div class="">
                    <table id="tbArticleShop" style="width:100%;">
                        <thead class="cabezaArticulos">
                            <tr style="height:35px;width: 100%;">
                                <th style="width:50px; text-align:right">@L("Id")</th>
                                <th style="width:480px;">@L("Article")</th>
                                <th style="width:60px; text-align:right">@L("Qty")</th>
                                <th style="width:70px; text-align:right">@L("Price")</th>
                                <th style="width:100px; text-align:right">@L("Total")</th>
                                <th style="width:120px; text-align:center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody class="contenedorArticulos">
                            <tr ng-repeat="art in vm.transactionShop.articleShops" ng-class="{'odd': (($index % 2) == 0)}">
                                <td style="width:50px; text-align:right;"> {{art.sequence}}</td>
                                <td style="width:480px; padding-right:3px;"> {{art.description}}</td>
                                <td style="width:60px; text-align:right"> {{art.quantity}}</td>
                                <td style="width:70px; text-align:right"> {{art.price|number :2}}</td>
                                <td style="width:100px; text-align:right"> {{art.total |number :2}}</td>
                                <td style="width:100px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeArticleShop(art)"><i class="fa fa-times-circle"></i> </span> </td>
                            </tr>
                        </tbody>

                    </table>
                </div>


                <div style="margin-top:8px;">
                    <div style="text-align:right">
                        <input type="text"
                               class="form-control paymentBox"
                               id="transactionTotal3"
                               maxlength="15"
                               style="width:125px; float:right"
                               disabled readonly
                               value="{{vm.transactionShop.totalCalculed | number:2}}"
                               ng-class="{'difference-amount': vm.transactionShop.totalCalculed != vm.transactionShop.amount}" />
                        <label for="transactionTotal3" style="float:right; margin-top:5px; margin-right:5px;">@L("Total")</label>
                    </div>
                </div>

        <br />
                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.transactionShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@

        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionShopCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
