<form id="frm_edit_transactionShop" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTransactionShop")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

			

			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="transactionShopNumber"
                           maxlength="20" 

						   ng-class="{'edited':vm.transactionShop.number != null}"
                           ng-model="vm.transactionShop.number"
                           required>
                    <label for="transactionShopNumber">@L("Number")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="transactionShopName"
                           maxlength="100" 

						   ng-class="{'edited':vm.transactionShop.name != null}"
                           ng-model="vm.transactionShop.name"
                           required>
                    <label for="transactionShopName">@L("Name")</label>
                </div>
								
				<div class="form-group">
                    <label for="transactionShopClientShop">@L("Client")</label>
                    <select id="transactionShopClientShop"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.clientShops"
                            ng-model="vm.transactionShop.clientShopId"
                            ng-class="{'edited':vm.transactionShop.clientShopId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
						



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.transactionShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_transactionShop.$invalid">
            @L("Save")
        </button>
    </div>
</form>
