
<style>
    .form-group.form-md-line-input {
        position: relative !important;
        margin: 0px 0 4px !important;
        padding-top: 17px !important;
    }
</style>

<form id="frm_edit_teacher" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTeacher")</span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text"
                       class="form-control"
                       id="teacherPersonalId"
                       maxlength="11"
                       ng-class="{'edited':vm.teacher.personalId != null}"
                       ng-model="vm.teacher.personalId"
                       required>
                <label for="teacherPersonalId">@L("PersonalId")</label>
            </div>
            </div>
            <div class="col-md-8">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="teacherName"
                           maxlength="100"
                           ng-class="{'edited':vm.teacher.name != null}"
                           ng-model="vm.teacher.name"
                           required>
                    <label for="teacherName">@L("Name")</label>
                </div>
            </div>



        </div>

        <div class="row ">

            <div class=" col-md-6 col-lg-6 col-sm-6 col-sm-12">

                <label for="teacherDateOfBirth">@L("DateOfBirth")</label>

                <datepicker date-format="dd/MM/yyyy" selector="form-control">
                    <input id="teacherDateOfBirth" class="form-control" ng-model="vm.teacher.dateOfBirthTemp" />
                </datepicker>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="teacherGender">@L("Gender")</label>
                    <select id="teacherGender"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.genders"
                            ng-model="vm.teacher.genderId"
                            ng-class="{'edited':vm.teacher.genderId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>
								
			

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-sm-12">

                        <div class="md-checkbox">
                            <input type="checkbox" id="isTechnician" class="md-check" ng-model="vm.teacher.isTechnician">
                            <label for="isTechnician">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("IsTechnician")
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-sm-12">
                        <div class="md-checkbox">
                            <input type="checkbox" id="hasMasterDegree" class="md-check" ng-model="vm.teacher.hasMasterDegree">
                            <label for="hasMasterDegree">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("HasMasterDegree")
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-sm-12">

                        <div class="md-checkbox">
                            <input type="checkbox" id="isGraduated" class="md-check" ng-model="vm.teacher.isGraduated">
                            <label for="isGraduated">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("IsGraduated")
                            </label>
                        </div>
                    </div>

                    @*<div class="col-md-6 col-lg-6 col-sm-6 col-sm-12">

                        <div class="md-checkbox">
                            <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.teacher.isActive">
                            <label for="IsActive">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("IsActive")
                            </label>
                        </div>
                    </div>*@
                </div>
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_teacher.$invalid">
            @L("Save")
        </button>
    </div>
</form>
