<form id="frm_create_level" name="levelCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewLevel")</span>
        </h4>
    </div>
    <div class="modal-body">
              
        <div class="row">
            <div class="col-md-8">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="levelName"
                           maxlength="30"
                           ng-class="{'edited':vm.level.name != null}"
                           ng-model="vm.level.name"
                           required>
                    <label for="levelServiceName">@L("LevelName")</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="levelCode"
                           maxlength="30"
                           ng-class="{'edited':vm.level.code != null}"
                           ng-model="vm.level.code">
                    <label for="levelServiceName">@L("LevelCode")</label>
                </div>
            </div>

        </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.level.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
		

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="levelCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
