<form id="frm_create_subject" name="subjectCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewSubject")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="row">

                    <div class="col-md-5 col-xs-12">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="subjectName"
                                   maxlength="80"
                                   ng-class="{'edited':vm.subject.name != null}"
                                   ng-model="vm.subject.name"
                                   required>
                            <label for="subjectName">@L("Name")</label>
                        </div>
                    </div>
                
                    <div class="col-md-7 col-xs-12">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="subjectLongName"
                                   maxlength="350"
                                   ng-class="{'edited':vm.subject.longName != null}"
                                   ng-model="vm.subject.longName"
                                   required>
                            <label for="subjectLongName">@L("LongName")</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="subjectCode"
                                   maxlength="20"
                                   ng-class="{'edited':vm.subject.code != null}"
                                   ng-model="vm.subject.code"
                                   required>
                            <label for="subjectCode">@L("Code")</label>
                        </div>
                    </div>
                    <div class="col-md-8  col-xs-12">
                        <div class="form-group">
                            <label for="subjectCourse">@L("Course")</label>
                            <select id="subjectCourse"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                                    ng-model="vm.subject.courseId"
                                    ng-class="{'edited':vm.subject.courseId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.subject.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="subjectCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
