<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.reports.details as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li ng-repeat="bitem in breadcrumb">
                <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                <i class="fa fa-angle-right" ng-if="breadcrumb.length != bitem.index"></i>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-layers font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">{{vm.translate(vm.report.reportName)}}</span>
                        <span class="caption-helper hide"></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="frmReportesV1"  name="frmReportesV1" class="form-horizontal" action='../ReportsV2/GetReport' method='post' target='_blank'>
                        @*<input type="hidden" name="{{property.name}}" ng-model="property.value" ng-repeat="property in vm.properties" />*@
                        <p class="font-bold">{{vm.translate(vm.report.textoDetalleDescripcion)}}</p>

                        <div class="row">
                            <div class="col-md-4" filter-element filtro="filtro" scope="vm" ng-repeat-start="filtro in vm.report.reportsFilters | orderBy:'order'">
                                <label>{{vm.translate(filtro.displayName)}}</label>
                            </div>
                            <div class="col-md-4" filter-element filtro="filtro" range="filtro.range" ng-if="filtro.range" ng-repeat-end>
                                <label>{{vm.translate(filtro.displayNameRange)}}</label>
                            </div>
                        </div>
                        <br />

                        <div style="display:none;">
                            <input type="number" name="id" ng-model="vm.report.id" />
                            <input type="text" name="reportExport" ng-model="vm.report.reportExport.value" />
                            <input type="number" name="reportsFilters[{{$index}}].reportId" ng-model="vm.report.id" ng-repeat-start="filtro in vm.report.reportsFilters" />
                            <input type="text" name="reportsFilters[{{$index}}].id" ng-model="filtro.id" />
                            <input type="{{filtro.dataType.typeHTML}}" name="reportsFilters[{{$index}}].value" ng-required="filtro.required" ng-model="filtro.value" />
                            <input type="{{filtro.dataType.typeHTML}}" name="reportsFilters[{{$index}}].rangeValue" ng-model="filtro.rangeValue" />
                            <input type="text" name="reportsFilters[{{$index}}].valueText" ng-model="filtro.valueText" ng-repeat-end />
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                               
                                <select class="form-control" ng-model="vm.report.reportExport"
                                        ng-options="exp.name for exp in vm.exports track by exp.value"></select>
                            </div>
                            <div class="col-md-8">
                                <button type="submit" ng-disabled="!frmReportesV1.$valid" class="btn btn-primary m-t-15 waves-effect">SUBMIT</button>
                       
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->