<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.reports.index as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li ng-repeat="bitem in breadcrumb">
                <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                <i class="fa fa-angle-right" ng-if="breadcrumb.length != bitem.index"></i>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN: ACCORDION DEMO -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Reportes</span>
                        <span class="caption-helper hide"></span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-cloud-upload"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="#">
                            <i class="icon-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="frmReportesV1" class="form-horizontal" action='../ReportsV2/Index' method='post' target='_blank'>

                        <label for="cboReports">Reportes</label>
                        <select id="cboReports"
                                required
                                aria-required="true"
                                class="form-control"
                                ng-options="item.descripcion for item in vm.reports"
                                ng-model="vm.report"
                                ng-class="{'edited':vm.report.id != null}">
                            <option value="">-- Please Select --</option>
                        </select>
                        <input type="hidden" name="cboReports" value="{{vm.report.id}}">
                        <h4 class="card-inside-title">{{vm.report.descripcion}}</h4>
                        <p class="font-bold">{{vm.report.textoDetalleDescripcion}}</p>
                        <div class="row clearfix" ng-repeat="filter in vm.report.reportsFilters | orderBy:'orden'">

                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label" ng-if="filter.tipo != 'orderby' && !filter.isHidden">
                                <label for="{{filter.tipo == 'datetime' && 'cal_' || ''}}{{filter.nombreVariable}}">{{filter.nombreVisual}}</label>
                            </div>

                            <div ng-class="{'col-lg-10 col-md-10 col-sm-8 col-xs-7': !filter.nombreVariableHasta,
                                       'col-lg-5 col-md-5 col-sm-4 col-xs-3': filter.nombreVariableHasta}" ng-if="filter.tipo != 'orderby' && !filter.isHidden">
                                <div class="form-group">
                                    <div ng-class="{'form-line': filter.tipo != 'datetime'}">
                                        <select id="{{filter.nombreVariable}}"
                                                name="{{filter.nombreVariable}}"
                                                ng-if="filter.tieneConsultas"
                                                class="form-control"
                                                aria-required="true"
                                                required
                                                ng-model="filter.valueId"
                                                ng-class="{'edited':filter.valueId != null}">
                                            <option value="">{{filter.placeholder}}</option>
                                            <option ng-repeat="item in filter.reportsQuerys" value="{{item.valueId}}">{{item.valueDisplay}}</option>
                                        </select>
                                        <div ng-if="filter.tipo == 'datetime'">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="text" name="{{filter.tipo == 'datetime' && 'cal_' || ''}}{{filter.nombreVariable}}" class="form-control date" placeholder="{{filter.placeholder}}">
                                                </div>
                                            </div>
                                        </div>
                                        <input ng-if="filter.tipo != 'datetime' && !filter.tieneConsultas"
                                               type="{{filter.tipo == 'int' && 'number' || 'text'}}"
                                               id="{{filter.nombreVariable}}"
                                               name="{{filter.nombreVariable}}"
                                               class="form-control"
                                               aria-required="true"
                                               required
                                               placeholder="{{filter.placeholder}}">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="filter.nombreVariableHasta" class="col-lg-5 col-md-5 col-sm-4 col-xs-3">
                                <div class="form-group">
                                    <div ng-class="{'form-line': filter.tipo != 'datetime'}">
                                        <select id="{{filter.nombreVariableHasta}}" ng-if="filter.tieneConsultas"
                                                class="form-control"
                                                ng-model="filter.valueIdHasta"
                                                aria-required="true"
                                                required
                                                name="{{filter.nombreVariableHasta}}"
                                                ng-class="{'edited':filter.valueIdHasta != null}">
                                            <option value="">{{filter.placeholderHasta}}</option>
                                            <option ng-repeat="item in filter.reportsQuerys" value="{{item.valueId}}">{{item.valueDisplay}}</option>
                                        </select>
                                        <div ng-if="filter.tipo == 'datetime'">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">date_range</i>
                                                </span>
                                                <div class="form-line">
                                                    <input type="text" class="form-control date" name="{{filter.tipo == 'datetime' && 'cal_' || ''}}{{filter.nombreVariableHasta}}" ng-model="filter.responseData" placeholder="{{filter.placeholderHasta}}">
                                                </div>
                                            </div>
                                        </div>
                                        <input ng-if="filter.tipo != 'datetime' && !filter.tieneConsultas"
                                               type="{{filter.tipo == 'int' && 'number' || 'text'}}"
                                               id="{{filter.nombreVariableHasta}}"
                                               name="{{filter.nombreVariableHasta}}"
                                               class="form-control"
                                               aria-required="true"
                                               required
                                               placeholder="{{filter.placeholderHasta}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" ng-if="vm.report.descripcion">
                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->