﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using EasySchoolManager
@using EasySchoolManager.Web.Helpers
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EasySchoolManager">
    <meta name="author" content="EasySchoolManager">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>EasySchoolManager - @L("LogIn")</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Bundles/mandatory-styles/css/login")

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <img src="~/Content/assets/layouts/layout2/logo/EasySchoolManagerLogoLogin.jpg" />
        </div>

        @RenderBody()

        @Html.Action("_AccountLanguages", "Account")

        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12 text-center" style="color:white;">
                <small>&copy; 2018 EasySchoolManager  <b>Version </b> @AppVersionHelper.Version.@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")</small>
            </div>
        </div>

    </div>

    @Scripts.Render("~/Bundles/jquery-plugins/js/login")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
    @Html.PartialViewScripts()
</body>
</html>
