﻿@using Abp.MultiTenancy
@using EasySchoolManager.Web.Models.Common.Modals
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeTenant")))

<div class="modal-body">
    <form name="TenantChangeForm" role="form" novalidate class="form-validation">
        <div class="form-group form-float">
            <div class="form-line">
                <input class="form-control" type="text" name="TenancyName" maxlength="@AbpTenantBase.MaxTenancyNameLength" value="@Model.TenancyName">
                <label class="form-label">@L("TenancyName")</label>
            </div>
        </div>
        <span class="help-block">@L("LeaveEmptyToSwitchToHost")</span>
    </form>
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="@Url.Content("~/Views/Account/_TenantChangeModal.js")" type="text/javascript"></script>