﻿@using Abp.Authorization.Users
@model EasySchoolManager.Web.Models.Account.ChangePasswordViewModel
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
@section Scripts{
    <script type="text/javascript" src="~/Views/Account/Register.js"></script>
}
<div class="card">
    <div class="body">
        <form id="RegisterForm" asp-action="Register" method="POST">
            <h4 class="text-center">@L("ChangePassword")</h4>

            @Html.AntiForgeryToken()

            @if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }

            <input type="hidden" name="UserName" value="@Model.UserName">
            <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()" />
            <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema" />
            <input type="hidden" name="Name" value="@Model.Name" />
            <input type="hidden" name="Surname" value="@Model.Surname" />
            <input type="hidden" name="EmailAddress" value="@Model.EmailAddress" />

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" disabled="disabled" readonly="readonly" value="@Model.Name" title="@L("Name")">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" disabled="disabled" readonly="readonly" value="@Model.Surname" title="@L("Surname")">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" disabled="disabled" readonly="readonly" value="@Model.EmailAddress" title="@L("EmailAddress")">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="@L("ConfirmPassword")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <a href="@Url.Action("Index", "Home")" cl class="btn btn-default waves-effect">@L("Back")</a>
                    <button class="btn bg-pink waves-effect" type="submit">@L("ChangePassword")</button>
                </div>
            </div>
        </form>
    </div>
</div>