﻿@using Abp.Web.Mvc.Extensions
@model EasySchoolManager.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}

<div class="card">
    <div class="body">
        <!-- BEGIN LOGIN FORM -->
        <form id="LoginForm" method="POST" asp-action="Login" style="display:@(Model.IsLogin ? "block" : "none" )">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            <input type="hidden" name="IsLogin" value="true" />
            <h4 class="text-center">@L("LogIn")</h4>            
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" id="UsernameOrEmailAddress"  name="UsernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="100" autocomplete="off">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="100" autocomplete="off">
                </div>
            </div>

            <div class="input-group" id="ddTenancyName"  style="display:none;">
                <span class="input-group-addon">
                    <i class="material-icons"></i>@L("Tenant")
                </span>
                <div class="form-line">
                    <select class="form-control" id="TenancyName" name="TenancyName">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 p-t-5">
                    <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-blue-grey" value="true">
                    <label for="rememberme">@L("RememberMe")</label>
                </div>
                <div class="col-xs-6">
                    <button id="LoginButton" class="btn btn-block bg-pink waves-effect uppercase" type="submit">@L("LogIn")</button>
                </div>
            </div>
      
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="forget-password" class="forget-password uppercase">Forgot Password?</a>
                </p>
            </div>
        </form>        
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" method="POST" asp-action="ForgotPassword" style="display:@(!Model.IsLogin ? "block" : "none" )">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <input type="hidden" name="returnUrlHash" />
            <input type="hidden" name="IsLogin" value="false" />

            <h3 class="text-center">Forget Password ?</h3>
            <p> Enter your e-mail address or username below to reset your password. </p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="UsernameOrEmailAddress" placeholder="Email or Username" autocomplete="off" required autofocus>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                <button type="submit" class="btn bg-pink waves-effect uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
</div>