﻿#LoginArea {
    max-width: 400px;
    margin: 120px auto 10px auto;
}
form#LoginForm div.create-account {
    margin: 0 -20px -30px;
    padding: 15px;
    text-align: center !important;
    background-color: #6c7a8d;
}

form#LoginForm div.create-account p {
    text-align: center !important;
}

form#LoginForm div.create-account p a {
    font-size: 14px;
    color: #c3cedd !important;
}

form#LoginForm div.create-account a {
    display: inline-block;
    margin-top: 5px;
}

.uppercase {
    text-transform: uppercase !important;
}

.tenant-visible{
    display:block!important;
}