<link href="~/App/Main/views/evaluationHighs/evaluationHigh.css" rel="stylesheet" />
<form id="frm_create_evaluationHigh" name="evaluationHighCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("RegisterEvaluationHigh")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="row">

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="evaluationCourse">@L("Course")</label>
                            <select id="evaluationCourse"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                                    ng-model="vm.evaluationHigh.courseId"
                                    ng-class="{'edited':vm.evaluationHigh.courseId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="evaluationSession">@L("Session")</label>
                            <select id="evaluationSession"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.sessions"
                                    ng-model="vm.evaluationHigh.courseSessionId"
                                    ng-class="{'edited':vm.evaluationHigh.courseSessionId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="evaluationHighSubjectHigh">@L("SubjectHigh")</label>
                            <select id="evaluationHighSubjectHigh"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.subjectHighs"
                                    ng-model="vm.evaluationHigh.subjectHighId"
                                    ng-class="{'edited':vm.evaluationHigh.subjectHighId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="evaluationHighEvaluationOrderHigh">@L("Month")</label>
                            <select id="evaluationHighEvaluationOrderHigh"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.evaluationOrderHighs"
                                    ng-model="vm.evaluationHigh.evaluationOrderHighId"
                                    ng-class="{'edited':vm.evaluationHigh.evaluationOrderHighId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                        </div>

                    <div class="portlet-body" style="padding-bottom: 30px;">

                        <div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-12" style="background-color:#f0f7f2;">
                                <table class="fullTable">
                                    <thead>
                                        <tr>
                                            <th> @L("Sequence")</th>
                                            <th> @L("LastName")</th>
                                            <th> @L("FirstName")</th>
                                            <th>@L("Expression")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4" ng-if="vm.studentSession.length == 0" class="no-found">
                                                @L("NotStudentFound");
                                            </td>
                                        </tr>
                                        <tr ng-repeat="stuc in vm.studentSession">
                                            <td style="font-weight:bold; padding-left:5px;">
                                                {{stuc.sequence}}
                                            </td>
                                            <td>
                                                {{stuc.students.lastName}}
                                            </td>
                                            <td>
                                                {{stuc.students.firstName}}
                                            </td>
                                            <td>
                                                <input type="number"
                                                       class="form-control"
                                                       id="evaluationExpression"
                                                       ng-if="vm.evaluationHigh.evaluationOrderHighId!=null && vm.evaluationHigh.subjectHighId!=null 
                                                       && vm.evaluationHigh.courseSessionId!=null && vm.evaluationHigh.courseId!=null"
                                                       value="0"
                                                       min="0"
                                                       max="100"
                                                       ng-model="stuc.expression"
                                                       ng-blur="vm.evaluationHigh.expression=stuc.expression;
                                                       vm.evaluationHigh.studentId=stuc.students.id;
                                                       vm.save()"
                                                       ng-focus="vm.evaluationHigh.anexpression=stuc.expression"
                                                       onkeypress="return enterToTab(event,this);"
                                                       style="width:70px;  " />

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.printEvaluationByCourse()">
            @L("PrintByCourse")
        </button>
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.printEvaluation()">
            @L("Print")
        </button>
    </div>
</form>

<style>
    .modal-lg {
        width: 98%;
    }
</style>

