<form id="frm_edit_evaluationHigh" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditEvaluationHigh")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                								
				<div class="form-group">
                    <label for="evaluationHighSubjectHigh">@L("EvaluationHighSubjectHigh")</label>
                    <select id="evaluationHighSubjectHigh"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.subjectHighs"
                            ng-model="vm.evaluationHigh.subjectHighId"
                            ng-class="{'edited':vm.evaluationHigh.subjectHighId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="evaluationHighEnrollmentStudentId" 
								type="number" name="EnrollmentStudentId" 
								ng-model="vm.evaluationHigh.enrollmentStudentId" 
								required  
								ng-class="{'edited':vm.evaluationHigh.enrollmentStudentId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="evaluationHighEnrollmentStudentId" class="form-label">@L("EvaluationHighEnrollmentStudentId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

								
				<div class="form-group">
                    <label for="evaluationHighEvaluationOrderHigh">@L("EvaluationHighEvaluationOrderHigh")</label>
                    <select id="evaluationHighEvaluationOrderHigh"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.evaluationOrderHighs"
                            ng-model="vm.evaluationHigh.evaluationOrderHighId"
                            ng-class="{'edited':vm.evaluationHigh.evaluationOrderHighId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="evaluationHighExpression" 
								type="number" name="Expression" 
								ng-model="vm.evaluationHigh.expression" 
								required  
								ng-class="{'edited':vm.evaluationHigh.expression != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="evaluationHighExpression" class="form-label">@L("EvaluationHighExpression")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.evaluationHigh.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_evaluationHigh.$invalid">
            @L("Save")
        </button>
    </div>
</form>
