<form id="frm_create_period" name="periodCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPeriod")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab>



                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="periodPeriod"
                               maxlength="5"
                               ng-class="{'edited':vm.period.period != null}"
                               ng-model="vm.period.period"
                               required>
                        <label for="periodPeriod">@L("PeriodPeriod")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="periodDescription"
                               maxlength="50"
                               ng-class="{'edited':vm.period.description != null}"
                               ng-model="vm.period.description"
                               required>
                        <label for="periodDescription">@L("PeriodDescription")</label>
                    </div>
  

                <div class="row">


                    <div class="col-md-6" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="periodStartDate">@L("PeriodStartDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="periodStartDate" class="form-control" ng-model="vm.period.startDate" />
                            </datepicker>
                        </div>
                    </div>



                    <div class="col-md-6" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="periodEndtDate">@L("PeriodEndDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="periodEndtDate" class="form-control" ng-model="vm.period.endDate" />
                            </datepicker>
                        </div>
                    </div>



                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.period.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="periodCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
