<form id="frm_edit_commentType" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditCommentType")</span>
        </h4>
    </div>
    <div class="modal-body">

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="commentTypeName"
                           maxlength="50" 

						   ng-class="{'edited':vm.commentType.name != null}"
                           ng-model="vm.commentType.name"
                           required>
                    <label for="commentTypeName">@L("CommentTypeName")</label>
                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.commentType.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
				

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_commentType.$invalid">
            @L("Save")
        </button>
    </div>
</form>
