<form id="frm_edit_articleShop" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditArticleShop")</span>
        </h4>
    </div>
    <div class="modal-body">
               

        <div class="row">
            <div class="col-md-9">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="articleShopDescription"
                           maxlength="200"
                           ng-class="{'edited':vm.articleShop.description != null}"
                           ng-model="vm.articleShop.description"
                           required>
                    <label for="articleShopDescription">@L("Description")</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="articleShopReference"
                           maxlength="4"
                           ng-class="{'edited':vm.articleShop.reference != null}"
                           ng-model="vm.articleShop.reference"
                           required>
                    <label for="articleShopReference">@L("Reference")</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="articleShopPrice" class="form-label">@L("Price")</label>
                        <input id="articleShopPrice"
                               type="number" name="Price"
                               ng-model="vm.articleShop.price"
                               required
                               ng-class="{'edited':vm.articleShop.price != null}"
                               number maxlength="50"
                               class="validate form-control">
                        
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label for="articleShopUnit">@L("Unit")</label>
                    <select id="articleShopUnit"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.units"
                            ng-model="vm.articleShop.unitId"
                            required
                            ng-class="{'edited':vm.articleShop.unitId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label for="articleShopButtonPosition">@L("ButtonPosition")</label>
                    <select id="articleShopButtonPosition"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.number for item in vm.buttonPositions"
                            ng-model="vm.articleShop.buttonPositionId"
                            ng-class="{'edited':vm.articleShop.buttonPositionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>
				
				


        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="articleShopBrand">@L("Brand")</label>
                    <select id="articleShopBrand"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.Brands"
                            ng-model="vm.articleShop.brandId"
                            ng-class="{'edited':vm.articleShop.brandId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.articleShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
			
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_articleShop.$invalid">
            @L("Save")
        </button>
    </div>
</form>
