<form id="frm_create_verifoneBreak" name="verifoneBreakCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewVerifoneBreak")</span>
        </h4>
    </div>
    <div class="modal-body">
                
                				
				@*<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="verifoneBreakSequence" 
								type="number" name="Sequence" 
								ng-model="vm.verifoneBreak.sequence" 
								required  
								ng-class="{'edited':vm.verifoneBreak.sequence != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="verifoneBreakSequence" class="form-label">@L("VerifoneBreakSequence")</label>
                            </div>
                        </div>
                    </div>
                </div>*@
				
				

								
				@*<div class="form-group">
                    <label for="verifoneBreakBank">@L("VerifoneBreakBank")</label>
                    <select id="verifoneBreakBank"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                            ng-model="vm.verifoneBreak.bankId"
                            ng-class="{'edited':vm.verifoneBreak.bankId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>*@
				
												
				@*<div class="form-group">
                    <label for="verifoneBreakBankAccount">@L("VerifoneBreakBankAccount")</label>
                    <select id="verifoneBreakBankAccount"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.BankAccounts"
                            ng-model="vm.verifoneBreak.bankAccountId"
                            ng-class="{'edited':vm.verifoneBreak.bankAccountId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>*@
				
				
				
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                    <label for="transactionDate">@L("Date")</label>
                    <datepicker date-format="dd/MM/yyyy" selector="form-control">
                        <input id="transactionDate" class="form-control" ng-model="vm.verifoneBreak.dateTemp" required/>
                    </datepicker>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="verifoneBreakAmount" class="form-label">@L("Amount")</label>
                        <input id="verifoneBreakAmount"
                               type="number" name="Amount"
                               ng-model="vm.verifoneBreak.amount"
                               required
                               ng-class="{'edited':vm.verifoneBreak.amount != null}"
                               number maxlength="50"
                               onmousewheel="false"
                               class="validate form-control">                      
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="verifoneBreakComments">@L("Comments")</label>
                    <input type="text"
                           class="form-control"
                           id="verifoneBreakComments"
                           ng-class="{'edited':vm.verifoneBreak.comments != null}"
                           ng-model="vm.verifoneBreak.comments"
                           >
                    
                </div>
            </div>

            </div>



            @*<div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="verifoneBreakCreditCardPercent"
                        type="number" name="CreditCardPercent"
                        ng-model="vm.verifoneBreak.creditCardPercent"
                        required
                        ng-class="{'edited':vm.verifoneBreak.creditCardPercent != null}"
                        number maxlength="50"
                        class="validate form-control">
                        <label for="verifoneBreakCreditCardPercent" class="form-label">@L("VerifoneBreakCreditCardPercent")</label>
                    </div>
                </div>
            </div>
        </div>*@




            @*<div class="md-checkbox">
            <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.verifoneBreak.isActive">
            <label for="IsActive">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>@L("IsActive")
            </label>
        </div>*@

        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="verifoneBreakCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
