<form id="frm_edit_reportsQuery" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditReportsQuery")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab heading="ReportsQuery Details">
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsQueryValueId"
                           maxlength="20" 

						   ng-class="{'edited':vm.reportsQuery.valueId != null}"
                           ng-model="vm.reportsQuery.valueId"
                           required>
                    <label for="reportsQueryValueId">@L("ReportsQueryValueId")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsQueryValueDisplay"
                           maxlength="40" 

						   ng-class="{'edited':vm.reportsQuery.valueDisplay != null}"
                           ng-model="vm.reportsQuery.valueDisplay"
                           required>
                    <label for="reportsQueryValueDisplay">@L("ReportsQueryValueDisplay")</label>
                </div>
				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="reportsQueryReportsFiltersId" 
								type="number" name="ReportsFiltersId" 
								ng-model="vm.reportsQuery.reportsFiltersId" 
								required  
								ng-class="{'edited':vm.reportsQuery.reportsFiltersId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="reportsQueryReportsFiltersId" class="form-label">@L("ReportsQueryReportsFiltersId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.reportsQuery.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_reportsQuery.$invalid">
            @L("Save")
        </button>
    </div>
</form>
