
<link href="~/App/Main/views/sessionStudentSelections/sessionStudentSelections.css" rel="stylesheet" />
<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.sessionStudentSelections.index as vm">
    <div class="page-bar">
        @*<ul class="page-breadcrumb">
                <li ng-repeat="bitem in breadcrumb">
                    <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                    <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                    <i class="fa fa-angle-right" ng-if="breadcrumb.length != bitem.index"></i>
                </li>
            </ul>*@
        <div class="page-toolbar">

        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="row">
                    <div class="col-md-6">

                        <div class="col-md-4">
                            @L("Course")
                        </div>
                        <div class="col-md-8">
                            <select id="StudentIllnesses" chosen
                                    placeholder-text="'@L("SelectCourse")'"
                                    ng-model="vm.courseId"
                                    ng-options="c.id as c.name for c in vm.courses track by c.id"
                                    options="vm.courses">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-12 student-count" ng-if="vm.studentCount != null">

                            <span> @L("TotalStudents") : </span> {{vm.studentCount}}

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="col-md-4">
                            @L("Session")
                        </div>
                        <div class="col-md-8">
                            <select id="StudentIllnesses" chosen
                                    placeholder-text="'@L("Session")'"
                                    ng-model="vm.sessionId"
                                    ng-options="s.id as s.name for s in vm.sessions track by s.id"
                                    options="vm.sessions">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;">
                            <button class="btn btn-success form-control pull-left" ng-click="vm.printStudentByCourseBySession()">
                                @L("Print")
                            </button>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;">
                            <button class="btn btn-success form-control pull-left" ng-click="vm.printStudentQualificationByCourseBySession()">
                                @L("ViewCalifications")
                            </button>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;">
                            <button class="btn btn-success form-control pull-right" ng-click="vm.generateStudentSequences()">
                                @L("GenerateStudentSequences")
                            </button>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;">
                            <button class="btn btn-success form-control pull-left" ng-click="vm.printActQualificationFinal()">
                                @L("PrintActCalificationFinal")
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row" style="height:15px;">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa {{$state.$current.data.iconClass}}" ng-class="{'fa-comments': !$state.$current.data.iconClass}"></i>
                                    @L("StudentsWaitingForSession") <span ng-if="vm.studentCourse.length > 0">( {{vm.studentCourse.length}} @L("Students"))</span>

                                </div>
                                <div class="tools" style="width: 233px;" ng-if="false">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right; margin: -8px;  width: 217px;   ">
                                </div>
                                <button ng-click="vm.assignAllStudent()" class="buttonRight btn btn-success" 
                                        ng-if="vm.studentCourse.length > 0 && vm.sessionId > 0"> @L("AddAllStudent") </button>
                            </div>
                            <div class="portlet-body" style="padding-bottom: 30px;">

                                <div class="row" style="margin-bottom: -15px;">
                                    <div class="col-md-12" style="background-color:#f0f7f2;">
                                        <table class="fullTable">
                                            <thead>
                                                <tr>
                                                    <th> @L("LastName")</th>
                                                    <th> @L("FirstName")</th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3" ng-if="vm.studentCourse.length == 0" class="no-found">
                                                        @L("NotStudentFound");
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="stuc in vm.studentCourse">

                                                    <td>
                                                        {{stuc.students.lastName}}
                                                    </td>
                                                    <td>
                                                        {{stuc.students.firstName}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success" ng-click="vm.assignStudent(stuc)" ng-disabled="vm.sessionId == null;">
                                                            @L("Add")
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa {{$state.$current.data.iconClass}}" ng-class="{'fa-comments': !$state.$current.data.iconClass}"></i>
                                    @L("StudentsInSession") <span ng-if="vm.studentSession.length > 0"></span>( {{vm.studentSession.length}} @L("Students"))</span>

                                </div>
                                <div class="tools" style="width: 233px;" ng-if="false">
                                    <i class="fa fa-search"></i>
                                    <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right; margin: -8px;  width: 217px;   ">
                                </div>
                                <button ng-click="vm.removeAllStudent()" ng-if="vm.studentSession.length > 0" class="buttonRight btn btn-danger"> @L("RemoveAllStudent") </button>
                            </div>
                            <div class="portlet-body" style="padding-bottom: 30px;">

                                <div class="row" style="margin-bottom: -15px;">
                                    <div class="col-md-12" style="background-color:#f0f7f2;">
                                        <table class="fullTable">
                                            <thead>
                                                <tr>
                                                    <th> @L("Sequence")</th>
                                                    <th> @L("LastName")</th>
                                                    <th> @L("FirstName")</th>
                                                    <th>@L("Actions")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="4" ng-if="vm.studentSession.length == 0" class="no-found">
                                                        @L("NotStudentFound");
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="stuc in vm.studentSession">
                                                    <td style="font-weight:bold; padding-left:5px;">
                                                        {{stuc.sequence}}
                                                    </td>
                                                    <td>
                                                        {{stuc.students.lastName}}
                                                    </td>
                                                    <td>
                                                        {{stuc.students.firstName}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger" ng-click="vm.removeStudent(stuc)">
                                                            @L("Remove")
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
