
<link href="~/App/Main/views/receipts/receiptsStyles.css" rel="stylesheet" />


<script>

    function validateSoloNumero(e) {
        key = e.keyCode || e.which;
        debugger;
        teclado = String.fromCharCode(e.charCode);
        numeros = "0123456789";
        especiales = "8-37-38-46-13";
        teclado_especial = false;

        for (var i in especiales) {
            if (key == especiales[i]) {
                teclado_especial = true;
            }
        }

        if (numeros.indexOf(teclado) == -1 && !teclado_especial) {
            return false;
        }
        return true;
    }

</script>

<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">
        <span>@L("CreateNewReceipt")</span>
    </h2>
</div>
<div class="modal-body" onkeydown="if(event.keyCode==13){event.keyCode=9; return event.keyCode}">
    <uib-tabset class="tab-container tabbable-line">

        <uib-tab heading="@L("ReceiptsOfCharges")" ng-click="vm.transaction.receiptTypeId = 1; vm.cleanNonRelatedDate()" ng-if="vm.permissions.enroll">
            <form id="frm_create_transaction" name="transactionCreateForm" novalidate>


                <div class="row" ng-if="vm.permissions.daterest">

                    <div class="col-md-1" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   id="restdias"
                                   ng-model="vm.transaction.restday"
                                   class="form-control"
                                   max="3"
                                   maxlength="2"
                                   onmousewheel="return false">
                        </div>
                    </div>

                    <div class="col-md-1" style="margin-top:30px;">
                        <button class="btn btn-success form-control pull-left" ng-click="vm.restdate(vm.transaction.restday)" ng-show="vm.transaction.restday<4 && vm.transaction.restday>0 "
                                title="@L("RestDateOne")">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                    </div>

                    @*<div class="col-md-2" style="margin-top:30px;">
                        <button class="btn btn-success form-control pull-left" ng-click="vm.freedate()"
                                title="@L("FreeDateReceipt")">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>*@
                    @*{{vm.transaction.restday}}*@
                </div>


                <div class="row">
                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionDate">@L("TransactionDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                @*<input id="transactionDate" class="form-control" ng-model="vm.transaction.dateTemp" ng-disabled="!vm.permissions.datem" />*@
                                <input id="transactionDate" class="form-control" ng-model="vm.transaction.dateTemp" disabled />
                            </datepicker>
                        </div>
                    </div>



                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionEnrollment"
                                   maxlength="9"
                                   required
                                   ng-class="{'edited':vm.transaction.enrollment != null}"
                                   ng-model="vm.transaction.enrollment"
                                   onmousewheel="return false">
                            <label for="transactionEnrollment">@L("RecieptEnrollment")</label>
                        </div>
                    </div>

                    <div class="col-md-5" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="enrollmentsAngu"
                                              placeholder="@L("SearchEnrollments")"
                                              pause="400"
                                              selected-object="returnedValue"
                                              remote-api-handler="getEnrollmentsByName"
                                              remote-url-data-field="items"
                                              title-field="firstName,lastName"
                                              description-field=""
                                              minlength="0"
                                              input-class="form-control form-control-small" />


                        </div>
                    </div>
                    <div class="col-md-1" style="margin-top:30px;">
                        <button id="btnSearchByStudentName"
                                class="btn btn-success"
                                ng-click="vm.searchEnrollmentByStudentName()"
                                title="@L("SearchByStudentName")">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.amount != null}"
                                   ng-model="vm.transaction.amount"
                                   readonly
                                   disabled
                                   required
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionName">@L("RecieptAmount")</label>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-10">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionLetterAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.letterAmount != null}"
                                   ng-model="vm.transaction.letterAmount"
                                   readonly
                                   disabled
                                   tabindex="20">
                            <label for="transactionName">@L("RecieptletterAmount")</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control font-uigrid-right"
                                   id="totalBalance"
                                   maxlength="100"
                                   ng-class="vm.totalBalance < 0 ?'red-font':'green-font'"
                                   value="{{vm.absTotalBalance | number:2}}"
                                   readonly disabled style="font-weight:bold">
                            <label for="totalBalance">@L("Balance")</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transactionConcept">@L("RecieptConcept")</label>
                            <select id="transactionConcept"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts1"
                                    ng-model="vm.transaction.conceptId"
                                    ng-class="{'edited':vm.transaction.conceptId != null}"
                                    data-live-search="true"
                                    required
                                    ng-change="vm.conceptIdChange();"
                                    ng-show="vm.transaction.receiptTypeId == 1">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group limpiando-espacio">
                            <div class="row">

                                <div class="col-md-12" style="margin-top:10px;margin-left: 89px;">
                                    <label for="transactionBank">@L("PaymentMethod")</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="mt-radio-inline align-right">
                                        <label class="mt-radio" ng-repeat="pm in vm.paymentMethods">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}" required
                                                   ng-model="vm.transaction.paymentMethodId"  ng-if="pm.id == 1" ng-value="pm.id">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}"
                                                   ng-model="vm.transaction.paymentMethodId" ng-if="pm.id != 1" ng-value="pm.id">
                                            <lable for="radioPaymentMethod{{pm.id}}">{{pm.name}}</lable>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRNC"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncNumber != null}"
                                   ng-model="vm.transaction.rncNumber"
                                   
                                   
                                   tabindex="20">
                            <label for="transactionRNC">@L("Rnc")</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRncDescription"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncName != null}"
                                   ng-model="vm.transaction.rncName"
                                   tabindex="20">
                            <label for="transactionRncDescription">@L("CompanyName")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="transactionTaxReceipt">@L("TaxReceipt")</label>
                            <select id="transactionTaxReceipt"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.displayName for item in vm.taxReceipts"
                                    ng-model="vm.transaction.taxReceiptId"
                                    ng-class="{'edited':vm.transaction.taxReceiptId != null}"
                                    data-live-search="true"
                                    ng-show="vm.transaction.receiptTypeId == 1">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" ng-if="vm.transaction.paymentMethodId != 1">
                            <label for="transactionBank">@L("ReceiptBank")</label>
                            <select id="transactionBank"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                                    ng-model="vm.transaction.bankId"
                                    ng-class="{'edited':vm.transaction.bankId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.transaction.paymentMethodId != 1">
                            <input type="text"
                                   class="form-control"
                                   id="transactionNumber"
                                   maxlength="15"
                                   ng-class="{'edited':vm.transaction.number != null}"
                                   ng-model="vm.transaction.number">
                            <label for="transactionCheckNumber">@L("ReceiptNumber")</label>
                        </div>
                    </div>

                </div>

                <div id="GridMain" ui-grid="gridOptions" style="height: 250px; margin-bottom:5px;"></div>

                <div>

                    <textarea placeholder="@L("Comments")" class="form-control" id="comments1" rows="2" ng-class="{'edited':vm.transaction.comments != null}" ng-model="vm.transaction.comments"></textarea>

                </div>

                <div style="margin-top:8px; display:none;">
                    <div style="text-align:right">
                        <input type="text"
                               class="form-control paymentBox"
                               id="transactionTotal"
                               maxlength="15"
                               style="width:125px; float:right"
                               disabled readonly*@
                               value="{{vm.transaction.totalCalculed | number:2}}"
                               ng-class="{'difference-amount': vm.transaction.totalCalculed != vm.transaction.amount}" />
                        <label for="transactionTotal" style="float:right; margin-top:5px; margin-right:5px;">@L("Total")</label>
                    </div>
                </div>

                <br />
                <div class="row pull-left" style="width: 600px;">
                    <div class="col-md-3">
                        <div class="md-checkbox">
                            <input type="checkbox" id="IsSubven" class="md-check" ng-model="vm.hasSubven">
                            <label for="IsSubven">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("GrantEnterprises")
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9" ng-if="vm.hasSubven==true" style="
                        margin-bottom: -15px;
                        margin-top: -5px;
                    ">
                        <div class="form-group">
                            <select id="transactionBank"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.grantEnterprises"
                                    ng-model="vm.transaction.grantEnterpriseId"
                                    ng-class="{'edited':vm.transaction.grantEnterpriseId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row pull-right">
                    <div class="col-md-2">
                        <div class="md-checkbox">
                            <input type="checkbox" id="IsRecarg" class="md-check" ng-model="vm.hasRecarg">
                            <label for="IsRecarg">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("Recargo")
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                        @L("Cancel")
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionCreateForm.$invalid">
                        @L("Save")
                    </button>
                </div>
            </form>
        </uib-tab>

        <uib-tab heading="@L("ReceiptsAditional")" ng-click="vm.transaction.receiptTypeId = 2; vm.cleanNonRelatedDate()" ng-if="vm.permissions.gener">
            <form id="frm_create_transaction2" name="transactionCreateForm2" novalidate>

                <div class="row" ng-if="vm.permissions.daterest">

                    <div class="col-md-1" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   id="restdias2"
                                   ng-model="vm.transaction.restday"
                                   class="form-control"
                                   max="3"
                                   maxlength="2"
                                   onmousewheel="return false">
                        </div>
                    </div>

                    <div class="col-md-1" style="margin-top:30px;">
                        <button class="btn btn-success form-control pull-left" ng-click="vm.restdate(vm.transaction.restday)" ng-show="vm.transaction.restday<4 && vm.transaction.restday>0 "
                                title="@L("RestDateOne")">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                    </div>

                    @*<div class="col-md-2" style="margin-top:30px;">
                <button class="btn btn-success form-control pull-left" ng-click="vm.freedate()"
                        title="@L("FreeDateReceipt")">
                    <i class="fa fa-calendar"></i>
                </button>
            </div>*@
                    @*{{vm.transaction.restday}}*@
                </div>


                <div class="row">
                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionDate2">@L("TransactionDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                @*<input id="transactionDate2" class="form-control" ng-model="vm.transaction.dateTemp" ng-disabled="!vm.permissions.datem" />*@
                                <input id="transactionDate2" class="form-control" ng-model="vm.transaction.dateTemp" disabled />
                            </datepicker>
                        </div>
                    </div>

                    <div class="col-md-8" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionName"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.name != null}"
                                   style='text-transform:uppercase'
                                   ng-model="vm.transaction.name"
                                   required
                                   ng-if="vm.transaction.enrollment == null">
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionAmount2"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.amount != null}"
                                   ng-model="vm.transaction.amount"
                                   required
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionAmount2">@L("RecieptAmount")</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionLetterAmount2"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.letterAmount != null}"
                                   ng-model="vm.transaction.letterAmount"
                                   readonly
                                   disabled
                                   tabindex="20">
                            <label for="transactionLetterAmount2">@L("RecieptletterAmount")</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div ng-class="{'col-md-3':vm.transaction.isMultiConcept, 'col-md-5':!vm.transaction.isMultiConcept}">
                        <div class="form-group">
                            <label for="transactionConcept2">@L("RecieptConcept")</label>
                            <select id="transactionConcept2"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts2"
                                    ng-model="vm.transaction.conceptId"
                                    ng-class="{'edited':vm.transaction.conceptId != null}"
                                    data-live-search="true"
                                    ng-required="!vm.transaction.isMultiConcept"
                                    ng-show="vm.transaction.receiptTypeId == 2"
                                    ng-change="vm.conceptIdChange();"
                                    onkeypress="return enterToTab(event,this);">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2" style="
                        padding-left: 0px;
                        padding-right: 0px;
                    " ng-show="vm.transaction.isMultiConcept">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   tabindex="22"
                                   class="form-control"
                                   id="transactionInsertAmount2"
                                   maxlength="16"
                                   ng-class="{'edited':vm.transaction.insertAmount != null}"
                                   ng-model="vm.transaction.insertAmount"
                                   ng-keypress="vm.enterToInsert($event)"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionInsertAmount2">@L("Amount")</label>
                        </div>
                    </div>

                    <div class="col-md-1" style="
                        padding-left: 0px;
                        padding-right: 0px;
                        margin-top: 27px;
                    ">
                        <div class="md-checkbox">
                            <input type="checkbox" id="IsMultiConcept" class="md-check" ng-model="vm.transaction.isMultiConcept" ng-change="vm.isMultiConceptChanged();">
                            <label for="IsMultiConcept">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>@L("MultiConcept")
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6" style="
                        padding-left: 0px;
                    ">
                        <div class="form-group limpiando-espacio">
                            <div class="row">

                                <div class="col-md-12" style="margin-top:10px;margin-left: 89px;">
                                    <label for="transactionPaymentMethod2">@L("PaymentMethod")</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="mt-radio-inline align-right">
                                        <label class="mt-radio" ng-repeat="pm in vm.paymentMethods">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}" required
                                                   ng-model="vm.transaction.paymentMethodId" ng-if="pm.id == 1" ng-value="pm.id">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}"
                                                   ng-model="vm.transaction.paymentMethodId" ng-if="pm.id != 1" ng-value="pm.id">
                                            <lable for="radioPaymentMethod{{pm.id}}">{{pm.name}}</lable>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRNC2"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncNumber != null}"
                                   ng-model="vm.transaction.rncNumber"
                                   tabindex="20">
                            <label for="transactionRNC2">@L("Rnc")</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRncDescription2"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncName != null}"
                                   ng-model="vm.transaction.rncName"
                                   tabindex="20">
                            <label for="transactionRncDescription2">@L("CompanyName")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="transactionTaxReceipt2">@L("TaxReceipt")</label>
                            <select id="transactionTaxReceipt2"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.displayName for item in vm.taxReceipts"
                                    ng-model="vm.transaction.taxReceiptId"
                                    ng-class="{'edited':vm.transaction.taxReceiptId != null}"
                                    data-live-search="true"
                                    ng-show="vm.transaction.receiptTypeId == 2">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" ng-if="vm.transaction.paymentMethodId != 1">
                            <label for="transactionBank2">@L("ReceiptBank")</label>
                            <select id="transactionBank2"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                                    ng-model="vm.transaction.bankId"
                                    ng-class="{'edited':vm.transaction.bankId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.transaction.paymentMethodId != 1">
                            <input type="text"
                                   class="form-control"
                                   id="transactionNumber2"
                                   maxlength="15"
                                   ng-class="{'edited':vm.transaction.number != null}"
                                   ng-model="vm.transaction.number">
                            <label for="transactionNumber2">@L("ReceiptNumber")</label>
                        </div>
                    </div>

                </div>

                <br />

                @*Se inicia el codigo de GRID Adicional*@

                <div ng-show="vm.transaction.isMultiConcept">
                    <table id="tbTransactionConcepts" style="width:100%;">
                        <thead class="cabezaArticulos">
                            <tr style="height:35px; width:100%;">
                                <th style="width:73%; padding-right:10px; padding-left: 10px;">@L("Concept")</th>
                                <th style="width:20%; text-align:center">@L("Amount")</th>
                                <th style="width:10%; text-align:center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody class="contenedorArticulos">
                            <tr ng-repeat="con in vm.transaction.transactionConcepts" ng-class="{'odd': (($index % 2) == 0)}">
                                <td style="width:73%; padding-right:10px; padding-left: 10px;"> {{con.concept_name}}</td>
                                <td style="width:20%; text-align:right">
                                    <div style="text-align:right; width:96%; margin-left:0px;">
                                        <input type="number"
                                               class="paymentBox form-control md-check"
                                               min="0.00"
                                               step="1.00"
                                               ng-model="con.amount"
                                               onchange="calculateTotal();"
                                               onkeyup="calculateTotal();"
                                               onkeypress="return enterToTab(event,this);">
                                    </div>
                                </td>
                                <td style="width:10%; text-align:center;">
                                    <span class="buttonremove" ng-click="vm.removeConcept(con)" title="@L("Delete")">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                @*Se Finaliza el codigod e GRID Adicional*@

                <div style="
    margin-top: 10px;
    margin-bottom: 10px;
">

                    <textarea placeholder="@L("Comments")" class="form-control" id="comments2" rows="2" ng-class="{'edited':vm.transaction.comments != null}" ng-model="vm.transaction.comments"></textarea>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                        @L("Cancel")
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionCreateForm2.$invalid || !vm.isValidToSubmit()">
                        @L("Save")
                    </button>
                </div>
            </form>
        </uib-tab>

        <uib-tab heading="@L("ReceiptsOfArticles")" ng-click="vm.transaction.receiptTypeId = 3; vm.cleanNonRelatedDate(); createNewGrid();" ng-if="vm.permissions.inven">
            <form id="frm_create_transaction3" name="transactionCreateForm3" novalidate>
                <div class="row">
                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionDate3">@L("TransactionDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="transactionDate3" class="form-control" ng-model="vm.transaction.dateTemp" disabled />
                            </datepicker>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionEnrollment3"
                                   maxlength="9"
                                   ng-class="{'edited':vm.transaction.enrollment != null}"
                                   ng-model="vm.transaction.enrollment"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionEnrollment3">@L("RecieptEnrollment")</label>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="enrollmentsAngu"
                                              placeholder="@L("SearchEnrollmentsOrTypeOneName")"
                                              pause="400"
                                              selected-object="returnedValue"
                                              remote-api-handler="getEnrollmentsByName"
                                              remote-url-data-field="items"
                                              title-field="firstName,lastName"
                                              description-field=""
                                              minlength="0"
                                              input-class="form-control form-control-small" />
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionAmount3"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.amount != null}"
                                   ng-model="vm.transaction.amount"
                                   disabled
                                   readonly
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionAmount3">@L("RecieptAmount")</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionLetterAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.letterAmount != null}"
                                   ng-model="vm.transaction.letterAmount"
                                   readonly
                                   disabled
                                   tabindex="20">
                            <label for="transactionLetterAmount3">@L("RecieptletterAmount")</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transactionConcept3">@L("RecieptConcept")</label>
                            <select id="transactionConcept3"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts3"
                                    ng-model="vm.transaction.conceptId"
                                    ng-class="{'edited':vm.transaction.conceptId != null}"
                                    data-live-search="true"
                                    required
                                    ng-change="vm.conceptIdChange();"
                                    ng-show="vm.transaction.receiptTypeId == 3">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group limpiando-espacio">
                            <div class="row">

                                <div class="col-md-12" style="margin-top:10px;margin-left: 89px;">
                                    <label for="transactionPaymentMethod3">@L("PaymentMethod")</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="mt-radio-inline align-right">
                                        <label class="mt-radio" ng-repeat="pm in vm.paymentMethods">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}" required
                                                   ng-model="vm.transaction.paymentMethodId"  ng-if="pm.id == 1" ng-value="pm.id">
                                            <input type="radio" name="optionsRadios" id="radioPaymentMethod{{pm.id}}"
                                                   ng-model="vm.transaction.paymentMethodId" ng-if="pm.id != 1" ng-value="pm.id">
                                            <lable for="radioPaymentMethod{{pm.id}}">{{pm.name}}</lable>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" ng-if="vm.transaction.paymentMethodId != 1">
                            <label for="transactionBank3">@L("ReceiptBank")</label>
                            <select id="transactionBank3"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                                    ng-model="vm.transaction.bankId"
                                    ng-class="{'edited':vm.transaction.bankId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix" ng-if="vm.transaction.paymentMethodId != 1">
                            <input type="text"
                                   class="form-control"
                                   id="transactionCheckNumber3"
                                   maxlength="15"
                                   ng-class="{'edited':vm.transaction.number != null}"
                                   ng-model="vm.transaction.number">
                            <label for="transactionCheckNumber3">@L("ReceiptNumber")</label>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRNC3"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncNumber != null}"
                                   ng-model="vm.transaction.rncNumber"
                                   tabindex="20">
                            <label for="transactionRNC3">@L("Rnc")</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionRncDescription3"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.rncName != null}"
                                   ng-model="vm.transaction.rncName"                                 
                                   tabindex="20">
                            <label for="transactionRncDescription3">@L("CompanyName")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="transactionTaxReceipt3">@L("TaxReceipt")</label>
                            <select id="transactionTaxReceipt3"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.displayName for item in vm.taxReceipts"
                                    ng-model="vm.transaction.taxReceiptId"
                                    ng-class="{'edited':vm.transaction.taxReceiptId != null}"
                                    data-live-search="true"
                                    ng-show="vm.transaction.receiptTypeId == 3">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row adding-product">

                    <div class="col-md-2" style="margin-top:10px;">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionArticleId"
                                   maxlength="9"
                                   ng-class="{'edited':vm.article.id != null}"
                                   ng-model="vm.article.id"
                                   ng-focus="vm.articleIdIsFocused = true"
                                   ng-blur="vm.articleIdIsFocused = false"
                                   onkeypress="return enterToTab(event,this);">

                            <label for="transactionEnrollment3">@L("ArticleId")</label>
                        </div>
                    </div>

                    <div class="col-md-5" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="ArticleAngu"
                                              placeholder="@L("SearchArcticle")"
                                              pause="400"
                                              selected-object="returnedArticle"
                                              remote-api-handler="getArticlesByName"
                                              remote-url-data-field="items"
                                              title-field="description, price"
                                              description-field="reference"
                                              min-length="0"
                                              input-class="form-control form-control-small"
                                              onkeypress="return enterToTab(event,this);" />
                        </div>
                    </div>

                    <div class="col-md-1" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="articleQuantity"
                                   maxlength="100"
                                   ng-class="{'edited':vm.article.quantity != null}"
                                   ng-model="vm.article.quantity"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="articleQuantity">@L("Qty")</label>
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="articlePrice"
                                   maxlength="100"
                                   ng-class="{'edited':vm.article.price != null}"
                                   ng-model="vm.article.price"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="articlePrice">@L("Price")</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="button" ng-disabled="vm.article.id == null || vm.article.price == null || vm.article.price == null || vm.article.description == null" class="btn btn-default button-margin" value="@L("Add")" ng-click="vm.appendArticle();" />
                    </div>


                </div>
                <br />
                @*<div id="gridArticle" ui-grid="gridArticleOptions" style="height: 50px; margin-bottom:5px;"></div>*@
                <div class="">
                    <table id="tbArticle" style="width:100%;">
                        <thead class="cabezaArticulos">
                            <tr style="height:35px;width: 100%;">
                                <th style="width:50px; text-align:right">@L("Id")</th>
                                <th style="width:480px;">@L("Article")</th>
                                <th style="width:60px; text-align:right">@L("Qty")</th>
                                <th style="width:70px; text-align:right">@L("Price")</th>
                                <th style="width:100px; text-align:right">@L("Total")</th>
                                <th style="width:120px; text-align:center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody class="contenedorArticulos">
                            <tr ng-repeat="art in vm.transaction.articles" ng-class="{'odd': (($index % 2) == 0)}">
                                <td style="width:50px; text-align:right;"> {{art.id}}</td>
                                <td style="width:480px; padding-right:3px;"> {{art.description}}</td>
                                <td style="width:60px; text-align:right"> {{art.quantity}}</td>
                                <td style="width:70px; text-align:right"> {{art.price|number :2}}</td>
                                <td style="width:100px; text-align:right"> {{art.total |number :2}}</td>
                                <td style="width:100px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeArticle(art)"><i class="fa fa-times-circle"></i> </span> </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div style="
    margin-top: 10px;
">

                    <textarea placeholder="@L("Comments")" class="form-control" id="comments3" rows="2" ng-class="{'edited':vm.transaction.comments != null}" ng-model="vm.transaction.comments"></textarea>

                </div>

                <div style="margin-top:8px;">
                    <div style="text-align:right">
                        <input type="text"
                               class="form-control paymentBox"
                               id="transactionTotal3"
                               maxlength="15"
                               style="width:125px; float:right"
                               disabled readonly
                               value="{{vm.transaction.totalCalculed | number:2}}"
                               ng-class="{'difference-amount': vm.transaction.totalCalculed != vm.transaction.amount}" />
                        <label for="transactionTotal3" style="float:right; margin-top:5px; margin-right:5px;">@L("Total")</label>
                    </div>
                </div>

                <div style="text-align:left">
                    <label for="PuroLable">
                        @L("SelectedArticles")
                    </label>
                </div>

                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
                        @L("Cancel")
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionCreateForm3.$invalid">
                        @L("Save")
                    </button>
                </div>

            </form>
        </uib-tab>

    </uib-tabset>
</div>




