<link href="~/App/Main/views/deposits/depositsStyles.css" rel="stylesheet" />
<form id="frm_create_transaction" name="transactionCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">
            <span>@L("CreateNewDeposit")</span>
        </h2>
    </div>
    <div class="modal-body">
 
                <div class="row">

                    <div class="col-md-2" >

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionDate">@L("TransactionDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="transactionDate" class="form-control" ng-model="vm.transaction.dateTemp" />
                            </datepicker>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="transactionBank">@L("DepositBank")</label>
                            <select id="transactionBank"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                                    ng-model="vm.transaction.bankId"
                                    ng-class="{'edited':vm.transaction.bankId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="transactionBankAccount">@L("DepositBankAccount")</label>
                            <select id="transactionBankAccount"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.number for item in vm.bankAccounts"
                                    ng-model="vm.transaction.bankAccountId"
                                    ng-class="{'edited':vm.transaction.bankAccountId != null}"
                                    required
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.amount != null}"
                                   ng-model="vm.transaction.amount"
                                   required>
                            <label for="transactionName">@L("DepositAmount")</label>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionLetterAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.letterAmount != null}"
                                   ng-model="vm.transaction.letterAmount"
                                   readonly
                                   disabled>
                            <label for="transactionName">@L("DepositletterAmount")</label>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transactionConcept">@L("DepositConcept")</label>
                            <select id="transactionConcept"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts"
                                    ng-model="vm.transaction.conceptId"
                                    ng-class="{'edited':vm.transaction.conceptId != null}"
                                    data-live-search="true"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionNumber"
                                   maxlength="15"
                                   ng-class="{'edited':vm.transaction.number != null}"
                                   ng-model="vm.transaction.number">
                            <label for="transactionCheckNumber">@L("DepositNumber")</label>
                        </div>
                    </div>
                   
                </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
