<form id="frm_edit_catalog" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditCatalog")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="catalogAccountNumber"
                           maxlength="20" 

						   ng-class="{'edited':vm.catalog.accountNumber != null}"
                           ng-model="vm.catalog.accountNumber"
                           required>
                    <label for="catalogAccountNumber">@L("CatalogAccountNumber")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="catalogName"
                           maxlength="85" 

						   ng-class="{'edited':vm.catalog.name != null}"
                           ng-model="vm.catalog.name"
                           required>
                    <label for="catalogName">@L("CatalogName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="catalogDescsription"
                           maxlength="300" 

						   ng-class="{'edited':vm.catalog.descsription != null}"
                           ng-model="vm.catalog.descsription"
                           >
                    <label for="catalogDescsription">@L("CatalogDescsription")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="catalogCode1"
                           maxlength="20"
                           ng-class="{'edited':vm.catalog.code1 != null}"
                           ng-model="vm.catalog.code1">
                    <label for="catalogCode1">@L("CatalogCode1")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="catalogCode10"
                           maxlength="20"
                           ng-class="{'edited':vm.catalog.code10 != null}"
                           ng-model="vm.catalog.code10">
                    <label for="catalogCode10">@L("CatalogCode10")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.catalog.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_catalog.$invalid">
            @L("Save")
        </button>
    </div>
</form>
