<form id="frm_create_report" name="reportCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewReport")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("ReportDetails")">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select id="reportReportsTypesId"
                            name="reportReportsTypesId"
                            class="form-control"
                            aria-required="true"
                            required
                            ng-change="vm.report.reportsTypesId=vm.report.reportsTypes.id"
                            ng-model="vm.report.reportsTypes"
                            ng-class="{'edited':vm.report.reportsTypesId != null}"
                            ng-options="item.nombre for item in vm.reportsTypes track by item.id">
   
                    </select>
                    <label for="reportReportsTypesId">@L("ReportReportsTypes")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportCode"
                           maxlength="120"
                           ng-class="{'edited':vm.report.reportCode != null}"
                           ng-model="vm.report.reportCode"
                           required>
                    <label for="reportCode">@L("Code")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportDescripcion"
                           maxlength="120"
                           ng-class="{'edited':vm.report.reportName != null}"
                           ng-model="vm.report.reportName"
                           ng-change="vm.nameChanged()"
                           required>
                    <label for="reportDescripcion">@L("Name")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select id="reportReportsTypesId"
                            name="reportReportsTypesId"
                            class="form-control"
                            aria-required="true"
                            required
                            ng-change="vm.reportDataSourceChange()"
                            ng-model="vm.report.reportDataSource"
                            ng-class="{'edited':vm.report.reportDataSourceId != null}"
                            ng-options="item.name for item in vm.reportDataSources track by item.id"></select>
                    <label for="reportArchivo">@L("DataSource")</label>
                </div>
                
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                    <textarea class="form-control"
                              ng-class="{'edited':vm.report.view != null}"
                              ng-model="vm.report.view"
                              ng-hide="vm.showComboReportSource"
                              ng-required="!vm.showComboReportSource">

                    </textarea>

                    <select name="reportReportsTypesId"
                            class="form-control"
                            aria-required="true"
                            ng-required="vm.showComboReportSource"
                            ng-model="vm.report.view"
                            ng-show="vm.showComboReportSource"
                            ng-class="{'edited':vm.report.view != null}"
                            ng-options="item.name as item.name for item in  vm.reportSources"></select>

                    <label>@L("View")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.report.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
            </uib-tab>
            <uib-tab heading="@L("ReportOptions")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reporRoot"
                           maxlength="120"
                           ng-class="{'edited':vm.report.reportRoot != null}"
                           ng-model="vm.report.reportRoot"
                           required>
                    <label for="reporRoot">@L("ReportRoot")</label>
                </div>
                
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportPath"
                           maxlength="120"
                           ng-class="{'edited':vm.report.reportPath != null}"
                           ng-model="vm.report.reportPath"
                           required>
                    <label for="reportPath">@L("ReportPath")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select id="IsForTenant"
                            class="form-control"
                            aria-required="true"
                            required
                            ng-model="vm.report.isForTenant"
                            ng-class="{'edited':vm.report.isForTenant != null}"
                            ng-options="item.id as item.name for item in vm.hostAndTenants"></select>
                    <label for="IsForTenant">
                        @L("IsForTenant")
                    </label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="permissionName"
                           maxlength="500"
                           ng-class="{'edited':vm.report.permissionName != null}"
                           ng-model="vm.report.permissionName">
                    <label for="permissionName">@L("PermissionName")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="FilterByTenant" class="md-check" ng-model="vm.report.filterByTenant">
                    <label for="FilterByTenant">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("FilterByTenant")
                    </label>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()">
            @L("Save")
        </button>
    </div>
</form>
