<form id="frm_edit_report" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditReport")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="Detalle de Reporte">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportDescripcion"
                           maxlength="120"
                           ng-class="{'edited':vm.report.descripcion != null}"
                           ng-model="vm.report.descripcion"
                           required>
                    <label for="reportDescripcion">@L("ReportDescripcion")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select id="reportReportsTypesId"
                            name="reportReportsTypesId"
                            class="form-control"
                            aria-required="true"
                            required
                            ng-model="vm.report.reportsTypesId"
                            ng-class="{'edited':vm.report.reportsTypesId != null}"
                            ng-options="$helpers.getEditionId(item) as item.nombre for item in vm.reportsTypes">
                        <option value=""></option>
                    </select>
                    <label for="reportReportsTypesId">@L("ReportReportsTypes")</label>
                </div>

                @*
                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select id="reportReportsTypesId"
                            name="reportReportsTypesId"
                            class="form-control"
                            aria-required="true"
                            required
                            ng-model="vm.report.reportsTypesId"
                            ng-class="{'edited':vm.report.reportsTypesId != null}">
                        <option value=""></option>
                        <option ng-repeat="item in vm.reportsTypes" value="{{item.id}}">{{item.nombre}}</option>
                    </select>
                    <label for="reportReportsTypesId">@L("ReportReportsTypes")</label>
                    </div>
                *@

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportArchivo"
                           maxlength="50"
                           ng-class="{'edited':vm.report.archivo != null}"
                           ng-model="vm.report.archivo"
                           required>
                    <label for="reportArchivo">@L("ReportArchivo")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportTabla"
                           maxlength="100"
                           ng-class="{'edited':vm.report.tabla != null}"
                           ng-model="vm.report.tabla"
                           required>
                    <label for="reportTabla">@L("ReportTabla")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.report.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>

            </uib-tab>
            <uib-tab heading="Opciones del reporte">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportVista"
                           maxlength="120"
                           ng-class="{'edited':vm.report.vista != null}"
                           ng-model="vm.report.vista"
                           required>
                    <label for="reportVista">@L("ReportDataSetName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportUrl"
                           maxlength="120"
                           ng-class="{'edited':vm.report.url != null}"
                           ng-model="vm.report.url"
                           required>
                    <label for="reportUrl">@L("ReportUrl")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <textarea id="reporttextoDetalleDescripcion"
                              maxlength="2000"
                              ng-model="vm.report.textoDetalleDescripcion"
                              ng-class="{'edited':vm.report.textoDetalleDescripcion != null}"
                              class="form-control" rows="3">
                    </textarea>
                    <label for="reporttextoDetalleDescripcion">@L("ReporttextoDetalleDescripcion")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <textarea id="reportCustomConsulta"
                              maxlength="5000"
                              ng-class="{'edited':vm.report.customConsulta != null}"
                              ng-model="vm.report.customConsulta"
                              class="form-control" rows="3">
                    </textarea>
                    <label for="reportCustomConsulta">@L("ReportCustomConsulta")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportResourceFile"
                           maxlength="120"
                           ng-class="{'edited':vm.report.resourceFile != null}"
                           ng-model="vm.report.resourceFile">
                    <label for="reportResourceFile">@L("ReportResourceFile")</label>
                </div>

            </uib-tab>
            <uib-tab heading="Filtros del reporte">
                <div id="grd-reports-filters" ui-grid="gridOptions"></div>
                <div class="pull-right">
                    <a ng-click="vm.openReportsFilterCreationModal()" class="btn btn-default waves-effect">
                        <i class="fa fa-plus"></i> @L("NewreportsFilter")
                    </a>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_report.$invalid">
            @L("Save")
        </button>
    </div>
</form>
