<link href="~/App/Main/views/transactions/transactionStyles.css" rel="stylesheet" />
<form id="frm_edit_transaction" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTransaction")</span>
        </h4>
    </div>
    <div class="modal-body" onkeydown="if(event.keyCode==13){event.keyCode=9; return event.keyCode}">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                <div class="row">

                    <div class="col-md-2">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="transactionDate">@L("TransactionDate")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="transactionDate" class="form-control" ng-model="vm.transaction.dateTemp" />
                            </datepicker>

                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionEnrollment"
                                   maxlength="9"
                                   required
                                   ng-class="{'edited':vm.transaction.enrollment != null}"
                                   ng-model="vm.transaction.enrollment"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionEnrollment">@L("TransactionEnrollment")</label>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="enrollmentsAngu"
                                              placeholder="@L("SearchEnrollments")"
                                              pause="400"
                                              selected-object="returnedValue"
                                              remote-api-handler="getEnrollmentsByName"
                                              remote-url-data-field="items"
                                              title-field="firstName,lastName"
                                              description-field=""
                                              input-class="form-control form-control-small" />
                            @*<input type="text"
                                   class="form-control"
                                   id="transactionName"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.name != null}"
                                   ng-model="vm.transaction.name"
                                   required readonly disabled>
                            <label for="transactionName">@L("TransactionName")</label>*@
                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.amount != null}"
                                   ng-model="vm.transaction.amount"
                                   required
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="transactionName">@L("TransactionAmount")</label>
                        </div>
                    </div>



                </div>


                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="transactionLetterAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.transaction.letterAmount != null}"
                                   ng-model="vm.transaction.letterAmount"
                                   readonly
                                   disabled
                                   tabindex="20">
                            <label for="transactionName">@L("TransactionletterAmount")</label>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transactionConcept">@L("TransactionConcept")</label>
                            <select id="transactionConcept"
                                    tabindex="21"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts"
                                    ng-model="vm.transaction.conceptId"
                                    ng-class="{'edited':vm.transaction.conceptId != null}"
                                    data-live-search="true"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="transactionOrigin">@L("TransactionOrigin")</label>
                            <select id="transactionOrigin"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.origins"
                                    ng-model="vm.transaction.originId"
                                    ng-class="{'edited':vm.transaction.originId != null}"
                                    data-live-search="true"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="GridMain" ui-grid="gridOptions" style="height: 250px; margin-bottom:5px;"></div>

                <div>

                    <textarea placeholder="@L("Comments")" class="form-control" id="comments1" rows="2" ng-class="{'edited':vm.transaction.comments != null}" ng-model="vm.transaction.comments"></textarea>

                </div>

                <div style="margin-top:8px;">
                    <div style="text-align:right">
                        <input type="text"
                               class="form-control paymentBox"
                               id="transactionTotal"
                               maxlength="15"
                               style="width:125px; float:right"
                               disabled readonly
                               value="{{vm.transaction.totalCalculed | number:2}}"
                               ng-class="{'difference-amount': vm.transaction.totalCalculed != vm.transaction.amount}" />
                        <label for="transactionTotal" style="float:right; margin-top:5px; margin-right:5px;">@L("Total")</label>
                    </div>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.transaction.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>

            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_transaction.$invalid">
            @L("Save")
        </button>
    </div>
</form>
