﻿.mt-radio-inline .mt-radio {
    display: inline-block;
    margin-right: 3px!important;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 21px!important;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.align-right{

    text-align:right;
    align-content:flex-end;
    float:right;
}

.modal-title{
    text-align:center!important;
}

.form-group.form-md-line-input {
    position: relative;
    margin: 0 0 4px!important;
    padding-top: 20px;
}

.tabbable-line > .tab-content {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 0px 0!important;
}

.limpiando-espacio {
    margin-bottom: -18px!important;
}

.paymentBox{
    margin-left:5px;
    padding-left:5px;
    text-align:right;
    height:25px!important;
}