﻿ .gray {
    background-color: #f8d7ba !important;
}

.dadtagrid {
    width: 100%;
    margin: 2px 2px 2px 2px;
}

    .dadtagrid thead tr th {
        background-color: black;
        color: white;
        font-weight: bold;
        height: 35px;
        text-indent: 5px;
    }

    .dadtagrid thead tr .actions {
        width: 150px;
    }

    .dadtagrid tbody tr td {
        height: 45px;
        border-bottom-style: solid;
        border-bottom-color: #c4bfbf;
        border-bottom-width: 1px;
    }

.TextBoxPaginaActual {
    text-align: center;
    font-weight: bold;
    width: 70px;
    height: 35px;
}

.WidtNavigationButton {
    width: 70px;
    margin-right: 1px;
    margin-left: 1px;
}

.padding-none {
    padding:0px!important;
    margin:0px!important;
}
