<form id="frm_edit_grantEnterprise" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditGrantEnterprise")</span>
        </h4>
    </div>
    <div class="modal-body">
             
         				
        <div class="row">

            <div class="col-md-9">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="grantEnterpriseName"
                           maxlength="200"
                           ng-class="{'edited':vm.grantEnterprise.name != null}"
                           ng-model="vm.grantEnterprise.name"
                           required>
                    <label for="grantEnterpriseName">@L("Name")</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="grantEnterprisePhone"
                           maxlength="15"
                           ng-class="{'edited':vm.grantEnterprise.phone != null}"
                           ng-model="vm.grantEnterprise.phone">
                    <label for="grantEnterprisePhone">@L("Phone")</label>
                </div>
            </div>

        </div>	
				
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="grantEnterpriseAddress"
                           maxlength="100"
                           ng-class="{'edited':vm.grantEnterprise.address != null}"
                           ng-model="vm.grantEnterprise.address">
                    <label for="grantEnterpriseAddress">@L("Address")</label>
                </div>
            </div>
        </div>
                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.grantEnterprise.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
				

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_grantEnterprise.$invalid">
            @L("Save")
        </button>
    </div>
</form>
