﻿.fullTable {
    width: 100%;
    border: solid 1px darkblue;
}

    .fullTable tr {
        min-height: 32px;
    }

        .fullTable tr:hover {
            background-color: #b3f6ba;
        }

    .fullTable th {
        height: 32px;
        background-color: darkblue;
        color: white;
        font-weight: bold;
    }

    .fullTable td, .fullTable th {
        margin-left: 3px !important;
    }


.no-found {
  background-color:#e9baba;
  color:darkred;
  text-align:center;
}

.student-count {
    font-size: 21px;
    padding-top: 6px;
    font-weight: bold;
    color: darkgreen;
}

.buttonRight {
    float: right;
    color: black;
    width: 175px;
    height: 38px;
    margin-top: 2px;
}

.buttonApplyAll {
    background-color: #16ca1a;
}

.buttonRemoveAll {
    background-color: #ff0000;
}