<form id="frm_edit_origin" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditOrigin")</span>
        </h4>
    </div>
    <div class="modal-body">
               
        
        <div class="row">
            <div class="col-md-10">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="originName"
                           maxlength="10"
                           ng-class="{'edited':vm.origin.name != null}"
                           ng-model="vm.origin.name"
                           required>
                    <label for="originName">@L("OriginName")</label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="originLetter"
                           maxlength="1"
                           ng-class="{'edited':vm.origin.letter != null}"
                           ng-model="vm.origin.letter"
                           required>
                    <label for="originLetter">@L("OriginLetter")</label>
                </div>
            </div>
        </div>
                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.origin.isActive" disabled>
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
     </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_origin.$invalid">
            @L("Save")
        </button>
    </div>
</form>
