<form id="frm_create_province" name="provinceCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewProvince")</span>
        </h4>
    </div>
    <div class="modal-body">
                

    			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="provinceName"
                           maxlength="50" 

						   ng-class="{'edited':vm.province.name != null}"
                           ng-model="vm.province.name"
                           required>
                    <label for="provinceName">@L("ProvinceName")</label>
                </div>
				
        
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="provinceRegion">@L("ProvinceRegion")</label>
                            <select id="provinceRegion"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.regions"
                                    ng-model="vm.province.regionId"
                                    ng-class="{'edited':vm.province.regionId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>   
                    </div>

                </div>			

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.province.isActive" disabled>
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="provinceCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
