<form id="frm_edit_courseValue" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditCourseValue")</span>
        </h4>
    </div>
    <div class="modal-body">
 
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="courseValuePeriodId" class="form-label">@L("CourseValuePeriod")</label>
                            <input id="courseValuePeriodId"
                                   name="PeriodId"
                                   ng-model="vm.courseValue.periods.description"
                                   disabled readonly
                                   class="validate form-control">
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="courseValueCourse">@L("CourseValueCourse")</label>
                            <select id="courseValueCourse"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                                    ng-model="vm.courseValue.courseId"
                                    ng-class="{'edited':vm.courseValue.courseId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input id="courseValueInscriptionAmount"
                                   type="number" name="InscriptionAmount"
                                   ng-model="vm.courseValue.inscriptionAmount"
                                   required
                                   ng-class="{'edited':vm.courseValue.inscriptionAmount != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                            <label for="courseValueInscriptionAmount" class="form-label">@L("CourseValueInscriptionAmount")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <input id="courseValueTotalAmount"
                                   type="number" name="TotalAmount"
                                   ng-model="vm.courseValue.totalAmount"
                                   required
                                   ng-class="{'edited':vm.courseValue.totalAmount != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                            <label for="courseValueTotalAmount" class="form-label">@L("CourseValueTotalAmount")</label>
                        </div>
                    </div>

                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.courseValue.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_courseValue.$invalid">
            @L("Save")
        </button>
    </div>
</form>
