<form id="frm_create_documentType" name="documentTypeCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewDocumentType")</span>
        </h4>
    </div>
    <div class="modal-body">
               
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="documentTypeName"
                           maxlength="50" 

						   ng-class="{'edited':vm.documentType.name != null}"
                           ng-model="vm.documentType.name"
                           required>
                    <label for="documentTypeName">@L("DocumentTypeName")</label>
                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.documentType.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="documentTypeCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
