<form id="frm_edit_concept" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditConcept")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab heading="@L("GeneralInformation")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="conceptDescription"
                           maxlength="200"
                           ng-class="{'edited':vm.concept.description != null}"
                           ng-model="vm.concept.description"
                           required>
                    <label for="conceptDescription">@L("ConceptDescription")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="conceptShortDescription"
                           maxlength="30"
                           ng-class="{'edited':vm.concept.shortDescription != null}"
                           ng-model="vm.concept.shortDescription"
                           required>
                    <label for="conceptShortDescription">@L("ConceptShortDescription")</label>
                </div>

                <div class="form-group">
                    <label for="conceptCatalog">@L("ConceptCatalog")</label>
                    <select id="conceptCatalog"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.catalogs"
                            ng-model="vm.concept.catalogId"
                            ng-class="{'edited':vm.concept.catalogId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="ckbAvailableForTransactions" class="md-check" ng-model="vm.concept.availableForTransaction">
                    <label for="ckbAvailableForTransactions">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AvailableForTransactions")
                    </label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="ckbAvailableForDiscounts" class="md-check" ng-model="vm.concept.availableForDiscounts">
                    <label for="ckbAvailableForDiscounts">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AvailableForDiscounts")
                    </label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="ckbAvailableForReceipts" class="md-check" ng-model="vm.concept.availableForReceipts">
                    <label for="ckbAvailableForReceipts">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AvailableForReceipts")
                    </label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="ckbAvailableForDeposits" class="md-check" ng-model="vm.concept.availableForDeposits">
                    <label for="ckbAvailableForDeposits">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AvailableForDeposits")
                    </label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="isEnsenanza" class="md-check" ng-model="vm.concept.isEns">
                    <label for="isEnsenanza">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsEns")
                    </label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="isMatricula" class="md-check" ng-model="vm.concept.isMat">
                    <label for="isMatricula">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsMat")
                    </label>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="ReceiptType">@L("ReceiptType")</label>
                            <select id="ReceiptType"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.receiptTypes"
                                    ng-model="vm.concept.receiptTypeId"
                                    required
                                    ng-class="{'edited':vm.concept.receiptTypeId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            <input type="text"
                                   class="form-control"
                                   id="conceptAmount"
                                   maxlength="20"
                                   ng-class="{'edited':vm.concept.amount != null}"
                                   ng-model="vm.concept.amount">
                            <label for="conceptAmount">@L("Amount")</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="Period">@L("Period")</label>
                            <select id="Period"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods"
                                    ng-model="vm.concept.periodId"
                                    ng-class="{'edited':vm.concept.periodId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group form-md-line-input">
                            <input type="text"
                                   class="form-control"
                                   id="conceptSequenceNext"
                                   maxlength="20"
                                   ng-class="{'edited':vm.concept.sequenceNext != null}"
                                   ng-model="vm.concept.sequenceNext">
                            <label for="conceptSequenceNext">@L("SequenceNext")</label>
                        </div>

                    </div>
                </div>


                @*<div class="md-checkbox">
            <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.concept.isActive">
            <label for="IsActive">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>@L("IsActive")
            </label>
        </div>*@

            </uib-tab>

            <uib-tab heading="@L("Dimensions1-5")">
                <div class="form-group">
                    <label for="conceptT1Dimension">@L("T1Dimensions")</label>
                    <select id="conceptT1Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t1Dimensions"
                            ng-model="vm.concept.t1DimensionId"
                            ng-class="{'edited':vm.concept.t1DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT2Dimension">@L("T2Dimensions")</label>
                    <select id="conceptT2Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t2Dimensions"
                            ng-model="vm.concept.t2DimensionId"
                            ng-class="{'edited':vm.concept.t2DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT3Dimension">@L("T3Dimensions")</label>
                    <select id="conceptT3Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t3Dimensions"
                            ng-model="vm.concept.t3DimensionId"
                            ng-class="{'edited':vm.concept.t3DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT4Dimension">@L("T4Dimensions")</label>
                    <select id="conceptT4Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t4Dimensions"
                            ng-model="vm.concept.t4DimensionId"
                            ng-class="{'edited':vm.concept.t4DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT5Dimension">@L("T5Dimensions")</label>
                    <select id="conceptT5Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t5Dimensions"
                            ng-model="vm.concept.t5DimensionId"
                            ng-class="{'edited':vm.concept.t5DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </uib-tab>

            <uib-tab heading="@L("Dimensions6-10")">
                <div class="form-group">
                    <label for="conceptT6Dimension">@L("T6Dimensions")</label>
                    <select id="conceptT6Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t6Dimensions"
                            ng-model="vm.concept.t6DimensionId"
                            ng-class="{'edited':vm.concept.t6DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT7Dimension">@L("T7Dimensions")</label>
                    <select id="conceptT7Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t7Dimensions"
                            ng-model="vm.concept.t7DimensionId"
                            ng-class="{'edited':vm.concept.t7DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT8Dimension">@L("T8Dimensions")</label>
                    <select id="conceptT8Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t8Dimensions"
                            ng-model="vm.concept.t8DimensionId"
                            ng-class="{'edited':vm.concept.t8DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT9Dimension">@L("T9Dimensions")</label>
                    <select id="conceptT9Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t9Dimensions"
                            ng-model="vm.concept.t9DimensionId"
                            ng-class="{'edited':vm.concept.t9DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="conceptT10Dimension">@L("T10Dimensions")</label>
                    <select id="conceptT10Dimension"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.code for item in vm.t10Dimensions"
                            ng-model="vm.concept.t10DimensionId"
                            ng-class="{'edited':vm.concept.t10DimensionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </uib-tab>


        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_concept.$invalid">
            @L("Save")
        </button>
    </div>
</form>
