<form id="frm_edit_taxReceipt" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTaxReceipt")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="taxReceiptName"
                           maxlength="50"
                           ng-class="{'edited':vm.taxReceipt.name != null}"
                           ng-model="vm.taxReceipt.name"
                           required>
                    <label for="taxReceiptName">@L("TaxReceiptName")</label>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="taxReceiptTaxReceiptType">@L("TaxReceiptTaxReceiptType")</label>
                            <select id="taxReceiptTaxReceiptType"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.taxReceiptTypes"
                                    ng-model="vm.taxReceipt.taxReceiptTypeId"
                                    ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"
                                    ng-class="{'edited':vm.taxReceipt.taxReceiptTypeId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row clearfix datepicker-padding">

                            <label for="TaxReceiptExpirationDate">@L("ExpirationDate")</label>

                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="TaxReceiptExpirationDate" class="form-control" ng-model="vm.taxReceipt.expirationDateTemp" 
                                       ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"/>
                            </datepicker>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="taxReceiptInitialNumber" class="form-label">@L("TaxReceiptInitialNumber")</label>
                                        <input id="taxReceiptInitialNumber"
                                               type="number" name="InitialNumber"
                                               ng-model="vm.taxReceipt.initialNumber"
                                               required
                                               ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"
                                               ng-class="{'edited':vm.taxReceipt.initialNumber != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="taxReceiptFinalNumber" class="form-label">@L("TaxReceiptFinalNumber")</label>
                                        <input id="taxReceiptFinalNumber"
                                               type="number" name="FinalNumber"
                                               ng-model="vm.taxReceipt.finalNumber"
                                               required
                                               ng-class="{'edited':vm.taxReceipt.finalNumber != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label for="taxReceiptCurrentSequence" class="form-label">@L("TaxReceiptCurrentSequence")</label>
                                        <input id="taxReceiptCurrentSequence"
                                               type="number" name="CurrentSequence"
                                               ng-model="vm.taxReceipt.currentSequence"
                                               ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"
                                               required
                                               ng-class="{'edited':vm.taxReceipt.currentSequence != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="taxReceiptRegion">@L("TaxReceiptRegion")</label>
                            <select id="taxReceiptRegion"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.regions"
                                    ng-model="vm.taxReceipt.regionId"
                                    ng-class="{'edited':vm.taxReceipt.regionId != null}"
                                    
                                    ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="taxReceiptSerie"
                                   maxlength="1"
                                   ng-class="{'edited':vm.taxReceipt.serie != null}"
                                   
                                    ng-disabled="vm.taxReceipt.currentSequence > vm.taxReceipt.initialNumber"
                                   ng-model="vm.taxReceipt.serie"
                                   required>
                            <label for="taxReceiptSerie">@L("TaxReceiptSerie")</label>
                        </div>
                    </div>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.taxReceipt.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_taxReceipt.$invalid">
            @L("Save")
        </button>
    </div>
</form>
