<form id="frm_edit_indicatorGroup" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditIndicatorGroup")</span>
        </h4>
    </div>
    <div class="modal-body">
              
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="indicatorGroupName"
                           maxlength="200" 

						   ng-class="{'edited':vm.indicatorGroup.name != null}"
                           ng-model="vm.indicatorGroup.name"
                           required>
                    <label for="indicatorGroupName">@L("Name")</label>
                </div>
								
				<div class="form-group">
                    <label for="indicatorGroupSubject">@L("Subject")</label>
                    <select id="indicatorGroupSubject"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.subjects"
                            ng-model="vm.indicatorGroup.subjectId"
                            ng-class="{'edited':vm.indicatorGroup.subjectId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
												
				<div class="form-group">
                    <label for="indicatorGroupIndicatorGroup">@L("ParentIndicatorGroup")</label>
                    <select id="indicatorGroupIndicatorGroup"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.indicatorGroups"
                            ng-model="vm.indicatorGroup.parentIndicatorGroupId"
                            ng-class="{'edited':vm.indicatorGroup.parentIndicatorGroupId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
				

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.indicatorGroup.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_indicatorGroup.$invalid">
            @L("Save")
        </button>
    </div>
</form>
