<form id="frm_create_subjectSessionHigh" name="subjectSessionHighCreateForm" novalidate>
	<div class="modal-header">
		<button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
			<span>@L("CreateNewSubjectSessionHigh")</span>
		</h4>
	</div>
	<div class="modal-body">
		<uib-tabset class="tab-container tabbable-line">

			<uib-tab>
												
				<div class="form-group">
					<label for="subjectSessionHighPeriod">@L("Periods")</label>
					<select id="subjectSessionHighPeriod"
							class="select2me form-control"
							ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods"
							ng-model="vm.subjectSessionHigh.periodId"
							ng-class="{'edited':vm.subjectSessionHigh.periodId != null}"
							data-live-search="true">
						<option value=""></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="subjectSessionHighCourseSession">@L("Courses")</label>
					<select id="subjectSessionHighCourseSession"
							class="select2me form-control"
							ng-options="$helpers.getEditionId(item) as item.coursesNameName for item in vm.courseSessions"
							ng-model="vm.subjectSessionHigh.courseSessionId"
							ng-class="{'edited':vm.subjectSessionHigh.courseSessionId != null}"
							data-live-search="true">
						<option value=""></option>
					</select>
				</div>
												
				<div class="form-group">
					<label for="subjectSessionHighSubjectHigh">@L("Subjects")</label>
					<select id="subjectSessionHighSubjectHigh"
							class="select2me form-control"
							ng-options="$helpers.getEditionId(item) as item.name for item in vm.subjectHighs"
							ng-model="vm.subjectSessionHigh.subjectHighId"
							ng-class="{'edited':vm.subjectSessionHigh.subjectHighId != null}"
							data-live-search="true">
						<option value=""></option>
					</select>
				</div>
												
				<div class="form-group">
					<label for="subjectSessionHighTeacherTenant">@L("Teachers")</label>
					<select id="subjectSessionHighTeacherTenant"
							class="select2me form-control"
							ng-options="$helpers.getEditionId(item) as item.teachers_Name for item in vm.teacherTenants"
							ng-model="vm.subjectSessionHigh.teacherTenantId"
							ng-class="{'edited':vm.subjectSessionHigh.teacherTenantId != null}"
							data-live-search="true">
						<option value=""></option>
					</select>
				</div>

				<div class="md-checkbox">
					<input type="checkbox" id="IsActive" class="md-check" ng-model="vm.subjectSessionHigh.isActive">
					<label for="IsActive">
						<span></span>
						<span class="check"></span>
						<span class="box"></span>@L("IsActive")
					</label>
				</div>				
				
			</uib-tab>

		</uib-tabset>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
			@L("Cancel")
		</button>
		<button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="subjectSessionHighCreateForm.$invalid">
			@L("Save")
		</button>
	</div>
</form>
