<form id="frm_create_region" name="regionCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewRegion")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab >
                
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="regionName"
                           maxlength="30"
						   ng-class="{'edited':vm.region.name != null}"
                           ng-model="vm.region.name"
                           required>
                    <label for="regionServiceName">@L("RegionName")</label>
                </div>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="regionCode"
                           maxlength="3"
                           ng-class="{'edited':vm.region.code != null}"
                           ng-model="vm.region.code"
                           required>
                    <label for="regionServiceCode">@L("RegionCode")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.region.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="regionCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
