<link href="~/App/Main/views/students/studentStyles.css" rel="stylesheet" />
<form id="frm_edit_student" name="frmEditStudent" validate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditStudent")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab heading="@L("PersonalInformation")">

                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   ng-pattern="/^[0-9\s]{0,11}$/"
                                   onkeypress="return JustNumbers(event)"
                                   class="form-control"
                                   id="enrollmentId"
                                   maxlength="11"
                                   ng-class="{'edited':vm.student.studentPersonalId != null}"
                                   ng-model="vm.student.studentPersonalId"
                                   required
                                   tabindex="10">
                            <label for="studentPersonalId" class="datepicker-label">@L("PersonalId")</label>
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentFirstName"
                                   maxlength="50"
                                   ng-class="{'edited':vm.student.firstName != null}"
                                   style='text-transform:uppercase'
                                   ng-model="vm.student.firstName"
                                   required>
                            <label for="studentFirstName">@L("StudentFirstName")</label>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentLastName"
                                   maxlength="50"
                                   ng-class="{'edited':vm.student.lastName != null}"
                                   style='text-transform:uppercase'
                                   ng-model="vm.student.lastName"
                                   required>
                            <label for="studentLastName">@L("StudentLastName")</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12">
                        <div class="form-group">
                            <label for="studentGender">@L("StudentGender")</label>
                            <select id="studentGender"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.genders"
                                    ng-model="vm.student.genderId"
                                    ng-class="{'edited':vm.student.genderId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12">
                        <div class="form-group">
                            <label for="studentBlood">@L("StudentBlood")</label>
                            <select id="studentBlood"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.bloods"
                                    ng-model="vm.student.bloodId"
                                    ng-class="{'edited':vm.student.bloodId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12">
                        <div class="form-group form-md-floating-label row clearfix">
                            <label for="studentDateOfBirth">@L("StudentDateOfBirth")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="studentDateOfBirth" class="form-control" ng-model="vm.student.dateOfBirthTemp" />
                            </datepicker>
                        </div>
                    </div>

                    <div class=" col-md-6 col-lg-6 col-sm-6 col-sm-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix"
                             ng-class="{'has-error':!frmEditStudent.studentEmailAddress.$valid}">
                            <input type="email"
                                   class="form-control"
                                   id="studentEmailAddress"
                                   name="studentEmailAddress"
                                   maxlength="255"
                                   ng-class="{'edited':vm.student.emailAddress != null}"
                                   ng-model="vm.student.emailAddress">
                            <label for="studentEmailAddress">@L("StudentEmailAddress")</label>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-sm-12">
                        <div class="form-group">
                            <label for="studentLevel">@L("StudentLevel")</label>
                            <select id="studentLevel"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.levels"
                                    ng-model="vm.student.levelId"
                                    ng-class="{'edited':vm.student.levelId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-md-4 col-lg-4 col-sm-4 col-sm-12">
                        <div class="form-group">
                            <label for="studentCourse">@L("StudentCourse")</label>
                            <select id="studentCourse"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                                    ng-model="vm.student.courseId"
                                    ng-class="{'edited':vm.student.courseId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.student.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@




            </uib-tab>

            <uib-tab heading="@L("ParentsInformation")">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="studentRelationship">@L("StudentRelationshipWithTutor")</label>
                            <select id="studentRelationship"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.relationships"
                                    ng-model="vm.student.relationshipId"
                                    ng-class="{'edited':vm.student.relationshipId != null}"
                                    data-live-search="true" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentFatherPersonalID"
                                   maxlength="11"
                                   ng-class="{'edited':vm.student.fatherPersonalId != null}"
                                   ng-model="vm.student.fatherPersonalId">
                            <label for="studentFatherPersonalID">@L("StudentFatherPersonalID")</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentFatherName"
                                   maxlength="100"
                                   ng-class="{'edited':vm.student.fatherName != null}"
                                   ng-model="vm.student.fatherName">
                            <label for="studentFatherName">@L("StudentFatherName")</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentMotherPersonalId"
                                   maxlength="11"
                                   ng-class="{'edited':vm.student.motherPersonalId != null}"
                                   ng-model="vm.student.motherPersonalId">
                            <label for="studentMotherPersonalId">@L("StudentMotherPersonalId")</label>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="studentMotherName"
                                   maxlength="100"
                                   ng-class="{'edited':vm.student.motherName != null}"
                                   ng-model="vm.student.motherName">
                            <label for="studentMotherName">@L("StudentMotherName")</label>
                        </div>
                    </div>
                    </div>

</uib-tab>



            <uib-tab heading="@L("IllnessesAndAllergiesInformations")">

                <label for="StudentIllnesses">@L("Illnesses")</label>
                <select id="StudentIllnesses" multiple chosen
                        placeholder-text-multiple="'@L("SelectTheIllnesses")'"
                        ng-model="vm.student.studentIllnesses"
                        ng-options="s.name for s in vm.illnesses track by s.id"
                        options="vm.illnesses">
                    <option value=""></option>
                </select>

                <label for="StudentAllergies">@L("Allergies")</label>
                <select id="StudentAllergies" multiple chosen
                        no-results-text="'No hay informacion'"
                        placeholder-text-multiple="'@L("SelectTheAllergy")'"
                        ng-model="vm.student.studentAllergies"
                        ng-options="s.name for s in vm.allergies track by s.id"
                        options="vm.allergies">
                    <option value=""></option>
                </select>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="studentMedication"
                           maxlength="200"
                           ng-class="{'edited':vm.student.medication != null}"
                           ng-model="vm.student.medication">
                    <label for="studentMedication">@L("StudentMedication")</label>
                </div>
            </uib-tab>

            <uib-tab heading="@L("AdditionalInformation")">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="studentEmergencyNote"
                           maxlength="250"
                           ng-class="{'edited':vm.student.emergencyNote != null}"
                           ng-model="vm.student.emergencyNote">
                    <label for="studentEmergencyNote">@L("StudentEmergencyNote")</label>



                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="studentDerivation"
                               maxlength="100"
                               ng-class="{'edited':vm.student.derivation != null}"
                               ng-model="vm.student.derivation">
                        <label for="studentDerivation">@L("StudentDerivation")</label>
                    </div>


                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="studentNutrition"
                               maxlength="200"
                               ng-class="{'edited':vm.student.nutrition != null}"
                               ng-model="vm.student.nutrition">
                        <label for="studentNutrition">@L("StudentNutrition")</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="md-checkbox">
                                <input type="checkbox" id="EmployeeSon" class="md-check" ng-model="vm.student.employeeSon">
                                <label for="EmployeeSon">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>@L("EmployeeSon")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                @*</div>*@


            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_student.$invalid">
            @L("Save")
        </button>
    </div>
</form>
