<link href="~/App/Main/views/enrollments/enrollmentStyles.css" rel="stylesheet" />
<form id="frm_edit_enrollment" name ='frmEditEnrollment' validate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditEnrollment")</span>
        </h4>
    </div>
    <div class="modal-body">
        @*<uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("EnrollmentInformation")">*@
        <div class="row">
            <span class="span-title">@L("PersonalInformation") </span>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           ng-pattern="/^[0-9\s]{0,11}$/"
                           onkeypress="return JustNumbers(event)"
                           class="form-control"
                           id="enrollmentId"
                           maxlength="11"
                           ng-class="{'edited':vm.enrollment.id != null}"
                           ng-model="vm.enrollment.id"
                           required
                           tabindex="10">
                    <label for="enrollmentId">@L("PersonalId")</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentFirstName"
                           maxlength="30"
                           ng-class="{'edited':vm.enrollment.firstName != null}"
                           ng-model="vm.enrollment.firstName"
                           required
                           style='text-transform:uppercase'
                           tabindex="11">
                    <label for="enrollmentFirstName">@L("EnrollmentFirstName")</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentLastName"
                           maxlength="30"
                           ng-class="{'edited':vm.enrollment.lastName != null}"
                           ng-model="vm.enrollment.lastName"
                           required
                           style='text-transform:uppercase'
                           tabindex="12">
                    <label for="enrollmentLastName">@L("EnrollmentLastName")</label>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-2">

                <div class="form-group">
                    <label for="enrollmentGender">@L("EnrollmentGender")</label>
                    <select id="enrollmentGender"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.genders"
                            ng-model="vm.enrollment.genderId"
                            ng-class="{'edited':vm.enrollment.genderId != null}"
                            data-live-search="true"
                            required
                            tabindex="14">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">

                <div class="form-group">
                    <label for="enrollmentOccupation">@L("EnrollmentOccupation")</label>
                    <select id="enrollmentOccupation"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.occupations"
                            ng-model="vm.enrollment.occupationId"
                            ng-class="{'edited':vm.enrollment.occupationId != null}"
                            data-live-search="true" required
                            tabindex="13">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">


                <div class="form-group">
                    <label for="enrollmentReligion">@L("EnrollmentReligion")</label>
                    <select id="enrollmentReligion"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.shortName for item in vm.religions"
                            ng-model="vm.enrollment.religionId"
                            ng-class="{'edited':vm.enrollment.religionId != null}"
                            data-live-search="true"
                            required
                            tabindex="15">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>


        <div class="row">
            <span class="span-title">@L("AddressInformation")</span>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentAddress"
                           maxlength="100"
                           ng-class="{'edited':vm.enrollment.address != null}"
                           ng-model="vm.enrollment.address"
                           required
                           tabindex="16">
                    <label for="enrollmentAddress">@L("EnrollmentAddress")</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="enrollmentProvince">@L("EnrollmentProvince")</label>
                    <select id="enrollmentProvince"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.provinces"
                            ng-model="vm.enrollment.provinceId"
                            ng-class="{'edited':vm.enrollment.provinceId != null}"
                            data-live-search="true"
                            tabindex="17">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="enrollmentCitie">@L("EnrollmentCitie")</label>
                    <select id="enrollmentCitie"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.cities"
                            ng-model="vm.enrollment.cityId"
                            ng-class="{'edited':vm.enrollment.cityId != null}"
                            data-live-search="true"
                            required
                            tabindex="18">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentFullAddress"
                           maxlength="300"
                           ng-class="{'edited':vm.enrollment.fullAddress != null}"
                           ng-model="vm.enrollment.fullAddress"
                           disabled>
                    <label for="enrollmentFullAddress">@L("EnrollmentFullAddress")</label>
                </div>
            </div>
        </div>






        <div class="row">
            <span class="span-title col-md-12">@L("ContactInformation") </span>
        </div>
        <div class="row">

            <div class="col-md-2">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           ng-pattern="/^[0-9\s-]{0,20}$/"
                           onkeypress="return JustNumberSpaceAndHyphen(event)"
                           class="form-control"
                           id="enrollmentPhone1"
                           maxlength="20"
                           ng-class="{'edited':vm.enrollment.phone1 != null}"
                           ng-model="vm.enrollment.phone1"
                           tabindex="19">
                    <label for="enrollmentPhone1">@L("EnrollmentPhone1")</label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           ng-pattern="/^[0-9\s-]{0,20}$/"
                           onkeypress="return JustNumberSpaceAndHyphen(event)"
                           class="form-control"
                           id="enrollmentPhone2"
                           maxlength="20"
                           ng-class="{'edited':vm.enrollment.phone2 != null}"
                           ng-model="vm.enrollment.phone2"
                           tabindex="20">
                    <label for="enrollmentPhone2">@L("EnrollmentPhone2")</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix"
                     ng-class="{'has-error':!frmEditEnrollment.enrollmentEmailAddress.$valid}">
                    <input type="email" title="@L("TypeEmail")" data-content="@L("TypeEmailToCreateEnrollmentUser")"
                           class="form-control"
                           id="enrollmentEmailAddress"
                           name="enrollmentEmailAddress"
                           maxlength="255"
                           ng-class="{'edited':vm.enrollment.emailAddress != null}"
                           ng-model="vm.enrollment.emailAddress"
                           tabindex="21">
                    <label for="enrollmentEmailAddress">@L("EnrollmentEmailAddress")</label>
                </div>
            </div>

            <div class="col-md-4">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentOtherDocument"
                           maxlength="20"
                           ng-class="{'edited':vm.enrollment.otherDocument != null}"
                           ng-model="vm.enrollment.otherDocument"
                           tabindex="22">
                    <label for="enrollmentOtherDocument">@L("EnrollmentOtherDocument")</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentComment"
                           maxlength="250"
                           ng-class="{'edited':vm.enrollment.comment != null}"
                           ng-model="vm.enrollment.comment"
                           tabindex="23">
                    <label for="enrollmentComment">@L("EnrollmentComment")</label>
                </div>
            </div>
            @*<div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <div class="md-checkbox">
                        <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.enrollment.isActive"
                               tabindex="24">
                        <label for="IsActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>@L("IsActive")
                        </label>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_enrollment.$invalid">
            @L("Save")
        </button>
    </div>
</form>
