<link href="~/App/Main/views/enrollments/enrollmentStyles.css" rel="stylesheet" />
<form id="paymentProyectionForm" name="paymentProyectionForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("PaymentProjection") - @L("Tutor") - {{vm.enrollment.firstName}} {{vm.enrollment.lastName}}</span>
        </h4>
    </div>
    <div class="modal-body">
        @*<uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("EnrollmentInformation")">*@
        <div class="row">
            <span class="span-title">@L("PersonalInformation") </span>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix" style="text-align:right;">
                    <label for="enrollmentFirstName">@L("CurrentNumberOfPayment")</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="paymentQuantity"
                           maxlength="30"
                           ng-model="vm.enrollment.numberOfPayment"
                           disabled
                           readonly
                           tabindex="12">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <button type="button" class="btn btn-fit-height grey-salt" data-close-others="true" style="width: 220px;" ng-click="vm.configuratePayments(vm.enrollment)">
                        @L("ConfiguratePayments")
                        <i class="fa md-fab-top-left"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="row">
            &nbsp;
        </div>  

        <div id="GridMain" ui-grid="gridOptions" style="max-height:350px;"></div>
        <div class="row">
            <div class="col-md-7">
                &nbsp;
            </div>
            <div class="col-md-2">
                <span>@L("Inscription")</span>
            </div>
            <div class="col-md-2">
                <input type="text" value="{{vm.totalInscriptions | number:2}}" disabled readonly style="text-align:right; font-weight:bold" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                &nbsp;
            </div>
            <div class="col-md-2">
                <span>@L("Payments")</span>
            </div>
            <div class="col-md-2">
                <input type="text" value="{{vm.totalPayments | number:2}}" disabled readonly  style="text-align:right; font-weight:bold" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                &nbsp;
            </div>
            <div class="col-md-2">
                <span>@L("TotalAmount")</span>
            </div>
            <div class="col-md-2">
                <input type="text" value="{{vm.totalAmount | number:2}}" disabled readonly  style="text-align:right; font-weight:bold" />
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button"
                class="btn btn-default waves-effect"
                ng-click="vm.cancel()"
                tabindex="31">
            @L("Cancel")
        </button>
        <button type="submit"
                class="btn btn-primary waves-effect"
                ng-click="vm.save()"
                ng-disabled="paymentProyectionForm.$invalid"
                ng-if="vm.paymentProjectionAlreadyCreated == true"
                tabindex="30">
            @L("Update")
        </button>
        <button type="submit"
                class="btn btn-warning waves-effect"
                ng-click="vm.save()"
                ng-disabled="paymentProyectionForm.$invalid"
                ng-if="vm.paymentProjectionAlreadyCreated == false"
                tabindex="30">
            @L("Create")
        </button>
    </div>
</form>
