
<link href="~/App/Main/views/transactions/transactionStyles.css" rel="stylesheet" />
<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.transactions.viewPaymentProjections as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li ng-repeat="bitem in breadcrumb">
                <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                <i class="fa fa-angle-right" ng-if="breadcrumb.length != bitem.index"></i>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-1" style="margin-top:10px;">

            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                <input type="number"
                       class="form-control"
                       id="transactionEnrollment"
                       maxlength="9"
                       required
                       ng-model="vm.sequence"
                       ng-focus="vm.sequenceIsFocused = true;"
                       ng-blur="vm.sequenceIsFocused = false; vm.searchTransactions()"
                       onkeypress="return enterToTab(event,this);">
                <label for="transactionEnrollment">@L("TransactionEnrollment")</label>
            </div>
        </div>

        @*<div class="col-md-1">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix" style="vertical-align:bottom; bottom:1px;">
                <input class="btn btn-primary" type="button" value="@L("Search")" ng-click="vm.searchTransactions()"
                       style="padding: 11px 2px; width:99%"/>
            </div>
        </div>*@
        <div class="col-md-3" style="margin-top:10px;">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                <angucomplete-alt id="enrollmentsAngu"
                                  placeholder="@L("SearchEnrollments")"
                                  pause="400"
                                  selected-object="returnedValue"
                                  remote-api-handler="getEnrollmentsByName"
                                  remote-url-data-field="items"
                                  title-field="firstName,lastName"
                                  description-field=""
                                  input-class="form-control form-control-small" />

                @*<input type="text"
                       class="form-control"
                       id="transactionName"
                       maxlength="100"
                       ng-model="vm.enrollmentFullName"
                       readonly disabled>*@
                <label for="transactionName">@L("TransactionName")</label>
            </div>
        </div>

        <div class="col-md-2" style="margin-top:10px;">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                <input type="text"
                       class="form-control"
                       id="transactionPhone1"
                       maxlength="100"
                       ng-model="vm.phone1"
                       readonly disabled>
                <label for="transactionPhone1">@L("Phone1")</label>
            </div>
        </div>

        <div class="col-md-2" style="margin-top:10px;">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                <input type="text"
                       class="form-control"
                       id="transactionPhone2"
                       maxlength="100"
                       ng-model="vm.phone2"
                       readonly disabled>
                <label for="transactionPhone2">@L("Phone2")</label>
            </div>
        </div>

        <div class="col-md-3" style="margin-top:10px;">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                <input type="text"
                       class="form-control"
                       id="transactionEmailAddress"
                       maxlength="100"
                       ng-model="vm.emailAddress"
                       readonly disabled>
                <label for="transactionEmailAddress">@L("EmailAddress")</label>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group form-md-line-input form-md-floating-label row clearfix" style="vertical-align:bottom; bottom:1px;">
                <input class="btn btn-primary" type="button" value="@L("Print")" ng-click="vm.searchViewPaymentProjections()" ng-disabled="!vm.sequence"
                       style="padding: 11px 2px; width:99%" />
            </div>
        </div>
    </div>
    <div class="row clearfix">



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa {{$state.$current.data.iconClass}}" ng-class="{'fa-comments': !$state.$current.data.iconClass}"></i>
                            @L("MoveEnrollmentList")
                        </div>
                        <div class="tools" style="width: 233px;">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right;
                                margin: -8px;
                                width: 217px;
                            ">
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div id="GridMain" ui-grid="gridOptions"></div>

                        <div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-6">
                                <div class="margin-left-standar">
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="First" ng-click="pagination.first()"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="Prev" ng-click="pagination.prior()"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active bordered padding-none">
                                            <a class="padding-none" style="padding:0px!important">
                                                <input ng-model="pagination.currentPage" id="txtCurrentPage" type="number" min="1" max="{{pagination.totalPages}}" style="color:black;"
                                                       ng-keyup="enterToGoToPage($event)" class="current-page" /> @*{{pagination.currentPage}}*@
                                                </a>
                                            </li>
                                            <li class="bordered page-count"> @L("Of") {{pagination.totalPages}} @L("Pages") </li>
                                            <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a></li>
                                            <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Last" ng-click="pagination.last()"><i class="fa fa-angle-double-right"></i></a></li>
                                            <li class="navigation-separator"> - </li>
                                            <li class="bordered page-count"> {{pagination.totalRecords}} @L("Records") </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2" style="margin-top:10px;">
                                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                    <input type="text"
                                           class="form-control font-uigrid-right"
                                           id="totalDebito"
                                           maxlength="100"
                                           value="{{vm.totalDebit | number: 2}}"
                                           readonly disabled style="font-weight:bold">
                                    <label for="totalDebito">@L("Debit")</label>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top:10px;">
                                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                    <input type="text"
                                           class="form-control font-uigrid-right"
                                           id="totalCredito"
                                           maxlength="100"
                                           value="{{vm.totalCredit | number: 2}}"
                                           readonly disabled style="font-weight:bold">
                                    <label for="totalDebito">@L("Credit")</label>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top:10px;">
                                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                    <input type="text"
                                           class="form-control font-uigrid-right"
                                           id="totalBalance"
                                           maxlength="100"
                                           ng-class="vm.totalBalance < 0 ?'red-font':'green-font'"
                                           value="{{vm.absTotalBalance | number:2}}"
                                           readonly disabled style="font-weight:bold">
                                    <label for="totalBalance">@L("Balance")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
