<form id="frm_create_periodDiscountDetail" name="periodDiscountDetailCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPeriodDiscountDetail")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="periodDiscountDetailPeriodDiscountId" 
								type="number" name="PeriodDiscountId" 
								ng-model="vm.periodDiscountDetail.periodDiscountId" 
								required  
								ng-class="{'edited':vm.periodDiscountDetail.periodDiscountId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="periodDiscountDetailPeriodDiscountId" class="form-label">@L("PeriodDiscountDetailPeriodDiscountId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="periodDiscountDetailDiscountPercent" 
								type="number" name="DiscountPercent" 
								ng-model="vm.periodDiscountDetail.discountPercent" 
								required  
								ng-class="{'edited':vm.periodDiscountDetail.discountPercent != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="periodDiscountDetailDiscountPercent" class="form-label">@L("PeriodDiscountDetailDiscountPercent")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.periodDiscountDetail.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="periodDiscountDetailCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
