﻿<form id="frm_edit_course" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditCourse")</span>
        </h4>
    </div>
    <div class="modal-body">


        <div class="row">

            <div class="col-md-8">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="form_control_12"
                           maxlength="30"
                           ng-class="{'edited':vm.course.name != null}"
                           ng-model="vm.course.name"
                           required>
                    <label for="form_control_12">@L("Name")</label>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="form_control_12"
                           maxlength="5"
                           ng-class="{'edited':vm.course.abbreviation != null}"
                           ng-model="vm.course.abbreviation"
                           required>
                    <label for="form_control_12">@L("Abbreviation")</label>
                </div>
            </div>
        </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="level" class="form-label">@L("Level")</label>
                                <select id="level" name="Level"
                                        ng-class="{'edited':vm.course.levelId != null}"
                                        ng-model="vm.course.levelId" required
                                        class="select2me validate form-control">
                                         <option ng-repeat="lv in vm.levels" value="{{lv.id}}" ng-selected="lv.id == vm.course.levelId">
                                        {{lv.name}}
                                         </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="md-checkbox">
                    <input type="checkbox" id="checkbox16" class="md-check" ng-model="vm.course.isActive">
                    <label for="checkbox16">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> @L("IsActive")
                    </label>
                </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_course.$invalid">
            @L("Save")
        </button>
    </div>
</form>