<style>
    .no-border {
        border-bottom: 0px none white !important;
        line-height: 30px;
    }

    .permission-border {
        border-bottom: 1px solid #edeef2;
        line-height: 30px;
    }

    .plus-minus {
        float: left;
        width: 11px;
        height: 12px;
    }


    .md-checkbox label > span {
        padding-top: 18px !important;
        margin-top: 5px !important;
    }

    .spancion1 {
        width: 40px;
    }

    .permission-container {
    }


    .md-checkbox label > .box {
        left: 19px;
    }

    .md-checkbox label > .check {
        left: 25px;
    }


    .md-checkbox label > .box2 {
        left: 69px;
    }

    .md-checkbox label > .check2 {
        left: 75px;
    }
</style>



<form id="frm_create_role" name="roleCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewRole")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="role Details">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="roleName"
                           maxlength="30"
                           ng-class="{'edited':vm.role.name != null}"
                           ng-model="vm.role.name"
                           required>
                    <label for="roleServiceName">@L("Name")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="roleDisplayName"
                           maxlength="30"
                           ng-class="{'edited':vm.role.displayName != null}"
                           ng-model="vm.role.displayName"
                           required>
                    <label for="roleServiceDisplayName">@L("DisplayName")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="roleDescription"
                           maxlength="150"
                           ng-class="{'edited':vm.role.description != null}"
                           ng-model="vm.role.description"
                           required>
                    <label for="roleServiceDescription">@L("Description")</label>
                </div>
                <div class="row clearfix">
                    @*<div class="col-sm-12">
                        <h4>Permissions</h4>
                        <div class="col-sm-12 permission-border" 
                             ng-class="{'no-border'} : vm.getParentName(permission.name) == vm.permissions[$index - 1].name"
                             ng-repeat="permission in vm.permissions track by $index">
                            <input type="checkbox" name="permission" value="{{permission.name}}" class="filled-in" id="permission-{{$index}}" ng-model="permission.isAssigned" />
                            <label for="permission-{{$index}}">{{permission.displayName}}</label>
                        </div>
                    </div>*@
                      <div class="col-sm-10">
                        <h4>@("Permissions")</h4>
                        <div class="col-sm-12 permission-border md-checkbox row"
                             @*ng-class="{'no-border'} : vm.getParentName(permission.name) == vm.permissions[$index - 1].name"*@
                             ng-repeat="permission in vm.rootPermissions track by $index">
                            <div class="spancion1 col-md-1">
                              
                                <img class="plus-minus" src="~/Content/assets/global/plugins/mapplic/mapplic/images/minus.png" 
                                     ng-show="permission.hasChildren == true && permission.visible" 
                                     ng-click="permission.visible = !permission.visible" />
                               
                                <img class="plus-minus" src="~/Content/assets/global/plugins/mapplic/mapplic/images/plus.png" 
                                     ng-hide="permission.hasChildren == false || permission.visible" 
                                     ng-click="permission.visible = !permission.visible" />

                            </div>
                            <div class="permission-container col-md-10">

                                <input type="checkbox" name="permission" value="{{permission.name}}" class="filled-in"
                                       style="padding-top:2px;" id="permission-{{$index}}" ng-model="permission.isAssigned" />
                                <label for="permission-{{$index}}" style="color:black; font-weight:bold;">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>{{permission.displayName}}
                                </label>
                                
                                <div class="col-sm-12 permission-border" style="padding-left:70px;"
                                     @*ng-class="{'no-border'} : vm.getParentName(childPermission.name) == vm.permissions[$index - 1].name"*@
                                     ng-repeat="childPermission in permission.children track by $index"
                                     ng-show="permission.visible">
                                    <input type="checkbox" name="childPermission-{{$index}}{{childPermission.index}}" 
                                           value="{{childPermission.name}}" class="filled-in" 
                                           id="childPermission-{{$index}}{{childPermission.index}}" 
                                           ng-model="childPermission.isAssigned" />
                                    <label for="childPermission-{{$index}}{{childPermission.index}}">
                                        <span></span>
                                        <span class="check check2"></span>
                                        <span class="box box2"></span>{{childPermission.displayName}}
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="roleCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
