<form id="frm_create_printerType" name="printerTypeCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPrinterType")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab >
                
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="printerTypeName"
                           maxlength="25" 

						   ng-class="{'edited':vm.printerType.name != null}"
                           ng-model="vm.printerType.name"
                           required>
                    <label for="printerTypeName">@L("PrinterTypeName")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label for="reportToBeUsed">@L("ReportToBeUsed")</label>
                    <select id="reportToBeUsed"
                            chosen
                            placeholder="'@L("ReportToBeUsed")'"
                            ng-model="vm.printerType.reportId"
                            ng-options="s.id as s.reportName + ' - ' + s.reportPath  for s in vm.reports"
                            options="vm.reports">
                        <option value=""></option>
                    </select>
                </div>

                
                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.printerType.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="printerTypeCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
