<form id="frm_create_inventoryShop" name="inventoryShopCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewInventoryShop")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                								
				<div class="form-group">
                    <label for="inventoryShopArticleShop">@L("InventoryShopArticleShop")</label>
                    <select id="inventoryShopArticleShop"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.articleShops"
                            ng-model="vm.inventoryShop.articleShopId"
                            ng-class="{'edited':vm.inventoryShop.articleShopId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryShopExistence" 
								type="number" name="Existence" 
								ng-model="vm.inventoryShop.existence" 
								required  
								ng-class="{'edited':vm.inventoryShop.existence != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryShopExistence" class="form-label">@L("InventoryShopExistence")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryShopPrice" 
								type="number" name="Price" 
								ng-model="vm.inventoryShop.price" 
								required  
								ng-class="{'edited':vm.inventoryShop.price != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryShopPrice" class="form-label">@L("InventoryShopPrice")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.inventoryShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="inventoryShopCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
