<form id="frm_edit_inventoryShop" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditInventoryShop")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                								
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="inventoryShopArticle"
                           maxlength="150"
                           ng-class="{'edited':vm.inventoryShop.articleShops_Description != null}"
                           ng-model="vm.inventoryShop.articleShops_Description"
                           readonly
                           >
                    <label for="inventoryShopArticle">@L("Article")</label>
                </div>

								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryShopExistence" 
								type="number" name="Existence" 
								ng-model="vm.inventoryShop.existence" 
								readonly  
								ng-class="{'edited':vm.inventoryShop.existence != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryShopExistence" class="form-label">@L("Existence")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryShopPrice" 
								type="number" name="Price" 
								ng-model="vm.inventoryShop.price" 
								required  
								ng-class="{'edited':vm.inventoryShop.price != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryShopPrice" class="form-label">@L("Price")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.inventoryShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_inventoryShop.$invalid">
            @L("Save")
        </button>
    </div>
</form>
