<form id="frm_edit_subjectSession" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditSubjectSession")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>

                <div class="form-group">
                    <label for="subjectSessionPeriod">@L("Periods")</label>
                    <select id="subjectSessionPeriod"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods"
                            ng-model="vm.subjectSession.periodId"
                            ng-class="{'edited':vm.subjectSession.periodId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="subjectSessionCourseSession">@L("Courses")</label>
                    <select id="subjectSessionCourseSession"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.coursesNameName for item in vm.courseSessions"
                            ng-model="vm.subjectSession.courseSessionId"
                            ng-class="{'edited':vm.subjectSession.courseSessionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="subjectSessionSubject">@L("Subjects")</label>
                    <select id="subjectSessionSubject"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.subjects"
                            ng-model="vm.subjectSession.subjectId"
                            ng-class="{'edited':vm.subjectSession.subjectId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="subjectSessionTeacherTenant">@L("Teachers")</label>
                    <select id="subjectSessionTeacherTenant"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.teachers_Name for item in vm.teacherTenants"
                            ng-model="vm.subjectSession.teacherTenantId"
                            ng-class="{'edited':vm.subjectSession.teacherTenantId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.subjectSession.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_subjectSession.$invalid">
            @L("Save")
        </button>
    </div>
</form>
