<link href="~/App/Main/views/tenants/studentStyles.css" rel="stylesheet" />
<form id="frm_edit_tenant" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTenant")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("TenantsDetails")">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantName"
                                   maxlength="150"
                                   ng-class="{'edited':vm.tenant.name != null}"
                                   ng-model="vm.tenant.name"
                                   required>
                            <label for="tenantServiceName">@L("Name")</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantEmail"
                                   maxlength="32"
                                   ng-class="{'edited':vm.tenant.email != null}"
                                   ng-model="vm.tenant.email">
                            <label for="tenantEmail">@L("Email")</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantAbbreviation"
                                   maxlength="32"
                                   ng-class="{'edited':vm.tenant.abbreviation != null}"
                                   ng-model="vm.tenant.abbreviation">
                            <label for="tenantAbbreviation">@L("Abbreviation")</label>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantPeriodId">@L("PeriodId")</label>
                            <select id="tenantPeriodId"
                                    name="tenantPeriodId"
                                    class="form-control select2me"
                                    aria-required="true"
                                    ng-model="vm.tenant.periodId"
                                    ng-class="{'edited':vm.tenant.periodId != null}"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantPreviousPeriodId">@L("PreviousPeriod")</label>
                            <select id="tenantPreviousPeriodId"
                                    name="tenantPreviousPeriodId"
                                    class="form-control select2me"
                                    aria-required="true"
                                    ng-model="vm.tenant.previousPeriodId"
                                    ng-class="{'edited':vm.tenant.previousPeriodId != null}"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantNextPeriodId">@L("NextPeriod")</label>
                            <select id="tenantNextPeriodId"
                                    name="tenantNextPeriodId"
                                    class="form-control select2me"
                                    aria-required="true"
                                    ng-model="vm.tenant.nextPeriodId"
                                    ng-class="{'edited':vm.tenant.nextPeriodId != null}"
                                    ng-options="$helpers.getEditionId(item) as item.description for item in vm.periods">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>




                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="PrinterTypes">@L("PrinterType")</label>
                            <select id="PrinterTypes"
                                    name="PrinterTypes"
                                    class="form-control select2me"
                                    aria-required="true"
                                    ng-model="vm.tenant.printerTypeId"
                                    ng-class="{'edited':vm.tenant.printerTypeId != null}"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.printerTypes">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-7">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="ConceptTenantRegistrations">@L("ConceptTenantRegistration")</label>
                            <select id="ConceptTenantRegistrations" multiple chosen
                                    placeholder-text-multiple="@L("SelectConceptRegistration")"
                                    ng-model="vm.tenant.conceptTenantRegistrations"
                                    ng-options="s.shortDescription for s in vm.concepts track by s.id"
                                    options="vm.concepts">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group form-md-line-input ">
                            <label for="tenantCreditCardPercent">@L("CreditCardPercent")</label>
                            <input type="number"
                                   class="form-control"
                                   id="tenantcreditCardPercent"
                                   ng-class="{'edited':vm.tenant.creditCardPercent != null}"
                                   ng-model="vm.tenant.creditCardPercent">

                        </div>
                    </div>


                </div>
                <div class="md-checkbox">
                    <input type="checkbox" id="applyAutomaticCharges" class="md-check" ng-model="vm.tenant.applyAutomaticCharges">
                    <label for="applyAutomaticCharges">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("ApplyAutomaticCharges")
                    </label>
                </div>

                @*<div class="md-checkbox">
                <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.tenant.isActive">
                <label for="IsActive">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>@L("IsActive")
                </label>
            </div>*@
            </uib-tab>
            <uib-tab heading="@L("TenantsDetails2")">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantProvince">@L("tenanProvince")</label>
                            <select id="tenantProvince"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.provinces"
                                    ng-model="vm.tenant.provinceId"
                                    ng-class="{'edited':vm.tenant.provinceId != null}"
                                    data-live-search="true"
                                    tabindex="17">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantDistrict">@L("tenantDistrict")</label>
                            <select id="tenantDistrict"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.districts"
                                    ng-model="vm.tenant.districtId"
                                    ng-class="{'edited':vm.tenant.districtId != null}"
                                    data-live-search="true"
                                    tabindex="17">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="tenantCityId">@L("CityId")</label>
                            <select id="tenantCityId"
                                    name="tenantCityId"
                                    class="form-control select2me"
                                    aria-required="true"
                                    ng-model="vm.tenant.cityId"
                                    ng-class="{'edited':vm.tenant.cityId != null}"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.cities">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantPhone1"
                                   maxlength="32"
                                   ng-class="{'edited':vm.tenant.phone1 != null}"
                                   ng-model="vm.tenant.phone1">
                            <label for="tenantPhone1">@L("Phone1")</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantPhone2"
                                   maxlength="32"
                                   ng-class="{'edited':vm.tenant.phone2 != null}"
                                   ng-model="vm.tenant.phone2">
                            <label for="tenantPhone2">@L("Phone2")</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantPhone3"
                                   maxlength="32"
                                   ng-class="{'edited':vm.tenant.phone3 != null}"
                                   ng-model="vm.tenant.phone3">
                            <label for="tenantPhone3">@L("Phone3")</label>
                        </div>

                    </div>
                </div>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tenantAddress"
                           maxlength="100"
                           ng-class="{'edited':vm.tenant.address != null}"
                           ng-model="vm.tenant.address">
                    <label for="tenantAddress">@L("Address")</label>
                </div>

            </uib-tab>
            <uib-tab heading="@L("TenantsDetails3")">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantDirectorName"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.directorName != null}"
                                   ng-model="vm.tenant.directorName">
                            <label for="tenantDirectorName">@L("DirectorName")</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantRegisterName"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.registerName != null}"
                                   ng-model="vm.tenant.registerName">
                            <label for="tenantRegisterName">@L("RegisterName")</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantAccreditationNumber"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.accreditationNumber != null}"
                                   ng-model="vm.tenant.accreditationNumber">
                            <label for="tenantAccreditationNumber">@L("AccreditationNumber")</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantEducationalDistrict"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.educationalDistrict != null}"
                                   ng-model="vm.tenant.educationalDistrict">
                            <label for="tenantEducationalDistrict">@L("EducationalDistrict")</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantRegional"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.regional != null}"
                                   ng-model="vm.tenant.regional">
                            <label for="tenantRegional">@L("Regional")</label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantRegionalDirector"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.regionalDirector != null}"
                                   ng-model="vm.tenant.regionalDirector">
                            <label for="tenantRegionalDirector">@L("RegionalDirector")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantDistritctDirector"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.distritctDirector != null}"
                                   ng-model="vm.tenant.distritctDirector">
                            <label for="tenantDistritctDirector">@L("DistritctDirector")</label>
                        </div>
                    </div>

                </div>
            </uib-tab>
            <uib-tab heading="@L("TenantsDetails35")">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantComment"
                                   maxlength="75"
                                   ng-class="{'edited':vm.tenant.comment != null}"
                                   ng-model="vm.tenant.comment">
                            <label for="tenantComment">@L("Comment")</label>
                        </div>
                    </div>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.tenant.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>

            </uib-tab>
            <uib-tab heading="@L("TenantsDetails4")">

                <div class="row" style="background-color:khaki">
                    <div class="col-md-12"><p style="margin-top: -15px; font-size:x-large; letter-spacing:3px; text-align:center">CONFIGURACION ACTUAL PERIODO ESCOLAR</p></div>
                </div>

                <div class="row" style="background-color:khaki">

                    <div class="col-md-5">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantName"
                                   maxlength="150"
                                   readonly
                                   ng-class="{'edited':vm.tenant.name != null}"
                                   ng-model="vm.tenant.name"
                                   required>
                            <label for="tenantServiceName">@L("Name")</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="tenantCierrePreviousPeriod"
                                   maxlength="7"
                                   readonly
                                   required
                                   ng-class="{'edited':vm.tenant.periods_Description != null}"
                                   ng-model="vm.tenant.periods_Description">

                            <label for="tenantCierrePreviousPeriod">@L("PeriodId")</label>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group form-md-line-input">
                            <input type="text"
                                   class="form-control"
                                   id="tenantCierrePeriod"
                                   maxlength="7"
                                   readonly
                                   ng-class="{'edited':vm.tenant.nextPeriods_Description != null}"
                                   ng-model="vm.tenant.nextPeriods_Description">
                            <label for="tenantCierrePeriod">@L("NextPeriod")</label>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <hr style="height:3px;background-color:darkcyan" />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-top: -15px; font-size:x-large; letter-spacing:3px; text-align:center; color:white;background-color:crimson">CONFIGURACION PROXIMO PERIODO ESCOLAR</p>
                    </div>
                </div>

                <div class="row" style="background-color:khaki">

                    <div class="col-md-2">
                        <div class="form-group form-md-line-input">
                            <input type="text"
                                   class="form-control"
                                   id="tenantCierrePreviousPeriod"
                                   maxlength="7"
                                   readonly
                                   ng-class="{'edited':vm.tenant.periods_Description != null}"
                                   ng-model="vm.tenant.periods_Description">
                            <label for="tenantCierrePreviousPeriod">@L("PreviousPeriod")</label>
                        </div>
                    </div>


                    <div class="col-md-2 col-md-offset-8">
                        <div class="form-group form-md-line-input">
                            <input type="text"
                                   class="form-control"
                                   id="tenantCierrePeriod"
                                   maxlength="7"
                                   readonly
                                   ng-class="{'edited':vm.tenant.nextPeriods_Description != null}"
                                   ng-model="vm.tenant.nextPeriods_Description">
                            <label for="tenantCierrePeriod">@L("NewPeriod")</label>
                        </div>
                    </div>

                </div>

                <div class="row" style="background-color:khaki">

                    <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cierreEscolar()" style="color:white; background-color:darkgoldenrod; align-items:center">
                            @L("Close")
                        </button>
                    </div>
                </div>

            </uib-tab>

            <uib-tab heading="@L("Teachers")">

                <div class="row" style="margin-top: -15px;">

                    <div class="col-md-12">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="teacherTenantsId">@L("Teachers")</label>
                            <select id="teacherTenantsId" multiple chosen
                                    placeholder-text-multiple="@L("SelectTheTeachers")"
                                    ng-model="vm.tenant.teacherTenants"
                                    ng-options="s.name for s in vm.teachers track by s.id"
                                    options="vm.teachers">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

            </uib-tab>


            <uib-tab heading="@L("FreeDateReceipt")">

                <div class="row" style="margin-top: -15px;">

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">
                            <label for="freeDateReceipt">@L("FreeDateReceipt")</label>
                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="transactionDate" class="form-control" ng-model="vm.tenant.freeDateReceipt" />
                            </datepicker>
                        </div>
                    </div>

                </div>

            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()" style="color:white; background-color:darkgoldenrod; align-items:center">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_tenant.$invalid">
            @L("Save")
        </button>
    </div>
</form>
<style>
    .modal-lg {
        width:90% !important;
    }
</style>
