<link href="~/App/Main/views/purchaseShops/purchaseShopsStyles.css" rel="stylesheet" />

<form id="frm_create_purchaseShop" name="purchaseShopCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPurchaseShop")</span>
        </h4>
    </div>
    <div class="modal-body">
                <div class="row">

                    <div class="col-md-3" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="purchaseShopDocument"
                                   maxlength="25"
                                   ng-class="{'edited':vm.purchaseShop.document != null}"
                                   ng-model="vm.purchaseShop.document"
                                   required>
                            <label for="purchaseShopDocument">@L("Document")</label>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top:10px;">
                        <div class="form-group">
                            <label for="purchaseShopProviderShop">@L("Provider")</label>
                            <select id="purchaseShopProviderShop"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.providerShops"
                                    ng-model="vm.purchaseShop.providerShopId"
                                    ng-class="{'edited':vm.purchaseShop.providerShopId != null}"
                                    required
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="purchaseShopAmount"
                                   maxlength="100"
                                   ng-class="{'edited':vm.purchaseShop.amount != null}"
                                   ng-model="vm.purchaseShop.amount"
                                   disabled readonly
                                   ng-blur="vm.amountIsFocused = false"
                                   ng-focus="vm.amountIsFocused = true"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="purchaseName">@L("Amount")</label>
                        </div>
                    </div>

                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="purchaseShopComnent1"
                               maxlength="250"
                               ng-class="{'edited':vm.purchaseShop.comnent1 != null}"
                               ng-model="vm.purchaseShop.comnent1"
                               required>
                        <label for="purchaseShopComnent1">@L("Description")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="purchaseShopComment2"
                               maxlength="250"
                               ng-class="{'edited':vm.purchaseShop.comment2 != null}"
                               ng-model="vm.purchaseShop.comment2"
                               >
                        <label for="purchaseShopComment2">@L("Comment")</label>
                    </div>

                    <div class="row adding-product">

                        <div class="col-md-1" style="margin-top:10px;">

                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="number"
                                       class="form-control"
                                       id="purchaseArticleShopId"
                                       maxlength="9"
                                       ng-class="{'edited':vm.articleShop.sequence != null}"
                                       ng-model="vm.articleShop.sequence"
                                       ng-focus="vm.articleShopIdIsFocused = true"
                                       ng-blur="vm.articleShopIdIsFocused = false"
                                       onkeypress="return enterToTab(event,this);">

                                <label for="articleArticleId">@L("Id")</label>
                            </div>
                        </div>

                        <div class="col-md-5" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <angucomplete-alt id="ArticleShopAngu"
                                                  placeholder="@L("SearchArcticleShop")"
                                                  pause="400"
                                                  selected-object="returnedArticleShop"
                                                  remote-api-handler="getArticleShopsByName"
                                                  remote-url-data-field="items"
                                                  title-field="description, price"
                                                  description-field="reference"
                                                  min-length="0"
                                                  input-class="form-control form-control-small"
                                                  onkeypress="return enterToTab(event,this);" />

                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="text"
                                       class="form-control"
                                       id="articleShopQuantity"
                                       maxlength="100"
                                       ng-class="{'edited':vm.articleShop.quantity != null}"
                                       ng-model="vm.articleShop.quantity"
                                       onkeypress="return enterToTab(event,this);">
                                <label for="articleShopQuantity">@L("Qty")</label>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top:10px;">
                            <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                                <input type="text"
                                       class="form-control"
                                       id="articleShopPrice"
                                       maxlength="100"
                                       ng-class="{'edited':vm.articleShop.price != null}"
                                       ng-model="vm.articleShop.price"
                                       onkeypress="return enterToTab(event,this);">
                                <label for="articleShopPrice">@L("Price")</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="button" ng-disabled="vm.articleShop.id == null || vm.articleShop.price == null || vm.articleShop.price == null || vm.articleShop.description == null" class="btn btn-default button-margin" value="@L("Add")" ng-click="vm.appendArticleShop();" />
                        </div>


                    </div>
                    <br />
                    @*<div id="gridArticleShop" ui-grid="gridArticleShopOptions" style="height: 50px; margin-bottom:5px;"></div>*@
                    <div class="">
                        <table id="tbArticleShop" style="width:100%;">
                            <thead class="cabezaArticulos">
                                <tr style="height:35px;width: 100%;">
                                    <th style="width:50px; text-align:right">@L("Id")</th>
                                    <th style="width:480px;">@L("Article")</th>
                                    <th style="width:60px; text-align:right">@L("Qty")</th>
                                    <th style="width:70px; text-align:right">@L("Price")</th>
                                    <th style="width:100px; text-align:right">@L("Total")</th>
                                    <th style="width:120px; text-align:center">@L("Actions")</th>
                                </tr>
                            </thead>
                            <tbody class="contenedorArticulos">

                                <tr ng-repeat="art in vm.purchaseShop.articleShops" ng-class="{'odd': (($index % 2) == 0)}">
                                    <td style="width:50px; text-align:right;"> {{art.sequence}}</td>
                                    <td style="width:480px; padding-right:3px;"> {{art.description}}</td>
                                    <td style="width:60px; text-align:right"> {{art.quantity}}</td>
                                    <td style="width:70px; text-align:right"> {{art.price|number :2}}</td>
                                    <td style="width:100px; text-align:right"> {{art.total |number :2}}</td>
                                    <td style="width:100px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeArticleShop(art)"><i class="fa fa-times-circle"></i> </span> </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>


                    @*<div class="md-checkbox">
                        <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.purchaseShop.isActive">
                        <label for="IsActive">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>@L("IsActive")
                        </label>
                    </div>*@


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="purchaseShopCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
