<form id="frm_edit_purchaseShop" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditPurchaseShop")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseShopDocument"
                           maxlength="25" 

						   ng-class="{'edited':vm.purchaseShop.document != null}"
                           ng-model="vm.purchaseShop.document"
                           required>
                    <label for="purchaseShopDocument">@L("Document")</label>
                </div>
								
				<div class="form-group">
                    <label for="purchaseShopProviderShop">@L("Provider")</label>
                    <select id="purchaseShopProviderShop"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.providerShops"
                            ng-model="vm.purchaseShop.providerShopId"
                            ng-class="{'edited':vm.purchaseShop.providerShopId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
							
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseShopComnent1"
                           maxlength="250" 

						   ng-class="{'edited':vm.purchaseShop.comnent1 != null}"
                           ng-model="vm.purchaseShop.comnent1"
                           required>
                    <label for="purchaseShopComnent1">@L("Description")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="purchaseShopComment2"
                           maxlength="250" 

						   ng-class="{'edited':vm.purchaseShop.comment2 != null}"
                           ng-model="vm.purchaseShop.comment2"
                           required>
                    <label for="purchaseShopComment2">@L("Comment")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.purchaseShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_purchaseShop.$invalid">
            @L("Save")
        </button>
    </div>
</form>
