<form id="frm_create_city" name="cityCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewCity")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="cityName"
                           maxlength="30"
                           ng-class="{'edited':vm.city.name != null}"
                           ng-model="vm.city.name"
                           required>
                    <label for="cityServiceName">@L("CityName")</label>
                </div>
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="cityProvince">@L("CityProvince")</label>
                            <select id="cityProvince"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.provinces"
                                    ng-model="vm.city.provinceId"
                                    ng-class="{'edited':vm.city.provinceId != null}"
                                    data-live-search="true">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.city.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="cityCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
