<form id="frm_create_indicator" name="indicatorCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewIndicator")</span>
        </h4>
    </div>
    <div class="modal-body">
 

            <div class="row">

                <div class="col-md-10">

                    <div class="form-group">
                        <label for="indicatorIndicatorGroup">@L("Group")</label>
                        <select id="indicatorIndicatorGroup"
                                class="select2me form-control"
                                ng-options="$helpers.getEditionId(item) as item.name for item in vm.indicatorGroups"
                                ng-model="vm.indicator.indicatorGroupId"
                                ng-class="{'edited':vm.indicator.indicatorGroupId != null}"
                                data-live-search="true">
                            <option value=""></option>
                        </select>
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="number"
                               class="form-control"
                               id="indicatorSequence"
                               maxlength="20"
                               min="1"
                               ng-class="{'edited':vm.indicator.sequence != null}"
                               ng-model="vm.indicator.sequence"
                               required>
                        <label for="indicatorSequence">@L("Sequence")</label>
                    </div>
                </div>

            </div>      			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="indicatorName"
                           maxlength="1000" 

						   ng-class="{'edited':vm.indicator.name != null}"
                           ng-model="vm.indicator.name"
                           required>
                    <label for="indicatorName">@L("Description")</label>
                </div>
								

				
				

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.indicator.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="indicatorCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
