<form id="frm_edit_subjectHigh" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditSubjectHigh")</span>
        </h4>
    </div>
    <div class="modal-body">
                 			
        <div class="row">
            <div class="col-md-5">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="subjectHighName"
                           maxlength="80"
                           ng-class="{'edited':vm.subjectHigh.name != null}"
                           ng-model="vm.subjectHigh.name"
                           required>
                    <label for="subjectHighName">@L("Name")</label>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="subjectHighLongName"
                           maxlength="350"
                           ng-class="{'edited':vm.subjectHigh.longName != null}"
                           ng-model="vm.subjectHigh.longName"
                           required>
                    <label for="subjectHighLongName">@L("LongName")</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="subjectHighCode"
                           maxlength="20"
                           ng-class="{'edited':vm.subjectHigh.code != null}"
                           ng-model="vm.subjectHigh.code"
                           required>
                    <label for="subjectHighCode">@L("Code")</label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label for="subjectHighCourse">@L("Course")</label>
                    <select id="subjectHighCourse"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                            ng-model="vm.subjectHigh.courseId"
                            ng-class="{'edited':vm.subjectHigh.courseId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>			
				

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.subjectHigh.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_subjectHigh.$invalid">
            @L("Save")
        </button>
    </div>
</form>
