<form id="frm_create_reportsFilter" name="reportsFilterCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewReportsFilter")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("General")">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select class="form-control"
                            id="reportsFilterTipo"
                            ng-model="vm.reportsFilter.dataTypeId"
                            aria-required="true"
                            required
                            ng-options="item.id as item.description for item in vm.dataTypes"
                            ng-class="{'edited':vm.reportsFilter.dataTypeId != null}"></select>
                    <label for="reportsFilterTipo">@L("ReportsFilterTipo")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterNombreCampo"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.name != null}"
                           ng-model="vm.reportsFilter.name"
                           required>
                    <label for="reportsFilterNombreCampo">@L("Name")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterNombreVisual"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.displayName != null}"
                           ng-model="vm.reportsFilter.displayName"
                           required>
                    <label for="reportsFilterNombreVisual">@L("DisplayName")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterPlaceholder"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.dataField != null}"
                           ng-model="vm.reportsFilter.dataField"
                           required>
                    <label for="reportsFilterPlaceholder">@L("DataField")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="number"
                           class="form-control"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.order != null}"
                           ng-model="vm.reportsFilter.order"
                           required>
                    <label>@L("Order")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterDefaultValue"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.defaultValue != null}"
                           ng-model="vm.reportsFilter.defaultValue">
                    <label for="reportsFilterDefaultValue">@L("ReportsFilterDefaultValue")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.operator != null}"
                           ng-model="vm.reportsFilter.operator">
                    <label>@L("Operator")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" class="md-check" id="required" ng-model="vm.reportsFilter.required">
                    <label for="required">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("Required")
                    </label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" class="md-check" id="onlyParameter" ng-model="vm.reportsFilter.onlyParameter">
                    <label for="onlyParameter">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("OnlyParameter")
                    </label>
                </div>
                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.reportsFilter.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
            </uib-tab>
            <uib-tab heading="@L("Range")">
                <div class="md-checkbox">
                    <input type="checkbox" class="md-check" id="range" ng-change="vm.reportsFilter.displayNameRange=null" ng-model="vm.reportsFilter.range">
                    <label for="range">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("Range")
                    </label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="reportsFilterNombreVisual"
                               maxlength="150"
                               ng-class="{'edited':vm.reportsFilter.displayNameRange != null}"
                               ng-model="vm.reportsFilter.displayNameRange"
                               ng-disabled="!vm.reportsFilter.range"
                               ng-required="vm.reportsFilter.range">
                        <label for="reportsFilterNombreVisual">@L("DisplayNameRange")</label>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="@L("UrlService")">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.reportsFilter.urlService=null;vm.reportsFilter.displayNameService=null;vm.reportsFilter.fieldService=null;">
                        @L("Clear")
                    </button>
                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <select class="form-control edited"
                                id="reportsFilterTipo"
                                ng-model="vm.reportsFilter.urlService"
                                aria-required="true"
                                ng-options="item for item in vm.services"
                                chosen
                                data-live-search="true"></select>
                        <label for="reportsFilterNombreVisual">@L("Url")</label>
                    </div>

                </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="reportsFilterNombreVisual"
                               maxlength="150"
                               ng-class="{'edited':vm.reportsFilter.displayNameService != null}"
                               ng-model="vm.reportsFilter.displayNameService"
                               ng-required="vm.reportsFilter.urlService">
                        <label for="reportsFilterNombreVisual">@L("DisplayNameService")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="reportsFilterNombreVisual"
                               maxlength="150"
                               ng-class="{'edited':vm.reportsFilter.fieldService != null}"
                               ng-model="vm.reportsFilter.fieldService"
                               ng-required="vm.reportsFilter.urlService">
                        <label for="reportsFilterNombreVisual">@L("FieldService")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                        <input type="text"
                               class="form-control"
                               id="reportsFilterNombreVisual"
                               maxlength="150"
                               ng-class="{'edited':vm.reportsFilter.dependencyField != null}"
                               ng-model="vm.reportsFilter.dependencyField">
                        <label for="reportsFilterNombreVisual">@L("DependencyField")</label>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()">
            @L("Save")
        </button>
    </div>
</form>
