<form id="frm_edit_reportsFilter" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditReportsFilter")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="Nuevo Filtro">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                    <select class="form-control"
                            id="reportsFilterTipo"
                            ng-model="vm.reportsFilter.tipo"
                            aria-required="true"
                            required
                            ng-class="{'edited':vm.reportsFilter.tipo != null}">
                        <option value=""></option>
                        <option value="int">Numerico</option>
                        <option value="varchar">Alfanumérico</option>
                        <option value="datetime">Fecha Desde Hasta</option>
                        <option value="format">Forma de Presentacion</option>
                        <option value="orderby">Orden de Datos</option>
                    </select>

                    <label for="reportsFilterTipo">@L("ReportsFilterTipo")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterNombreCampo"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.nombreCampo != null}"
                           ng-model="vm.reportsFilter.nombreCampo"
                           required>
                    <label for="reportsFilterNombreCampo">@L("ReportsFilterNombreCampo")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterNombreVisual"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.nombreVisual != null}"
                           ng-model="vm.reportsFilter.nombreVisual"
                           required>
                    <label for="reportsFilterNombreVisual">@L("ReportsFilterNombreVisual")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterPlaceholder"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.placeholder != null}"
                           ng-model="vm.reportsFilter.placeholder"
                           required>
                    <label for="reportsFilterPlaceholder">@L("ReportsFilterPlaceholder")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterOrden"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.orden != null}"
                           ng-model="vm.reportsFilter.orden"
                           required>
                    <label for="reportsFilterOrden">@L("ReportsFilterOrden")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.reportsFilter.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>

            </uib-tab>
            <uib-tab heading="Opcionales del Filtro">

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterDefaultValue"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.defaultValue != null}"
                           ng-model="vm.reportsFilter.defaultValue">
                    <label for="reportsFilterDefaultValue">@L("ReportsFilterDefaultValue")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterNombreVariableHasta"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.nombreVariableHasta != null}"
                           ng-model="vm.reportsFilter.nombreVariableHasta">
                    <label for="reportsFilterNombreVariableHasta">@L("ReportsFilterNombreVariableHasta")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterPlaceholderHasta"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.placeholderHasta != null}"
                           ng-model="vm.reportsFilter.placeholderHasta">
                    <label for="reportsFilterPlaceholderHasta">@L("ReportsFilterPlaceholderHasta")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="reportsFilterconsulta"
                           maxlength="50"
                           ng-class="{'edited':vm.reportsFilter.consulta != null}"
                           ng-model="vm.reportsFilter.consulta">
                    <label for="reportsFilterconsulta">@L("ReportsFilterconsulta")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsHidden" class="md-check" ng-model="vm.reportsFilter.isHidden">
                    <label for="IsHidden">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsHidden")
                    </label>
                </div>

            </uib-tab>
            <uib-tab heading="Selecciones del Filtro">
                <div id="grd-reports-queries" ui-grid="gridOptions"></div>
                <div class="pull-right">
                    <a ng-click="vm.openReportsQueryCreationModal()" class="btn btn-default waves-effect">
                        <i class="fa fa-plus"></i> @L("NewreportsQuery")
                    </a>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_reportsFilter.$invalid">
            @L("Save")
        </button>
    </div>
</form>
