    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa {{$state.$current.data.iconClass}}" ng-class="{'fa-comments': !$state.$current.data.iconClass}"></i>
                            {{vm.title}} - @L("ReportsFiltersList")
                        </div>
                        <div class="tools" style="width: 233px;">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right;
                                margin: -8px;
                                width: 217px;
                            ">
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div id="GridMain" ui-grid="gridOptions"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" ng-click="vm.close()">
                        @L("Close")
                    </button>
                </div>
            </div>
        </div>
    </div>
