<link href="~/App/Main/views/enrollments/enrollmentStyles.css" rel="stylesheet" />
<form id="frm_change_enrollment" name="enrollmentChangeForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("ChangeEnrollmentPersonalId")</span>
        </h4>
    </div>
    <div class="modal-body">
        @*<uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="@L("EnrollmentInformation")">*@
        <div class="row">
            <span class="span-title">@L("PersonalInformation") </span>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentFirstName"
                           maxlength="30"
                           ng-class="{'edited':vm.enrollment.firstName != null}"
                           ng-model="vm.enrollment.firstName"
                           required
                           tabindex="11">
                    <label for="enrollmentFirstName">@L("EnrollmentFirstName")</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="enrollmentLastName"
                           maxlength="30"
                           ng-class="{'edited':vm.enrollment.lastName != null}"
                           ng-model="vm.enrollment.lastName"
                           required
                           tabindex="12">
                    <label for="enrollmentLastName">@L("EnrollmentLastName")</label>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           ng-pattern="/^[0-9\s]{0,11}$/"
                           onkeypress="return JustNumbers(event)"
                           class="form-control"
                           id="enrollmentId"
                           maxlength="11"
                           ng-class="{'edited':vm.enrollment.id != null}"
                           ng-model="vm.enrollment.id"
                           disabled
                           readonly
                           tabindex="10">
                    <label for="enrollmentId">@L("CurrentPersonalId")</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           ng-pattern="/^[0-9\s]{0,11}$/"
                           onkeypress="return JustNumbers(event)"
                           class="form-control"
                           id="enrollmentNewEnrollmentId"
                           maxlength="11"
                           ng-class="{'edited':vm.enrollment.newEnrollmentId != null}"
                           ng-model="vm.enrollment.newEnrollmentId"
                           required
                           tabindex="10">
                    <label for="enrollmentNewEnrollmentId">@L("NewPersonalId")</label>
                </div>
            </div>
      
        </div>

  
      </div>


    <div class="modal-footer">
        <button type="button"
                class="btn btn-default waves-effect"
                ng-click="vm.cancel()"
                tabindex="31">
            @L("Cancel")
        </button>
        <button type="submit"
                class="btn btn-primary waves-effect"
                ng-click="vm.save()"
                ng-disabled="enrollmentChangeForm.$invalid"
                tabindex="30">
            @L("Save")
        </button>
    </div>
</form>
