<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.enrollments.generateAllPaymentProyection as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li ng-repeat="bitem in breadcrumb">
                <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                <i class="fa fa-id-card" ng-if="breadcrumb.length != bitem.index"></i>
            </li>
        </ul>
        <div class="page-toolbar">
          
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button class="btn btn-danger" ng-click="vm.generateAllPaymentProyection()">
              @L("GenerateAllPaymentProjections")
          </button>
        </div>
    </div>
</div>
