<form id="frm_edit_gender" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditGender")</span>
        </h4>
    </div>
    <div class="modal-body">


        <div class="row">

            <div class="col-md-8">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="genderName"
                           maxlength="10"
                           ng-class="{'edited':vm.gender.name != null}"
                           ng-model="vm.gender.name"
                           required>
                    <label for="genderName">@L("GenderName")</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="genderCode"
                           maxlength="1"
                           ng-class="{'edited':vm.gender.code != null}"
                           ng-model="vm.gender.code"
                           required>
                    <label for="genderCode">@L("GenderCode")</label>
                </div>
            </div>
        </div>
        @*<div class="md-checkbox">
            <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.gender.isActive">
            <label for="IsActive">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>@L("IsActive")
            </label>
        </div>*@



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_gender.$invalid">
            @L("Save")
        </button>
    </div>
</form>
