<form id="frm_create_message" name="messageCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span ng-if="!vm.message.id">@L("CreateNewMessage")</span>
            <span ng-if="vm.message.id">@L("EditMessage")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="messageSubject"
                           maxlength="200"
                           ng-class="{'edited':vm.message.subject != null}"
                           ng-model="vm.message.subject"
                           required>
                    <label for="messageSubject">@L("MessageSubject")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    @*<input type="text"
                           class="form-control"
                           id="messageBody"
                           ng-class="{'edited':vm.message.body != null}"
                           ng-model="vm.message.body"
                           required>*@
                    <textarea class="form-control"
                               id="messageBody"
                              rows="10"
                           ng-class="{'edited':vm.message.body != null}"
                           ng-model="vm.message.body"
                           required
                              ></textarea>
                    <label for="messageBody">@L("MessageBody")</label>
                </div>

                <div ng-show="vm.permission.allTenant" class="md-checkbox">
                    <input type="checkbox" id="AllTenant" class="md-check" ng-change="vm.message.tenantId=null" ng-model="vm.message.allTenant">
                    <label for="AllTenant">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AllSchool")
                    </label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <select ng-model="vm.message.tenantId" 
                            class="form-control"
                            ng-if="!vm.message.allTenant"
                            ng-options="item.id as item.name for item in vm.tenants"
                            ng-required="!vm.message.allTenant"
                            ng-disabled="vm.message.allTenant"
                             ng-change="vm.allTenantChange()" 
                            placeholder="@L("ChoiseSchool")"></select>

                    <span disabled class="form-control" ng-if="vm.message.allTenant"><strong>@L("AllSchool")</strong> </span>
                    <label ng-if="!vm.message.allTenant" for="UserAngu">@L("School")</label>
                </div>

                <div ng-show="vm.permission.allUser" class="md-checkbox">
                    <input type="checkbox" id="AllUser" class="md-check" ng-change="vm.destinationUserChange()" ng-model="vm.message.allUser">
                    <label for="AllUser">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("AllUser")
                    </label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <div ng-if="!vm.message.allUser">
                        <angucomplete-alt id="UserAngu"
                                          placeholder="@L("SearchUsers")"
                                          pause="400"
                                          selected-object="selectedUser"
                                          remote-api-handler="getUsersForMessage"
                                          title-field="fullName"
                                          description-field="emailAddress"
                                          input-class="form-control form-control-small"
                                          field-required='true'
                                          input-name="user"/>
                    </div>

                    <span disabled class="form-control" ng-if="vm.message.allUser"><strong>@L("AllUsers")</strong> </span>
                    <label ng-if="!vm.message.allUser" for="UserAngu">@L("User")</label>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.message.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>


            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="messageCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
