<form id="frm_create_message" name="messageCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="photo">
            <img src="Account/GetUserPicture/{{vm.message.creatorUserId}}" class="img-circle" alt="">
        </span>
        <h4 class="modal-title">
            <span>@L("MessageFrom") : {{vm.message.fromUser_FullName}}</span>

        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>


                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label>@L("MessageSubject")</label>
                    <textarea class="form-control" rows="2" readonly="readonly" ng-model="vm.message.subject"></textarea>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <label for="messageBody">@L("MessageBody")</label>
                    <textarea class="form-control" rows="10" readonly="readonly" ng-model="vm.message.body"></textarea>
                </div>



            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Close")
        </button>
    </div>
</form>
