<form id="frm_edit_providerShop" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditProviderShop")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopName"
                           maxlength="200" 

						   ng-class="{'edited':vm.providerShop.name != null}"
                           ng-model="vm.providerShop.name"
                           required>
                    <label for="providerShopName">@L("Name")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopReference"
                           maxlength="20" 

						   ng-class="{'edited':vm.providerShop.reference != null}"
                           ng-model="vm.providerShop.reference"
                           required>
                    <label for="providerShopReference">@L("Reference")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopRnc"
                           maxlength="15" 

						   ng-class="{'edited':vm.providerShop.rnc != null}"
                           ng-model="vm.providerShop.rnc"
                           required>
                    <label for="providerShopRnc">@L("Rnc")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopPhone1"
                           maxlength="15" 

						   ng-class="{'edited':vm.providerShop.phone1 != null}"
                           ng-model="vm.providerShop.phone1"
                           required>
                    <label for="providerShopPhone1">@L("Phone1")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopPhone2"
                           maxlength="15" 

						   ng-class="{'edited':vm.providerShop.phone2 != null}"
                           ng-model="vm.providerShop.phone2"
                           required>
                    <label for="providerShopPhone2">@L("Phone2")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerShopAddress"
                           maxlength="100" 

						   ng-class="{'edited':vm.providerShop.address != null}"
                           ng-model="vm.providerShop.address"
                           required>
                    <label for="providerShopAddress">@L("Address")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.providerShop.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_providerShop.$invalid">
            @L("Save")
        </button>
    </div>
</form>
