
/* here you can put your own css to customize and override the theme    (CustomCSS to be Found it XXXCSS keyword frase)*/
/* here you can put your own css to customize and override the theme */
body > div.page-container > div.view-home > div {
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
}

    body > div.page-container > div.view-home > div:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /*opacity: 0.1;*/
        background-image: url('/Content/assets/layouts/layout2/logo/EasySchoolManagerBigLogo.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 60%;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: auto;
        background-attachment: fixed;
        z-index: -1;
    }


.user-combobox .tools .select2-container {
    float: left;
    margin: -8px;
    width: 217px !important;
    margin-left: 10px;
    margin-right: -3px;
    border-radius: 25px !important;
    overflow: hidden;
}

.user-combobox .tools .fa-search {
    margin-left: 15px;
}

.user-combobox .tools .customfa1 {
    margin-top: 3px;
    float: left;
}

.user-combobox .tools .customfa2 {
    margin-left: 266px;
}

.user-combobox .tools {
    width: 500px;
}

.span-title {
    height: 22px;
    float: left;
    font-weight: bold;
    text-indent: 15px;
    text-decoration: underline;
    color: #051997;
}

#grd-reports-filters {
    margin-top: -15px;
}


.page-bar {
    background-color: transparent !important;
}

edited-margin {
    height: 20px !important;
}

.md-datepicker-calendar-pane {
    z-index: 1200 !important;
}

.page-toolbar .dropdown-menu > li > a {
    border: 1px solid #a0a0a0 !important;
}


input:invalid {
    border: 2px solid red;
}

input:disabled {
    background-color: #bdc0c1 !important;
    border-bottom-color: #058a81 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 5px !important;
}

* {
    /*CSS transitions*/
    /*-o-transition-property: none !important;
    -moz-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;*/
    /*CSS transforms*/
    /*-o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;*/
    /*CSS animations*/
    /*-webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;*/
}


.fa-grid-icon1 {
    font-size: 20px;
}

.fa-grid-icon2 {
    font-size: 24px;
}

.fa-grid-icon3 {
    font-size: 28px;
}

.fontRed {
    color: red;
}

input[type=text].ng-invalid, input[type=number].ng-invalid, input[type=date].ng-invalid, input[type=email].ng-invalid, input[type=password].ng-invalid, input[type=email].ng-invalid, select.ng-invalid, textarea.ng-invalid {
    border-bottom: solid !important;
    border-bottom-width: 2px !important;
    border-bottom-color: red !important;
}

form.ng-invalid {
    border-bottom: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: white !important;
}

/*.form-group select.ng-invalid {
    border-bottom: solid !important;
    border-bottom-width: 4px !important;
    border-bottom-color: white !important;
}*/


select.ng-invalid + span {
    border-bottom: solid !important;
    border-bottom-width: 2px !important;
    border-bottom-color: red !important;
    background-color: red;
}


.form-group.form-md-line-input.form-md-floating-label .form-control ~ label {
    font-size: 16px;
    top: 25px;
    transition: .2s ease all;
    color: black !important;
    font-weight: bold;
}


.modal-title {
    text-align: center !important;
    font-weight: bold;
}

.modal .modal-header {
    border-bottom: 5px solid #bdc0c1;
    background-color: #288cb1;
    color: white;
    font-weight: bold !important;
}

.form-group label {
    font-weight: bold !important;
    color: black !important;
}


.difference-amount {
    font-weight: bold !important;
    color: red !important;
    border-color: darkblue;
}


.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    font-weight: bold !important;
}


.red-font {
    color: red !important;
    font-weight: bold !important;
}

.green-font {
    color: green !important;
    font-weight: bold !important;
}

.font-uigrid-right {
    text-align: right !important;
}

.datepicker-padding {
    padding-top: 0px !important;
}

.datepicker-label {
    margin-bottom: 1px !important;
}

.show-top {
    z-index: 100000;
}

.modal-xlg {
    width: 95% !important;
}

.trucate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.page-count {
    padding-top: 6px !important;
    display: inline-table !important;
    float: left;
    padding-right: 12px;
    padding-left: 8px;
    font-weight: bold;
    border: 1px solid #ccc;
    min-height: 33px;
}

.current-page {
    margin-top: 0px !important;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    background-color:#9db0f8;
}

    .current-page:focus {
     background-color:white;
    }

.navigation-separator {
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    border: 1px solid #ccc;
    min-height: 33px;
    display: inline-table !important;
    padding-top: 6px !important;
}

.prev {
   font-weight:bold;
}
