<h3 class="page-title">
    {{$state.$current.data.pageTitle}}
    <small>{{$state.$current.data.pageTitleSub}}</small>
</h3>
<div ng-controller="app.views.TransactionQueues.index as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li ng-repeat="bitem in breadcrumb">
                <i class="fa {{bitem.iconClass}}" ng-class="{'fa-home': !bitem.iconClass}"></i>
                <a ui-sref="{{bitem.name}}">{{bitem.desc}}</a>
                <i class="fa fa-angle-right" ng-if="breadcrumb.length != bitem.index"></i>
            </li>
        </ul>
    </div>
    <div class="row clearfix">
        <form id="downloadFrom" name="downloadFrom" validate>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card main-content">

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12" style="margin-right: 15px;">

                        <div class="form-group row clearfix datepicker-padding">

                            <label for="tenantControl">@L("Tenant")</label>

                            <my-select class="select-choosen form-control" 
                                    url="/api/services/app/tenant/GetAllTenantsForCombo" 
                                    title-field="name"
                                    data-live-search="true" 
                                    model="vm.tenantId"
                                    track-by="id" 
                                    ng-required="false">
                            </my-select>

                        </div>

                    </div>

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12" style="margin-right: 15px;">

                        <div class="form-group row clearfix datepicker-padding">

                            <label for="fromDateControl">@L("From")</label>

                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="fromDateControl" type="date" class="form-control" required ng-model="vm.fromDate" />
                            </datepicker>

                        </div>

                    </div>

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12">

                        <div class="form-group row clearfix datepicker-padding">

                            <label for="toDateControl">@L("To")</label>

                            <datepicker date-format="dd/MM/yyyy" selector="form-control">
                                <input id="toDateControl" type="date" class="form-control" required ng-model="vm.toDate" />
                            </datepicker>
                        </div>

                    </div>

                    <div class=" col-md-2 col-lg-2 col-sm-2 col-sm-12">
                        <button type="button" class="btn btn-primary waves-effect" ng-click="vm.download()" ng-disabled="downloadFrom.$invalid" style="margin-top: 23px;">
                            @L("Download")
                        </button>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
