
<div class="modal-header" style="background-color:darkgreen; color:white; font-weight:bold">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <span>@L("SearchingTutorByStudentName")</span>
    </h4>
</div>
<div class="modal-body">
    <div class="page-bar">
        <div class="page-toolbar">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="tools" style="width: 100%;">
                            <i class="fa fa-search"></i>
                            <input id="txtSearch" type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right;
                                margin: -8px;
                                width: 97%;
                            ">
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div id="GridMain" ui-grid="gridOptions"></div>

                        <div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-6">
                                <div class="margin-left-standar">
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="First" ng-click="pagination.first()"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="Prev" ng-click="pagination.prior()"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active bordered padding-none">
                                            <a class="padding-none" style="padding:0px!important">
                                                <input ng-model="pagination.currentPage" id="txtCurrentPage" type="number" min="1" max="{{pagination.totalPages}}" style="color:black;"
                                                       ng-keyup="enterToGoToPage($event)" class="current-page" /> @*{{pagination.currentPage}}*@
                                                </a>
                                            </li>
                                            <li class="bordered page-count"> @L("Of") {{pagination.totalPages}} @L("Pages") </li>
                                            <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a></li>
                                            <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Last" ng-click="pagination.last()"><i class="fa fa-angle-double-right"></i></a></li>
                                            <li class="navigation-separator"> - </li>
                                            <li class="bordered page-count"> {{pagination.totalRecords}} @L("Records") </li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
