<form id="frm_edit_courseSession" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditCourseSession")</span>
        </h4>
    </div>
    <div class="modal-body">

                				
                @*<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="courseSessionCourse" class="form-label">@L("CourseSessionCourse")</label>
                                <select id="courseSessionCourse" name="courseSessionCourse"
                                        ng-class="{'edited':vm.courseSession.courseId != null}"
                                        ng-model="vm.courseSession.courseId" required
                                        class="select2me validate form-control">
                                    <option ng-repeat="ite in vm.courses" value="{{ite.id}}" ng-selected="ite.id == vm.courseSession.courseId"> {{ite.name}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>*@		
     
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="courseSessionCourse2">@L("CourseSessionCourse")</label>
                    <select id="courseSessionCourse2"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.courses"
                            ng-model="vm.courseSession.courseId"
                            ui-jq="selectpicker"
                            ng-class="{'edited':vm.courseSession.courseId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="courseSessionName"
                           maxlength="1"
                           ng-class="{'edited':vm.courseSession.name != null}"
                           ng-model="vm.courseSession.name"
                           required>
                    <label for="courseSessionServiceName">@L("CourseSessionName")</label>
                </div>
            </div>

        </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.courseSession.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@
				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_courseSession.$invalid">
            @L("Save")
        </button>
    </div>
</form>
