<form id="frm_create_paymentDate" name="paymentDateCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPaymentDate")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <input id="paymentDatePaymentDay"
                                   type="number" name="PaymentDay"
                                   ng-model="vm.paymentDate.paymentDay"
                                   required
                                   ng-class="{'edited':vm.paymentDate.paymentDay != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                            <label for="paymentDatePaymentDay" class="form-label">@L("PaymentDatePaymentDay")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <input id="paymentDatePaymentMonth"
                                   type="number" name="PaymentMonth"
                                   ng-model="vm.paymentDate.initialMonth"
                                   required
                                   ng-class="{'edited':vm.paymentDate.initialMonth != null}"
                                   number maxlength="50"
                                   min="1"
                                   max="12"
                                   step="1"
                                   class="validate form-control">
                            <label for="paymentDatePaymentMonth" class="form-label">@L("InitialMonth")</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <input id="paymentDatePaymentYear"
                                   type="number" name="PaymentYear"
                                   ng-model="vm.paymentDate.initialYear"
                                   required
                                   ng-class="{'edited':vm.paymentDate.initialYear != null}"
                                   number maxlength="50"
                                   min="2016"
                                   max="2200"
                                   step="1"
                                   class="validate form-control">
                            <label for="paymentDatePaymentMonth" class="form-label">@L("InitialYear")</label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <input id="paymentDateNumberOfPayment"
                                   type="number" name="NumberOfPayment"
                                   ng-model="vm.paymentDate.NumberOfPayments"
                                   required
                                   ng-class="{'edited':vm.paymentDate.NumberOfPayments != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                            <label for="paymentDatePaymentMonth" class="form-label">@L("PaymentDateNumberOfPayments")</label>
                        </div>
                    </div>


                </div>


                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.paymentDate.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="paymentDateCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
