<form id="frm_edit_paymentDate" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditPaymentDate")</span>
        </h4>
    </div>
    <div class="modal-body">

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <label for="paymentDateSequence" class="form-label">@L("PaymentDateSequence")</label>
                            <input id="paymentDateSequence"
                                   type="number" name="Sequence"
                                   ng-model="vm.paymentDate.sequence"
                                   disabled readonly
                                   ng-class="{'edited':vm.paymentDate.sequence != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                       </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <label for="paymentDatePaymentDay" class="form-label">@L("PaymentDatePaymentDay")</label>
                            <input id="paymentDatePaymentDay"
                                   type="number" name="PaymentDay"
                                   ng-model="vm.paymentDate.paymentDay"
                                   required
                                   ng-class="{'edited':vm.paymentDate.paymentDay != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <label for="paymentDatePaymentMonth" class="form-label">@L("PaymentDatePaymentMonth")</label>
                            <input id="paymentDatePaymentMonth"
                                   type="number" name="PaymentMonth"
                                   ng-model="vm.paymentDate.paymentMonth"
                                   required
                                   ng-class="{'edited':vm.paymentDate.paymentMonth != null}"
                                   number maxlength="50"
                                   class="validate form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">

                            <label for="paymentDatePaymentYear" class="form-label">@L("Year")</label>
                            <input id="paymentDatePaymentYear"
                                   type="number" name="PaymentYear"
                                   ng-model="vm.paymentDate.paymentYear"
                                   required
                                   ng-class="{'edited':vm.paymentDate.paymentYear!= null}"
                                   number maxlength="50"
                                   min="2000"
                                   max="2200"
                                   class="validate form-control">
                        </div>
                    </div>
                </div>

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.paymentDate.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_paymentDate.$invalid">
            @L("Save")
        </button>
    </div>
</form>
