<form id="frm_create_transactionType" name="transactionTypeCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewTransactionType")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="transactionTypeName"
                           maxlength="25" 

						   ng-class="{'edited':vm.transactionType.name != null}"
                           ng-model="vm.transactionType.name"
                           required>
                    <label for="transactionTypeName">@L("TransactionTypeName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="transactionTypeAbbreviation"
                           maxlength="3" 

						   ng-class="{'edited':vm.transactionType.abbreviation != null}"
                           ng-model="vm.transactionType.abbreviation"
                           required>
                    <label for="transactionTypeAbbreviation">@L("TransactionTypeAbbreviation")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.transactionType.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="transactionTypeCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
