<form id="frm_create_evaluationLegend" name="evaluationLegendCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewEvaluationLegend")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="evaluationLegendName"
                           maxlength="1" 

						   ng-class="{'edited':vm.evaluationLegend.name != null}"
                           ng-model="vm.evaluationLegend.name"
                           required>
                    <label for="evaluationLegendName">@L("EvaluationLegendName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="evaluationLegendDescription"
                           maxlength="255" 

						   ng-class="{'edited':vm.evaluationLegend.description != null}"
                           ng-model="vm.evaluationLegend.description"
                           required>
                    <label for="evaluationLegendDescription">@L("EvaluationLegendDescription")</label>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="number"
                           max="9"
                           min="1"
                           class="form-control"
                           id="evaluationLegendSequence"
                           maxlength="1"
                           ng-class="{'edited':vm.evaluationLegend.sequence != null}"
                           ng-model="vm.evaluationLegend.sequence"
                           required>
                    <label for="evaluationLegendSequence">@L("EvaluationLegendSequence")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.evaluationLegend.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="evaluationLegendCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
