<form id="frm_create_discount" name="discountCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewDiscount")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="discountPeriod">@L("Period")</label>
                    <select id="discountPeriod"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.period for item in vm.periods"
                            ng-model="vm.discount.periodId"
                            ng-class="{'edited':vm.discount.periodId != null}"
                            required
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="DiscountConcept">@L("Concept")</label>
                    <select id="DiscountConcept"
                            tabindex="21"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts"
                            ng-model="vm.discount.conceptId"
                            ng-class="{'edited':vm.discount.conceptId != null}"
                            data-live-search="true"
                            required
                            ng-disabled="vm.discount.periodId == null">
                        <option value=""></option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4" style="margin-top:40px;">
                <label for="EnrollmentName">@L("Enrollment")</label>
            </div>
            <div class="col-md-8">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"  style="margin-top:17px;">
                <input type="text" id="EnrollmentName" style="max-width:75%;" my-enter="vm.searchEnrollmentByNumber()"
                       class="form-control" ng-model="vm.discount.enrollment"
                       placeholder="@L("EnrollmentNumber")"
                       ng-disabled="vm.discount.periodId == null" />
            </div>

            <div class="col-md-8">
                <div class="form-group input-group" style="max-width:100%;display:inline-block; padding-bottom:15px;padding-top: 19px;">


                    <input type="text" id="EnrollmentName" style="max-width:75%;" my-enter="vm.searchEnrollments()"
                           class="form-control" ng-model="vm.discount.enrollmentName"
                           placeholder="@L("EnrollmentName")"
                           disabled />

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.showModal()"
                                ng-disabled="vm.discount.periodId == null">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.cleanDiscountEnrollment()"
                                ng-disabled="vm.discount.periodId == null">
                            <i class="fa fa-eraser"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4" style="margin-top:40px;">
                <label for="EnrollmentName">@L("StudentName")</label>
            </div>

            <div class="col-md-8" style="margin-top:10px;">
                <div class="form-group input-group" style="max-width:100%;display:inline-block; padding-bottom:15px;padding-top: 19px;">


                    <input type="text" id="StudentName" style="max-width:75%;"
                           disabled class="form-control" ng-model="vm.discount.studentName" placeholder="@L("StudentName")" />

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.viewAllEnrollmentStudent()"
                                ng-disabled="vm.discount.enrollmentStudents == null || vm.discount.enrollmentStudents.length == 0">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.cleanDiscountStudent()"
                                ng-disabled="vm.discount.periodId == null">
                            <i class="fa fa-eraser"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="discountNames">@L("DiscountNames")</label>
                    <select id="discountNames"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.discountNames"
                            ng-model="vm.discount.discountNameId"
                            ng-class="{'edited':vm.discount.discountNameId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="PeriodDiscountDetail">@L("Percent")</label>
                    <select id="PeriodDiscountDetail"
                            tabindex="21"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.discountPercent for item in vm.periodDiscountDetails"
                            ng-model="vm.discount.periodDiscountDetailId"
                            ng-class="{'edited':vm.discount.periodDiscountDetailId != null}"
                            data-live-search="true"
                            required
                            ng-disabled="vm.discount.periodId == null">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    @*<div class="md-checkbox">
        <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.discount.isActive">
        <label for="IsActive">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>@L("IsActive")
        </label>
    </div>*@

    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="discountCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
