<form id="frm_create_inventory" name="inventoryCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewInventory")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryArticleId" 
								type="number" name="ArticleId" 
								ng-model="vm.inventory.articleId" 
								required  
								ng-class="{'edited':vm.inventory.articleId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryArticleId" class="form-label">@L("InventoryArticleId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryExistence" 
								type="number" name="Existence" 
								ng-model="vm.inventory.existence" 
								required  
								ng-class="{'edited':vm.inventory.existence != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryExistence" class="form-label">@L("InventoryExistence")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryPrice" 
								type="number" name="Price" 
								ng-model="vm.inventory.price" 
								required  
								ng-class="{'edited':vm.inventory.price != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryPrice" class="form-label">@L("InventoryPrice")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.inventory.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="inventoryCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
