<form id="frm_edit_inventory" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditInventory")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
 
                
                 <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="inventoryArticle"
                           maxlength="150"
                           ng-class="{'edited':vm.inventory.atenantInventories_Name != null}"
                           ng-model="vm.inventory.tenantInventories_Name"
                           readonly
                           required>
                    <label for="inventoryTenant">@L("Tenant")</label>
                </div>	
                				
                <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                         <input type="text"
                               class="form-control"
                               id="inventoryArticle"
                               maxlength="150"
                               ng-class="{'edited':vm.inventory.articles_Description != null}"
                               ng-model="vm.inventory.articles_Description"
                               readonly
                               required>
                        <label for="inventoryArticle">@L("Article")</label>
                </div>				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryExistence" 
								type="number" name="Existence" 
								ng-model="vm.inventory.existence" 
								readonly  
								ng-class="{'edited':vm.inventory.existence != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryExistence" class="form-label">@L("Existence")</label>
                            </div>
                        </div>
                   </div> 
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="inventoryPrice" 
								type="number" name="Price" 
								ng-model="vm.inventory.price" 
								ng-class="{'edited':vm.inventory.price != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="inventoryPrice" class="form-label">@L("Price")</label>
                            </div>
                        </div>
                    </div>
               </div>  
	

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.inventory.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_inventory.$invalid">
            @L("Save")
        </button>
    </div>
</form>
