
<link href="~/App/Main/views/trades/tradesStyles.css" rel="stylesheet" />
<form id="frm_create_trade" name="tradeCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewTrade")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>

                <div class="row">
                    <div class="col-md-2">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix datepicker-padding">

                            <label for="tradeDate">@L("Date")</label>
                            <datepicker date-format="dd/MM/yyyy"
                                        selector="form-control">
                                <input id="tradeDate"
                                       class="form-control"
                                       ng-model="vm.trade.dateTemp" />
                            </datepicker>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="tradeCourrierPerson">@L("TradeCourrierPerson")</label>
                            <select id="tradeCourrierPerson"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.courrierPersons"
                                    ng-model="vm.trade.courrierPersonId"
                                    ng-class="{'edited':vm.trade.courrierPersonId != null}"
                                    data-live-search="true"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="tradeTenantReceiveId">@L("Tenant")</label>
                            <select id="tradeTenantReceiveId"
                                    class="select2me form-control"
                                    ng-options="$helpers.getEditionId(item) as item.name for item in vm.tenants"
                                    ng-model="vm.trade.tenantReceiveId"
                                    ng-class="{'edited':vm.trade.tenantReceiveId != null}"
                                    data-live-search="true"
                                    required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>              
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tradeComment"
                           maxlength="250" 

						   ng-class="{'edited':vm.trade.comment != null}"
                           ng-model="vm.trade.comment"
                           required>
                    <label for="tradeComment">@L("TradeComment")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tradeCommentSend"
                           maxlength="250" 

						   ng-class="{'edited':vm.trade.commentSend != null}"
                           ng-model="vm.trade.commentSend"
                           required>
                    <label for="tradeCommentSend">@L("Commentary")</label>
                </div>
				
                <div class="row adding-product">

                    <div class="col-md-2" style="margin-top:10px;">

                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="number"
                                   class="form-control"
                                   id="transactionArticleId"
                                   maxlength="9"
                                   ng-class="{'edited':vm.article.id != null}"
                                   ng-model="vm.article.id"
                                   ng-focus="vm.articleIdIsFocused = true"
                                   ng-blur="vm.articleIdIsFocused = false"
                                   onkeypress="return enterToTab(event,this);">

                            <label for="articleArticleId">@L("ArticleId")</label>
                        </div>
                    </div>

                    <div class="col-md-5" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <angucomplete-alt id="ArticleAngu"
                                              placeholder="@L("SearchArcticle")"
                                              pause="400"
                                              selected-object="returnedArticle"
                                              remote-api-handler="getArticlesByName"
                                              remote-url-data-field="items"
                                              title-field="description, price"
                                              description-field="reference"
                                              min-length="0"
                                              input-class="form-control form-control-small"
                                              onkeypress="return enterToTab(event,this);" />

                        </div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="articleQuantity"
                                   maxlength="100"
                                   ng-class="{'edited':vm.article.quantity != null}"
                                   ng-model="vm.article.quantity"
                                   onkeypress="return enterToTab(event,this);">
                            <label for="articleQuantity">@L("Qty")</label>
                        </div>
                    </div>

          @*          <div class="col-md-2" style="margin-top:10px;">
        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
            <input type="text"
                   class="form-control"
                   id="articlePrice"
                   maxlength="100"
                   ng-class="{'edited':vm.article.price != null}"
                   ng-model="vm.article.price"
                   onkeypress="return enterToTab(event,this);">
            <label for="articlePrice">@L("Price")</label>
        </div>
    </div>*@
                    <div class="col-md-3">
                        <input type="button" ng-disabled="vm.article.id == null || vm.article.quantity == null || vm.article.description == null" class="btn btn-default button-margin" value="@L("Add")" ng-click="vm.appendArticle();" />
                    </div>


                </div>		

                <br />
                @*<div id="gridArticle" ui-grid="gridArticleOptions" style="height: 50px; margin-bottom:5px;"></div>*@
                <div class="">
                    <table id="tbArticle" style="width:100%;">
                        <thead class="cabezaArticulos">
                            <tr style="height:35px;width: 100%;">
                                <th style="width:50px; text-align:right">@L("Id")</th>
                                <th style="width:600px;">@L("Article")</th>
                                <th style="width:120px; text-align:right">@L("Qty")</th>
                             @*    <th style="width:70px; text-align:right">@L("Price")</th>
                                   <th style="width:100px; text-align:right">@L("Total")</th>*@
                                  <th style="width:120px; text-align:center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody class="contenedorArticulos">
                            <tr ng-repeat="art in vm.trade.articles" ng-class="{'odd': (($index % 2) == 0)}">
                                <td style="width:50px; text-align:right;"> {{art.id}}</td>
                                <td style="width:600px; padding-right:3px;"> {{art.description}}</td>
                                <td style="width:120px; text-align:right"> {{art.quantity}}</td>
                             @*   <td style="width:70px; text-align:right"> {{art.price|number :2}}</td>
                                  <td style="width:100px; text-align:right"> {{art.total |number :2}}</td>*@
                                <td style="width:100px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeArticle(art)"><i class="fa fa-times-circle"></i> </span> </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.trade.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="tradeCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
