<form id="frm_edit_trade" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditTrade")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tradeComment"
                           maxlength="250" 

						   ng-class="{'edited':vm.trade.comment != null}"
                           ng-model="vm.trade.comment"
                           required>
                    <label for="tradeComment">@L("TradeComment")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tradeCommentSend"
                           maxlength="250" 

						   ng-class="{'edited':vm.trade.commentSend != null}"
                           ng-model="vm.trade.commentSend"
                           required>
                    <label for="tradeCommentSend">@L("TradeCommentSend")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="tradeCommentReceive"
                           maxlength="250" 

						   ng-class="{'edited':vm.trade.commentReceive != null}"
                           ng-model="vm.trade.commentReceive"
                           required>
                    <label for="tradeCommentReceive">@L("TradeCommentReceive")</label>
                </div>
								
				<div class="form-group">
                    <label for="tradeCourrierPerson">@L("TradeCourrierPerson")</label>
                    <select id="tradeCourrierPerson"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.courrierPersons"
                            ng-model="vm.trade.courrierPersonId"
                            ng-class="{'edited':vm.trade.courrierPersonId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
								
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="tradeTenantReceiveId" 
								type="number" name="TenantReceiveId" 
								ng-model="vm.trade.tenantReceiveId" 
								required  
								ng-class="{'edited':vm.trade.tenantReceiveId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="tradeTenantReceiveId" class="form-label">@L("TradeTenantReceiveId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="tradeUserSendId" 
								type="number" name="UserSendId" 
								ng-model="vm.trade.userSendId" 
								required  
								ng-class="{'edited':vm.trade.userSendId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="tradeUserSendId" class="form-label">@L("TradeUserSendId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="tradeUserReceiveId" 
								type="number" name="UserReceiveId" 
								ng-model="vm.trade.userReceiveId" 
								required  
								ng-class="{'edited':vm.trade.userReceiveId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="tradeUserReceiveId" class="form-label">@L("TradeUserReceiveId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.trade.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_trade.$invalid">
            @L("Save")
        </button>
    </div>
</form>
