<form id="frm_create_company" name="companyCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewCompany")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyRNC"
                           maxlength="15" 

						   ng-class="{'edited':vm.company.rnc != null}"
                           ng-model="vm.company.rNC"
                           required>
                    <label for="companyRNC">@L("CompanyRNC")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyName"
                           maxlength="200" 

						   ng-class="{'edited':vm.company.name != null}"
                           ng-model="vm.company.name"
                           required>
                    <label for="companyName">@L("CompanyName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyCommercialName"
                           maxlength="200" 

						   ng-class="{'edited':vm.company.commercialName != null}"
                           ng-model="vm.company.commercialName"
                           required>
                    <label for="companyCommercialName">@L("CompanyCommercialName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyCommercialActivity"
                           maxlength="200" 

						   ng-class="{'edited':vm.company.commercialActivity != null}"
                           ng-model="vm.company.commercialActivity"
                           required>
                    <label for="companyCommercialActivity">@L("CompanyCommercialActivity")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyCompanyDate"
                           maxlength="10" 

						   ng-class="{'edited':vm.company.companyDate != null}"
                           ng-model="vm.company.companyDate"
                           required>
                    <label for="companyCompanyDate">@L("CompanyCompanyDate")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyStatus"
                           maxlength="15" 

						   ng-class="{'edited':vm.company.status != null}"
                           ng-model="vm.company.status"
                           required>
                    <label for="companyStatus">@L("CompanyStatus")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="companyPaymentSystem"
                           maxlength="100" 

						   ng-class="{'edited':vm.company.paymentSystem != null}"
                           ng-model="vm.company.paymentSystem"
                           required>
                    <label for="companyPaymentSystem">@L("CompanyPaymentSystem")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.company.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="companyCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
