﻿@model EasySchoolManager.Web.Controllers.RetValReportJson
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.nombre</title>
</head>
<body style="margin:0px; width:100%; height:100%; min-height: 1200px;">
    <object id="obj1" data="data:@Model.contentType;base64,@Model.data64" type="@Model.contentType" style="margin:0px; width:100%; height:100%; min-height: 1200px;">
        <p>It appears you don't have Adobe Reader or PDF support in this web browser. <a href="lorem.pdf">Click here to download the PDF</a>. Or <a href="http://get.adobe.com/reader/" target="_blank">click here to install Adobe Reader</a>.</p>
        <embed data="data:@Model.contentType;base64,@Model.data64" type="@Model.contentType" style="margin:0px; width:100%; height:100%; min-height: 1200px;" />
    </object>

</body>
</html>
