<form id="frm_edit_provider" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditProvider")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerName"
                           maxlength="200" 

						   ng-class="{'edited':vm.provider.name != null}"
                           ng-model="vm.provider.name"
                           required>
                    <label for="providerName">@L("ProviderName")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerReference"
                           maxlength="20" 

						   ng-class="{'edited':vm.provider.reference != null}"
                           ng-model="vm.provider.reference"
                           required>
                    <label for="providerReference">@L("ProviderReference")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerRnc"
                           maxlength="15" 

						   ng-class="{'edited':vm.provider.rnc != null}"
                           ng-model="vm.provider.rnc"
                           required>
                    <label for="providerRnc">@L("ProviderRnc")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerPhone1"
                           maxlength="15" 

						   ng-class="{'edited':vm.provider.phone1 != null}"
                           ng-model="vm.provider.phone1"
                           required>
                    <label for="providerPhone1">@L("ProviderPhone1")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerPhone2"
                           maxlength="15" 

						   ng-class="{'edited':vm.provider.phone2 != null}"
                           ng-model="vm.provider.phone2"
                           required>
                    <label for="providerPhone2">@L("ProviderPhone2")</label>
                </div>
			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="providerAddress"
                           maxlength="100" 

						   ng-class="{'edited':vm.provider.address != null}"
                           ng-model="vm.provider.address"
                           required>
                    <label for="providerAddress">@L("ProviderAddress")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.provider.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_provider.$invalid">
            @L("Save")
        </button>
    </div>
</form>
