<form id="frm_edit_historyCancelReceipt" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditHistoryCancelReceipt")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                

                				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="historyCancelReceiptTransactionId" 
								type="number" name="TransactionId" 
								ng-model="vm.historyCancelReceipt.transactionId" 
								required  
								ng-class="{'edited':vm.historyCancelReceipt.transactionId != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="historyCancelReceiptTransactionId" class="form-label">@L("HistoryCancelReceiptTransactionId")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				

			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="historyCancelReceiptDescription"
                           maxlength="100" 

						   ng-class="{'edited':vm.historyCancelReceipt.description != null}"
                           ng-model="vm.historyCancelReceipt.description"
                           required>
                    <label for="historyCancelReceiptDescription">@L("HistoryCancelReceiptDescription")</label>
                </div>

				
				<div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="historyCancelReceiptCA" 
								type="number" name="CA" 
								ng-model="vm.historyCancelReceipt.cA" 
								required  
								ng-class="{'edited':vm.historyCancelReceipt.cA != null}"
								number maxlength="50" 
								class="validate form-control">
                                <label for="historyCancelReceiptCA" class="form-label">@L("HistoryCancelReceiptCA")</label>
                            </div>
                        </div>
                    </div>
                </div>
				
				



                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.historyCancelReceipt.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_historyCancelReceipt.$invalid">
            @L("Save")
        </button>
    </div>
</form>
