
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            {{vm.options.title}}
        </h4>
    </div>
    <div class="modal-body">
        <div busy-if="vm.loading">
            <form ng-if="vm.options.showFilter" onload="f('txtSearch')">
                <div class="input-group margin-bottom-10">
                    <input id="txtSearch" auto-focus ng-model="vm.options.textFilter" class="form-control" placeholder="@L("Search")" type="text">
                    <span class="input-group-btn">
                        <button ng-click="vm.refreshGrid()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                    </span>
                </div>
            </form>
            <div ui-grid="vm.gridOptions" ui-grid-pagination></div>
            <div class="row" style="margin-bottom: -15px;">
                <div class="col-md-12">
                    <div class="margin-left-standar">
                        <ul class="pagination" style="visibility: visible;">
                            <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="First" ng-click="pagination.first()"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}"><a title="Prev" ng-click="pagination.prior()"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active bordered padding-none">
                                <a class="padding-none" style="padding:0px!important">
                                    <input ng-model="pagination.currentPage" id="txtCurrentPage" type="number" min="1" max="{{pagination.totalPages}}" style="color:black;"
                                           ng-change="pagination.reload()" class="current-page" /> @*{{pagination.currentPage}}*@
                                    </a>
                                </li>
                                <li class="bordered page-count"> @L("Of") {{pagination.totalPages | number}} @L("Pages") </li>
                                <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a></li>
                                <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}"><a title="Last" ng-click="pagination.last()"><i class="fa fa-angle-double-right"></i></a></li>
                                <li class="bordered page-count"> {{pagination.totalRecords | number}} @L("Records") </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
    </div>
</div>