<form id="frm_edit_bankAccount" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("EditBankAccount")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                <div class="form-group">
                    <label for="bankAccountRegion">@L("BankAccountRegion")</label>
                    <select id="bankAccountRegion"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.regions"
                            ng-model="vm.bankAccount.regionId"
                            ng-class="{'edited':vm.bankAccount.regionId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>                
                			
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="bankAccountNumber"
                           maxlength="25" 

						   ng-class="{'edited':vm.bankAccount.number != null}"
                           ng-model="vm.bankAccount.number"
                           required>
                    <label for="bankAccountNumber">@L("BankAccountNumber")</label>
                </div>
								
				<div class="form-group">
                    <label for="bankAccountBank">@L("BankAccountBank")</label>
                    <select id="bankAccountBank"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.banks"
                            ng-model="vm.bankAccount.banktId"
                            ng-class="{'edited':vm.bankAccount.banktId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
							
				<div class="form-group form-md-line-input form-md-floating-label row clearfix">
                    <input type="text"
                           class="form-control"
                           id="bankAccountDescription"
                           maxlength="100" 

						   ng-class="{'edited':vm.bankAccount.description != null}"
                           ng-model="vm.bankAccount.description"
                           required>
                    <label for="bankAccountDescription">@L("BankAccountDescription")</label>
                </div>


                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.bankAccount.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="frm_edit_bankAccount.$invalid">
            @L("Save")
        </button>
    </div>
</form>
