
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <span>@L("ViewStudentTutor")  - <b> @L("tutor") [ {{vm.enrollment.firstName}} {{vm.enrollment.lastName}} ]</b></span>
    </h4>
</div>
<div class="modal-body">
    <div class="page-bar">
        <div class="page-toolbar">
            @*<div class="btn-group pull-right">
                <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true" style="width: 220px;">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
            </div>*@
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">

                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa {{$state.$current.data.iconClass}}" ng-class="{'fa-comments': !$state.$current.data.iconClass}"></i>
                            @L("StudentsList")
                        </div>
                        @*<div class="tools" style="width: 233px;">
                            <i class="fa fa-search"></i>
                            <input type="text" ng-model="vm.textFilter" class="form-control btn-circle bordered" placeholder="@L("TextToFind")" style="
                                float: right;
                                margin: -8px;
                                width: 217px;
                            ">
                        </div>*@
                    </div>
                    <div class="portlet-body">

                        <div id="GridMain" ui-grid="gridOptions"></div>

                        @*<div class="row" style="margin-bottom: -15px;">
                            <div class="col-md-6">
                                <div class="margin-left-standar">
                                    <ul class="pagination" style="visibility: visible;">
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}">
                                            <a title="First" ng-click="pagination.first()"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li class="prev bordered" ng-class="{'disabled': pagination.currentPage == 1}">
                                            <a title="Prev" ng-click="pagination.prior()"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        <li class="active bordered">
                                            <a>{{pagination.currentPage}}</a>
                                        </li>
                                        <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}">
                                            <a title="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                        <li class="next bordered" ng-class="{'disabled': pagination.totalPages == pagina.currentPage}">
                                            <a title="Last" ng-click="pagination.last()"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
