<form id="frm_create_evaluationPeriod" name="evaluationPeriodCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewEvaluationPeriod")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">

            <uib-tab>
                
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-6">
                        <div class="form-group form-md-line-input form-md-floating-label row clearfix">
                            <input type="text"
                                   class="form-control"
                                   id="evaluationPeriodName"
                                   maxlength="15"
                                   ng-class="{'edited':vm.evaluationPeriod.name != null}"
                                   ng-model="vm.evaluationPeriod.name"
                                   required>
                            <label for="evaluationPeriodName">@L("EvaluationPeriodName")</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-lg-6">


                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="evaluationPeriodPosition"
                                               type="number" name="Position"
                                               ng-model="vm.evaluationPeriod.position"
                                               required
                                               ng-class="{'edited':vm.evaluationPeriod.position != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                        <label for="evaluationPeriodPosition" class="form-label">@L("EvaluationPeriodPosition")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-6">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="evaluationPeriodInitialMonth"
                                               type="number" name="InitialMonth"
                                               ng-model="vm.evaluationPeriod.initialMonth"
                                               required
                                               ng-class="{'edited':vm.evaluationPeriod.initialMonth != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                        <label for="evaluationPeriodInitialMonth" class="form-label">@L("EvaluationPeriodInitialMonth")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-lg-6">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="evaluationPeriodFinalMonth"
                                               type="number" name="FinalMonth"
                                               ng-model="vm.evaluationPeriod.finalMonth"
                                               required
                                               ng-class="{'edited':vm.evaluationPeriod.finalMonth != null}"
                                               number maxlength="50"
                                               class="validate form-control">
                                        <label for="evaluationPeriodFinalMonth" class="form-label">@L("EvaluationPeriodFinalMonth")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                			
                
								
				<div class="form-group">
                    <label for="evaluationPeriodPeriod">@L("EvaluationPeriodPeriod")</label>
                    <select id="evaluationPeriodPeriod"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.period for item in vm.periods"
                            ng-model="vm.evaluationPeriod.periodId"
                            ng-class="{'edited':vm.evaluationPeriod.periodId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
				

                <div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.evaluationPeriod.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>				
				
				
            </uib-tab>

        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="evaluationPeriodCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
