<link href="~/App/Main/views/periodDiscounts/periodDiscountStyles.css" rel="stylesheet" />
<form id="frm_create_periodDiscount" name="periodDiscountCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateNewPeriodDiscount")</span>
        </h4>
    </div>
    <div class="modal-body">
                
                								
				<div class="form-group">
                    <label for="periodDiscountDiscountName">@L("Discount")</label>
                    <select id="periodDiscountDiscountName"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.name for item in vm.discountNames"
                            ng-model="vm.periodDiscount.discountNameId"
                            ng-class="{'edited':vm.periodDiscount.discountNameId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
												
				<div class="form-group">
                    <label for="periodDiscountPeriod">@L("Period")</label>
                    <select id="periodDiscountPeriod"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.period for item in vm.periods"
                            ng-model="vm.periodDiscount.periodId"
                            ng-class="{'edited':vm.periodDiscount.periodId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				
												
				<div class="form-group">
                    <label for="periodDiscountConcepts">@L("Concepts")</label>
                    <select id="periodDiscountConcepts"
                            class="select2me form-control"
                            ng-options="$helpers.getEditionId(item) as item.description for item in vm.concepts"
                            ng-model="vm.periodDiscount.conceptId"
                            ng-class="{'edited':vm.periodDiscount.conceptId != null}"
                            data-live-search="true">
                        <option value=""></option>
                    </select>
                </div>
				

                <div class="row">
                    <div class="col-md-4">
                        <label for="AppendItem">@L("Percent")</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" ng-model="vm.periodDiscount.percent" id="txtPercent" />
                    </div>
                    <div class="col-md-4">
                        <button id="btnAgregar" ng-click="vm.insertItem()">@L("Add")</button>
                    </div>
                </div>
                <br />
                <div class="">
                    <table id="tbArticle" style="width:100%;">
                        <thead class="cabezaArticulos">
                            <tr style="height:35px;width: 100%;">
                                <th style="width:50px; text-align:right">@L("Id")</th>
                                <th style="width:480px; text-align:right">@L("Percent")</th>
                                <th style="width:120px; text-align:center">@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody class="contenedorArticulos">
                            <tr ng-repeat="pdd in vm.periodDiscount.periodDiscountDetails | filter: {deleted: false}" ng-class="{'odd': (($index % 2) == 0)}">
                                <td style="width:50px; text-align:right;"> {{pdd.id}}</td>
                                <td style="width:480px;  text-align:right; padding-right:3px;"> {{pdd.discountPercent}}</td>
                                <td style="width:120px; text-align:center;"> <span class="buttonremove" ng-click="vm.removeInEdit(pdd)"><i class="fa fa-times-circle"></i> </span> </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
				

                @*<div class="md-checkbox">
                    <input type="checkbox" id="IsActive" class="md-check" ng-model="vm.periodDiscount.isActive">
                    <label for="IsActive">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>@L("IsActive")
                    </label>
                </div>*@				
				
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="periodDiscountCreateForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>
